Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

ci(preview): fix assets #6
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

chore: switch to commit hash
  .github/workflows/create-unified-test-report.yml
Due: check-format

fix: formatting
  app/routes/interoperabel/EuRechtTab.tsx
Due: lint, check-format

chore(deps): bump pnpm version
  package.json
Due: check-format

ci: rm duplicated preview cleanup
  .github/workflows/preview-cleanup.yml
Due: check-format

chore: add talisman exclusion
  .talismanrc
Due: none

test(e2e): fix playwright error
  app/utils/assetPath.ts
Due: lint, check-format

refactor(react-router): mv preview config to separate file
  app/utils/preview.ts
  app/utils/previewRedirect.tsx
  react-router-preview.config.ts
  react-router.config.ts
Due: lint, check-format

refactor(preview): enable feature flags by default
  .github/workflows/preview.yml
  app/contexts/FeatureFlagContext.ts
  app/utils/featureFlags.server.ts
Due: lint, check-format

refactor(preview): enable feature flags by default
  app/contexts/FeatureFlagContext.ts
  app/utils/featureFlags.server.ts
  vite.config.ts
Due: lint, check-format

feat(preview): add PREVIEW label to Kopfzeile
  app/components/kern-preview/Kopfzeile.tsx
Due: lint, check-format

feat(preview): replace path list w/ staticRoutes
  .github/workflows/preview.yml
  app/resources/content/documentation-document.ts
  app/resources/staticRoutes.ts
  package.json
  react-router-preview.config.ts
Due: lint, check-format

ci(preview): create preview build (#807)
  .github/workflows/preview.yml
  .talismanrc
  app/components/kern-preview/Kopfzeile.tsx
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/resources/content/documentation-document.ts
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel.ts
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/content/methode-it-systeme-erfassen.ts
  app/resources/content/methode-technische-umsetzbarkeit.ts
  app/resources/content/methode-visualisieren.ts
  app/resources/content/methode-zustaendige-akteurinnen-auflisten.ts
  app/resources/content/unterstuetzung.ts
  app/resources/content/vorpruefung.ts
  app/resources/staticRoutes.ts
  app/root.tsx
  app/routes/beispiele.prinzipien._index.tsx
  app/routes/gesetzgebungsprozess.tsx
  app/routes/grundlagen._index.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/interoperabel.loesungen._index.tsx
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.visualisieren._index.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/unterstuetzung/route.tsx
  app/utils/assetPath.ts
  app/utils/featureFlags.server.ts
  app/utils/preview.ts
  app/utils/previewRedirect.tsx
  app/vite-env.d.ts
  package.json
  react-router-preview.config.ts
  react-router.config.ts
  vite.config.ts
Due: lint, check-format

style(PageHeader): left align w/ content
  app/components/kern-preview/Kopfzeile.tsx
  app/layout/PageHeader.tsx
  app/styles.css
Due: lint, check-format

fix(PageHeader): move ProgressBar below header
  app/layout/PageHeader.tsx
Due: lint, check-format

docs(README): npm -> pnpm
  README.md
Due: check-format

refactor: share components between interoperable solutions
  app/components/InteroperableSolutionBanner.tsx
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

feat: add Core Vocabularies page
  app/resources/staticRoutes.ts
  app/routes/interoperabel.loesungen.core-vocabularies.tsx
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
  app/utils/featureFlags.ts
Due: lint, check-format

feat(online-docu): change hilfetext
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation/DocumentationPrincipleV2.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

feat(online-docu): fix word heading
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: none

fix(preview): add missing route
  app/resources/staticRoutes.ts
  package.json
Due: lint, check-format

style(PageHeader): max-w content-width
  app/components/kern-preview/Kopfzeile.tsx
  app/layout/PageHeader.tsx
Due: lint, check-format

style: max-content-width 59rem -> 76rem
  app/styles.css
Due: check-format

style(ProgressBar): center items + no overlap
  app/layout/ProgressBar.tsx
Due: lint, check-format

fix(flussdiagramm): fix a11y issues
  app/components/BackToTopButton.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
