Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Fix process.env being unavailable in dev mode
  .env.test
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
Due: lint, check-format

Fix heading appearance
  app/components/InlineNotice.tsx
Due: lint, check-format

Include run id in URL
  .github/workflows/create-unified-test-report.yml
Due: check-format

Fix import.meta.env in E2E
  .env.test
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
Due: lint, check-format

Remove failing test test
  tests/e2e/general.spec.ts
Due: lint, check-format

Create unified test report for nightly tests
  .github/workflows/nightly-tests.yml
Due: check-format

Revert "Fix import.meta.env in E2E"
  .env.test
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
Due: lint, check-format

Revert "Fix process.env being unavailable in dev mode"
  .env.test
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
Due: lint, check-format

Add comment to ADR
  doc/adr/0023-children-first-react-component-api.md
Due: check-format

Quix fix for mailto links in dev
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
Due: lint, check-format

Remove empty file
  app/components/ListItemContent.tsx
Due: lint, check-format

Refactor test for result page
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Change url of version history
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/das-ist-neu.ts
  app/resources/staticRoutes.ts
  app/routes/das-ist-neu.tsx
Due: lint, check-format

Footer more prominent link design
  app/layout/Footer.tsx
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/shared/footer.ts
Due: lint, check-format

Improve Slack notice
  .github/workflows/check-and-test.yml
  .talismanrc
Due: check-format

Update .talismanrc
  .talismanrc
Due: none

Move slack notification to report merge
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
Due: check-format

Remove pipeline test
  .github/workflows/check-and-test.yml
Due: check-format

Revert "Remove failing test test"
  tests/e2e/general.spec.ts
Due: lint, check-format

Fix slack notification
  .github/workflows/create-unified-test-report.yml
  .github/workflows/pipeline.yml
Due: check-format

Add page header border
  app/layout/PageHeader.tsx
Due: lint, check-format

Add pages for digital documentation mvp
  app/layout/ProgressBar.tsx
  app/resources/content/dokumentation.ts
  app/resources/content/progress.ts
  app/resources/content/shared/general.ts
  app/resources/content/shared/prinzipien.ts
  app/resources/features.ts
  app/resources/staticRoutes.ts
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.informationen-zum-regelungsvorhaben.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation._index.tsx
  app/routes/dokumentation.tsx
  app/routes/methoden.$subPage.tsx
Due: lint, check-format

Reapply "Remove failing test test"
  tests/e2e/general.spec.ts
Due: lint, check-format

Fix e2e test
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Remove padding from container class
  app/layout/ProgressBar.tsx
  app/styles.css
Due: lint, check-format

Simplify spacing on methoden page
  app/components/Timeline.tsx
  app/routes/methoden._index.tsx
Due: lint, check-format

Remove redundant class
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
Due: lint, check-format

Propose ContentWrapper
  app/components/ContentWrapper.tsx
  app/routes/beispiele._index.tsx
Due: lint, check-format

Update spacing
  app/routes/dokumentation._index.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
Due: lint, check-format

Re-remove hyphens for headings
  app/components/Heading.tsx
Due: lint, check-format

Fix other occurrence of five principles
  app/routes/grundlagen.fuenf-prinzipien.tsx
Due: lint, check-format

Provide secrets to nightly tests
  .github/workflows/nightly-tests.yml
Due: check-format

Add integration test for documentation nav
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  package-lock.json
  package.json
  vitest-setup.ts
Due: lint, check-format

Add send page to documentation flow
  app/resources/content/dokumentation.ts
  app/resources/staticRoutes.ts
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

Refactor documentation nav tests
  app/resources/staticRoutes.ts
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

Edit copy
  app/resources/content/beispiele-regelungen.ts
  app/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

Update margins, refactor
  .talismanrc
  app/components/ContentWrapper.tsx
  app/components/Tabs.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
Due: lint, check-format

Address key warning
  app/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

Update principle 1 color
  app/styles.css
Due: check-format

Cleanup code and test names
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
