Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

fix(tabs): filter valid children in TabList component for rendering
  app/components/Tabs/Tabs.tsx
Due: lint, check-format

feat(interoperability): enable feature flag for IO Eu Recht Content
  app/routes/interoperabel._index.tsx
  app/utils/featureFlags.ts
  tests/feature-flags.json
Due: lint, check-format

fix(EuRechtTab): correct typos
  app/routes/interoperabel.eu-recht.tsx
Due: lint, check-format

refactor(EuRechtTab): replace Image component with ImageBox for improved functionality
  app/routes/interoperabel.eu-recht.tsx
Due: lint, check-format

chore: fix lefthook pre-push
  lefthook.yml
Due: check-format

style(a11y): white logos in high contrast dark theme
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  public/logo/bmds-logo-white.svg
  public/logo/bund-logo-white.svg
Due: lint, check-format

style(Footer): bmds logo png -> svg
  app/layout/Footer.tsx
  public/logo/bmds-logo.png
  public/logo/bmds-logo.svg
Due: lint, check-format

test(Footer): update snapshot
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

feat(beispiele): rename link to principle examples, add principles link
  app/routes/beispiele._index.tsx
Due: lint, check-format

feat(beispiele): change principle link text
  app/routes/beispiele._index.tsx
Due: lint, check-format

feat(beispiele): also update visualizations links
  app/routes/beispiele._index.tsx
Due: lint, check-format

style(EuRechtTab): adjust spacing in EU Recht Tab
  app/routes/interoperabel.eu-recht.tsx
Due: lint, check-format

feat(online-doku): cleanup, fixes, mobile optimization, help content
  app/components/AspectPills.tsx
  app/components/HelpButton.tsx
  app/components/HelpSidepanel.tsx
  app/components/Input.tsx
  app/components/Nav.spec.tsx
  app/components/Nav.tsx
  app/components/Pill.tsx
  app/components/Textarea.tsx
  app/contexts/HelpPanelContext.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation.download.$fileName.ts
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/DocumentationPrincipleV1.tsx
  app/routes/dokumentation/DocumentationPrincipleV2.tsx
  app/routes/dokumentation/DocumentationSummaryV1.tsx
  app/routes/dokumentation/DocumentationSummaryV2.tsx
  app/routes/dokumentation/documentationDataSchema.ts
  app/routes/dokumentation/route.tsx
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  app/service/wordDocumentationExport/wordDocumentationV1.ts
  app/service/wordDocumentationExport/wordDocumentationV2.ts
  public/documents/Dokumentation_der_Digitaltauglichkeit_V2.docx
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V1.docx
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: lint, check-format

feat(online-docu): fix principle numbers
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation/DocumentationPrincipleV2.tsx
  app/routes/dokumentation/DocumentationSummaryV2.tsx
Due: lint, check-format

refactor: add compactTopSpacing to ContentWrapper
  app/components/ContentWrapper.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/interoperabel._index.tsx
Due: lint, check-format

feat(tabs): create separate RouteTabs for tabs that handle like navigation
  .talismanrc
  app/components/Tabs.spec.tsx
  app/components/Tabs/MobileTabPicker.tsx
  app/components/Tabs/RouteTabs.spec.tsx
  app/components/Tabs/RouteTabs.tsx
  app/components/Tabs/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
  app/components/Tabs/TabsStateContext.ts
  app/components/Tabs/TabsWithUrlState.spec.tsx
  app/components/Tabs/TabsWithUrlState.tsx
  app/components/Tabs/tabUtils.ts
  app/resources/content/das-ist-neu.ts
  app/resources/content/interoperabel.ts
  app/resources/content/unterstuetzung.ts
  app/resources/staticRoutes.ts
  app/routes/beispiele._index.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/utils/tabs.ts
  app/utils/utilFunctions.ts
  doc/adr/0023-children-first-react-component-api.md
Due: lint, check-format

refactor: introduce fixed route for schulungen tab
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/resources/content/shared/footer.ts
  app/resources/content/shared/header.ts
Due: lint, check-format

fix: imports
  app/components/ContentWrapper.tsx
  app/components/Tabs/MobileTabPicker.tsx
Due: lint, check-format

fix: talisman
  .talismanrc
Due: none

feat(interoperability): link new eu recht tab
  app/resources/content/das-ist-neu.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/routes/interoperabel.eu-recht.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
Due: lint, check-format

feat(interops): add context for arcodions
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/routes/interoperabel.nationale-kontaktstelle.tsx
Due: lint, check-format

update talisman check
  .talismanrc
Due: none

feat(interoperability): link new eu recht tab
  .talismanrc
  app/resources/content/das-ist-neu.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/routes/interoperabel.eu-recht.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
Due: lint, check-format

ci(slack notification): refactor Slack failure notification to use composite action
  .github/actions/slack-failure-notify.yml
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/deploy.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: check-format

fix: improve prettySlugify to handle leading and trailing hyphens without sonarcloud issue
  app/utils/utilFunctions.ts
Due: lint, check-format

fix: use github secret for slack channel id
  .github/actions/slack-failure-notify.yml
Due: check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

ci: use pinned actions w/ commit hash
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/deploy.yml
  .github/workflows/run-e2e-a11y-tests.yml
Due: check-format

fix(eslint): update React version in ESLint config
  eslint.config.js
  tests/a11y/general.spec.ts
Due: lint, check-format

chore: disable automerge
  .github/workflows/dependabot-automerge.yml
Due: check-format

chore: update Slack notification integration to use SLACK_BOT_TOKEN and SLACK_CHANNEL_ID
  .github/actions/slack-failure-notify.yml
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .github/workflows/scan.yml
Due: check-format

fix: lefthook configuration
  lefthook.yml
Due: check-format

Update interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
Due: lint, check-format

chore: enable automerge for Dependabot pull requests
  .github/workflows/dependabot-automerge.yml
Due: check-format

feat: improve styling of visualizations
  app/components/BlocksRenderer.tsx
  app/components/VisualisationItem.tsx
  app/resources/content/beispiele-regelungen.ts
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.visualisierungen.tsx
  app/styles.css
  app/utils/featureFlags.ts
  app/utils/strapiData.server.ts
Due: lint, check-format

chore: appease Talisman
  .talismanrc
Due: none

feat(Visualisierung): add metadata fields Aufwand, Ressort
  app/components/VisualisationItem.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

feat(Visualisierungen): update styles
  app/components/VisualisationItem.tsx
  app/styles.css
Due: lint, check-format

chore(deps): bump npm dependencies
  app/routes/__tests__/handle-client-side-error.spec.ts
  package.json
  pnpm-lock.yaml
Due: lint, check-format
