Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

feat(laender): nrw landing page
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/nordrhein-westfalen.astro
Due: none

feat(nrw): add logo
  src/pages/bundeslaender/_assets/nrw-logo.png
  src/pages/bundeslaender/nordrhein-westfalen.astro
Due: none

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

build(nginx): add posthog proxy certificate verification
  nginx.template.conf
Due: none

refactor(nkr-data): ipynb -> py [skip ci]
  scripts/nkr-data/transform-nkr-export.ipynb
  scripts/nkr-data/transform-nkr-export.py
Due: none

chore(nkr-data): add xlrd dependency for .xls compatibility
  scripts/nkr-data/pyproject.toml
  scripts/nkr-data/uv.lock
Due: none

fix(nkr-data): add guard for non-existing columns
  scripts/nkr-data/transform-nkr-export.py
Due: none

chore(nkr-data): update existing records
  scripts/nkr-data/transform-nkr-export.py
Due: none

fix(nkr-data): csv export for .xls (instead of .xlsx) files
  scripts/nkr-data/transform-nkr-export.py
Due: none

fix: grammar
  src/resources/content/vorpruefung.ts
Due: lint, check-format

fix: E2E tests
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

fix: remove pnpm-workspace.yaml that breaks install
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-format

fix: change Dockerfile
  Dockerfile
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@fde53ad31c2a7ac2fb954829a79f34b2ff5bafb2 🚀
  previews/fix/pnpm-install/beispiele/index.html
  previews/fix/pnpm-install/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/fix/pnpm-install/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/fix/pnpm-install/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/fix/pnpm-install/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/fix/pnpm-install/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/fix/pnpm-install/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/fix/pnpm-install/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/fix/pnpm-install/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/fix/pnpm-install/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/fix/pnpm-install/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/fix/pnpm-install/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/fix/pnpm-install/dev/index.html
  previews/fix/pnpm-install/interoperabel/index.html
  previews/fix/pnpm-install/interoperabel/nationale-kontaktstelle/index.html
  previews/fix/pnpm-install/vorpruefung/index.html
Due: check-format

feat(content): remove pages and link elements to tfl
  src/components/Button.tsx
  src/components/InfoBox.tsx
  src/components/Timeline.tsx
  src/config/routes.ts
  src/layout/Footer.tsx
  src/layouts/MethodenLayout.astro
  src/pages/beispiele/prinzipien/[principleId].astro
  src/pages/beispiele/prinzipien/index.astro
  src/pages/grundlagen/digitaltauglichkeit.astro
  src/pages/index.astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/_Textbeispiel.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/interview-leitfaden-schritte.astro
  src/pages/methoden/interview-leitfaden.astro
  src/pages/methoden/it-systeme-erfassen.astro
  src/pages/methoden/technische-umsetzbarkeit.astro
  src/pages/methoden/visualisieren/flussdiagramm.astro
  src/pages/methoden/visualisieren/index.astro
  src/pages/methoden/zustaendige-akteurinnen-auflisten.astro
  src/resources/constants.ts
  src/resources/content/methode-fuenf-prinzipien.ts
  src/resources/content/methoden.ts
  src/resources/content/shared/footer.ts
  src/resources/content/shared/header.ts
  src/utils/contentTypes.ts
Due: lint, check-format

chore(globals.css): smaller increase-tab-area
  src/styles/globals.css
Due: check-format

feat(content): remove unused content files & fields
  src/resources/content/documentation-document.ts
  src/resources/content/dokumentation.ts
  src/resources/content/grundlage-digitaltauglichkeit.ts
  src/resources/content/grundlage-normenkontrollrat.ts
  src/resources/content/methode-fuenf-prinzipien.ts
  src/resources/content/methode-it-systeme-erfassen.ts
  src/resources/content/methode-technische-umsetzbarkeit.ts
  src/resources/content/methode-visualisieren.ts
  src/resources/content/methode-zustaendige-akteurinnen-auflisten.ts
  src/resources/content/methoden.ts
  src/resources/content/shared/footer.ts
  src/resources/content/shared/interview-banner.ts
Due: lint, check-format

refactor: removed unused components and sorting out tests
  src/components/VisualisationItem.tsx
  src/config/additionalRoutes.ts
  src/config/routes.ts
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/pages/__tests__/index.test.ts
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/__tests__/methoden/index.test.ts
  src/pages/beispiele/index.astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/regelungen/_FormulierungenTab.astro
  src/pages/beispiele/regelungen/_NKRStellungnahmeTab.astro
  src/pages/beispiele/regelungen/_VisualisierungTab.astro
  src/pages/beispiele/visualisierung/[filename].ts
  src/pages/beispiele/visualisierungen.astro
  src/pages/index.astro
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/faq.astro
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/resources/content/das-ist-neu.ts
  src/utils/images.ts
  tests/a11y/general.spec.ts
  tests/e2e/examplePages.spec.ts
  tests/e2e/general.spec.ts
  tests/e2e/methodPages.spec.ts
Due: lint, check-format

feat(banner): add info banner to start page
  src/pages/index.astro
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
Due: none

feat(menu): add information about moved content to menu elements
  src/components/DropdownContentList.tsx
  src/layout/DropdownMenu.spec.tsx
  src/resources/content/shared/header.ts
Due: lint, check-format

feat(redirects): configure digitalcheck to zfl redirects
  astro.config.mjs
Due: lint, check-format

feat(bundeslaender): add leitfaden download
  package.json
  pnpm-lock.yaml
  public/documents/Leitfaden_DigitalcheckAlsBundeslandEinfuehren_Aug2026.pdf
  src/components/KernCard.astro
  src/config/downloads.ts
  src/pages/bundeslaender/_leitfaden.png
  src/pages/bundeslaender/index.astro
Due: lint, check-format

chore(talisman): add exclusion
  .talismanrc
Due: none

feat(banner): redesigning banner
  src/pages/index.astro
Due: none
