Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

refactor(Sonar): don't use deprecated props (items, content, links)
  app/components/InfoBox.spec.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/grundlagen.digitaltauglichkeit.tsx
  app/routes/grundlagen.normenkontrollrat.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden.visualisieren._index.tsx
Due: lint, check-format

fix: type error
  app/routes/methoden.visualisieren._index.tsx
Due: lint, check-format

chore: fix minor sonarqube issues
  app/components/ParagraphList.tsx
  app/layout/DropdownMenu.tsx
  app/layout/PageHeader.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
  app/utils/paragraphUtils.ts
  app/utils/utilFunctions.ts
  tests/e2e/general.spec.ts
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

chore: fix sonarqube issues
  app/components/ParagraphList.tsx
  app/hooks/deviceHook.ts
  app/layout/DropdownMenu.tsx
  app/layout/ErrorBoundary.tsx
  app/layout/PageHeader.tsx
  app/root.tsx
  app/routes/methoden.visualisieren._index.tsx
  app/routes/vorpruefung.ergebnis/getContentForResult.ts
  app/utils/utilFunctions.ts
  tests/e2e/examplePages.spec.ts
Due: lint, check-format

refactor(InfoBox): rm deprecated props
  app/components/InfoBox.tsx
  app/components/InfoBoxList.spec.tsx
  app/components/InfoBoxList.tsx
  app/routes/grundlagen.digitaltauglichkeit.tsx
  app/routes/grundlagen.normenkontrollrat.tsx
  app/routes/methoden.visualisieren._index.tsx
Due: lint, check-format

refactor(DetailsSummary): rm deprecated content prop
  app/components/DetailsSummary.tsx
Due: lint, check-format

chore: fix sonarqube issues
  app/routes/dokumentation/documentationDataService.spec.ts
  app/routes/vorpruefung.ergebnis/buildMailtoUri.ts
  app/utils/localStorageVersioned.spec.ts
  app/utils/localStorageVersioned.ts
Due: lint, check-format

refactor(vorpruefung): rm deprecated cookie logic
  app/routes/vorpruefung/route.spec.tsx
  app/routes/vorpruefung/route.tsx
  app/utils/cookies.server.ts
Due: lint, check-format

feat(interoperability): add EU law tab and related content
  app/components/DropdownContentList.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.eu-recht.tsx
  app/styles.css
Due: lint, check-format

feat(interoperability): enhance EU law tab with Table of Contents and detailed content
  app/routes/interoperabel.eu-recht.tsx
Due: lint, check-format

ci: add dependabot-automerge workflow
  .github/workflows/dependabot-automerge.yml
Due: check-format

ci: upd dependabot-automerge workflow
  .github/workflows/dependabot-automerge.yml
Due: check-format

ci: fix dependabot-automerge
  .github/workflows/dependabot-automerge.yml
Due: check-format

chore: remove gitleaks from lefthook
  lefthook.yml
Due: check-format

chore: add secret-scan job to pipeline
  .github/workflows/pipeline.yml
  .talismanrc
Due: check-format

chore: update .talismanrc
  .talismanrc
Due: none

feat(a11y): adjust high contrast mode styles
  app/components/Badge.tsx
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/styles.css
Due: lint, check-format

test: fix typecheck issues in tests
  app/components/Tabs/TabsWithUrlState.spec.tsx
  app/resources/content/das-ist-neu.spec.ts
Due: lint, check-format

style: apply format:fix
  app/components/DetailsSummary.tsx
  app/components/InfoBox.spec.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/resources/content/das-ist-neu.ts
  app/resources/content/vorpruefung.ts
  app/routes/interoperabel._index.tsx
  app/routes/methoden.visualisieren._index.tsx
  tests/e2e/examplePages.spec.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

chore(deps): bump dependencies
  package-lock.json
Due: check-format

ci: fix talisman false-positive
  .talismanrc
Due: none

test: upd Footer snapshot
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

ci(talisman): fix false-positive
  .talismanrc
Due: none

chore(pnpm): switch from npm to pnpm
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/run-e2e-a11y-tests.yml
  Dockerfile
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: check-format

fix(scripts): fix lint:fix script
  package.json
Due: check-format

ci: fix pipeline
  .github/workflows/run-e2e-a11y-tests.yml
Due: check-format

chore(deps): bump github/codeql-action from 4.32.5 to 4.32.6
  .github/workflows/scan.yml
  .talismanrc
Due: check-format

refactor(index): inline content
  app/resources/content/startseite.ts
  app/routes/_index.tsx
Due: lint, check-format

feat: start dcat-ap page
  app/routes/interoperabel.lösungen.dcat-ap.tsx
  public/images/DCAT-AP-books.png
Due: lint, check-format

feat: continue dcat-ap implementation
  app/components/Badge.tsx
  app/routes/interoperabel.lösungen.dcat-ap.tsx
Due: lint, check-format

fix: hide DCAT-AP page
  app/routes/interoperabel.lösungen.dcat-ap.tsx
  app/utils/featureFlags.ts
  tests/feature-flags.json
Due: lint, check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

fix: update plausible domain
  app/utils/constants.ts
Due: lint, check-format

refactor: remove old download code
  app/routes/download.$fileName.ts
Due: lint, check-format

fix: prevent 5 principles route from having two active headers
  app/layout/PageHeader.tsx
Due: lint, check-format

fix: use correct title for principle
  app/resources/staticRoutes.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

fix: also change header highlighting for individual principles
  app/layout/PageHeader.tsx
Due: lint, check-format

feat(interoperability): add EU law tab and related content
  app/components/DropdownContentList.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.eu-recht.tsx
  app/styles.css
  public/images/european-digital-single-market.png
Due: lint, check-format

style(interoperability): update FAQ heading width
  app/routes/interoperabel._index.tsx
Due: lint, check-format

refactor(separator): Separator component to accept custom className prop
  app/components/Separator.tsx
Due: lint, check-format
