Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

test(vorpruefung): add bundesland scenarios
  app/routes/__tests__/dokumentation._documentationNavigation.absenden.spec.tsx
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

style(Select): add styles w/ headless-ui
  app/components/Select.tsx
  app/routes/vorpruefung._bundesland.tsx
Due: lint, check-format

chore(Select): use headless-ui Label
  app/components/Select.tsx
Due: lint, check-format

chore(bundeslaender): alphabetic sort
  app/resources/content/shared/bundeslaender.ts
Due: lint, check-format

test(dokumentation): upd test to new Select implementation
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
Due: lint, check-format

refactor: remove unused components
  app/components/Checkbox.tsx
  app/components/CheckboxCard.tsx
  app/components/Pills.tsx
Due: lint, check-format

chore: cleanup, restore workflows
  .github/workflows/dependabot-automerge.yml
  .github/workflows/deploy.yml
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/utils/keyValue.spec.ts
Due: lint, check-format

fix: tests
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
Due: lint, check-format

chore(schulungen): link to external ZfL page
  app/components/DropdownContentList.tsx
  app/components/OpenInNewIcon.tsx
  app/resources/content/shared/footer.ts
  app/resources/content/shared/header.ts
Due: lint, check-format

chore: rm additionalRoutes.ts
  app/components/VisualisationItem.tsx
  src/config/additionalRoutes.ts
  src/pages/beispiele/prinzipien/[principleId].astro
  tests/e2e/examplePages.spec.ts
Due: lint, check-format

refactor(support): new page in astro (wip)
  app/resources/content/unterstuetzung.ts
  app/routes/unterstuetzung/route.tsx
  src/images/rulemap.jpg
  src/images/support.jpg
  src/pages/unterstuetzung.astro
  src/pages/unterstuetzung/index.astro
Due: lint, check-format

fix: address Sonar warnings
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  app/routes/dokumentation/interoperability/IEAContactBanner.tsx
Due: lint, check-format

feat: add feature flag
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/documentationDataSchema.ts
  app/utils/features.ts
Due: lint, check-format

feat: add experimental transition:persist
  app/routes/dokumentation.$page.tsx
  src/layouts/ClientRouterLayout.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
Due: lint, check-format

refactor(Tabs): astro rewrite
  .talismanrc
  src/components/tabs/MobileTabPicker.astro
  src/components/tabs/RouteTabs.astro
  src/components/tabs/Tabs.astro
  src/components/tabs/tabStyles.ts
Due: lint, check-format

chore: add kitchensink page for Astro components
  src/config/routes.ts
  src/pages/dev/index.astro
Due: lint, check-format

style(PageHeader): fix btn veritcal alignment
  app/layout/DropdownMenu.tsx
  app/layout/PageHeader.tsx
Due: lint, check-format

style(PageHeader): fix btn veritcal alignment
  app/layout/PageHeader.tsx
Due: lint, check-format

feat: add FeatureSet & FeatureItem components from ZfL
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/FeatureItem.astro
  src/components/FeatureSet.astro
Due: lint, check-format

refactor(unterstuetzung): inline contents
  app/resources/content/unterstuetzung.ts
  src/pages/unterstuetzung/_bund.astro
  src/pages/unterstuetzung/_bundeslaender.astro
  src/pages/unterstuetzung/_supportTabs.ts
  src/pages/unterstuetzung/index.astro
Due: lint, check-format

style(unterstuetzung): fix spacings
  src/pages/unterstuetzung/_bund.astro
  src/pages/unterstuetzung/_bundeslaender.astro
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore(unterstuetzung): fix typo
  src/pages/unterstuetzung/_supportTabs.ts
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@1134946a64e186c74bd66343e36bc638763313b6 🚀
  previews/laender-astro/_astro/Posthog.astro_astro_type_script_index_0_lang.oXHVOwqu.js
  previews/laender-astro/_astro/_UploadTest.LFU3wVSU.js
  previews/laender-astro/_astro/module.CG56o6Wt.js
  previews/laender-astro/dev/index.html
  previews/laender-astro/test-upload/index.html
  previews/laender-astro/unterstuetzung/index.html
Due: lint, check-format

chore(unterstuetzung): content upd
  src/pages/unterstuetzung/_supportTabs.ts
Due: lint, check-format

chore(bundeslaender): upd brandenburg logo
  public/images/bundeslaender/brandenburg-logo.svg
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@efa6f95c089a4b85276799116ce797cfd0c56ccf 🚀
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/images/bundeslaender/brandenburg-logo.svg
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/bundesland/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

chore(Hero): add sm:hyphens-none for h1
  src/components/Hero.astro
Due: none

refactor(nationale-kontaktstelle): as astro page
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  src/pages/interoperabel/nationale-kontaktstelle.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
Due: lint, check-format

chore(nationale-kontaktstelle): rm redundant classes
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
Due: none

chore: rm duplicated items in package.json
  package.json
Due: check-format

test(Footer): upd snapshot w/ new schulungen link
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

feat(vorpruefung): different unsureHint for Bund vs Länder
  app/resources/content/vorpruefung-ergebnis.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

chore(Tabs): allow className on Tabs component
  src/components/tabs/Tabs.astro
Due: none

refactor(beispiele): as astro page
  app/routes/beispiele._index.tsx
  src/pages/beispiele/index.astro
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
