Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Update Schulungen.tsx
  app/zfl/Schulungen.tsx
Due: lint, check-format

Fix external Links
  app/components/BlocksRenderer.tsx
  app/components/NewTabLink.tsx
  app/components/OpenInNewIcon.tsx
  app/components/RegulationMetadata.tsx
  app/components/RichText.tsx
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/interoperabel._index.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
Due: lint, check-format

Amend ADR on component structure
  doc/adr/0023-children-first-react-component-api.md
Due: check-format

Use FeatureList on other route, use grid
  app/components/FeatureList.tsx
  app/resources/content/grundlage-normenkontrollrat.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Remove markdown prop for headings
  app/components/Heading.tsx
Due: lint, check-format

Fix Markdown content in heading
  app/resources/content/grundlage-normenkontrollrat.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Test for invalid nesting
  tests/a11y/general.spec.ts
  tests/a11y/utils.ts
  tests/a11y/zfl.a11y.spec.ts
Due: lint, check-format

Adapt imprint to new structure
  app/routes/impressum.tsx
  app/zfl/Impressum.tsx
Due: lint, check-format

Fix numbering in documentation form
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: none

Update playwright
  package-lock.json
  package.json
Due: check-format

Switch to GitHub app deployments
  .github/workflows/deploy.yml
Due: check-format

Add correct secrets to pipeline
  .github/workflows/pipeline.yml
  .talismanrc
Due: check-format

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: check-format

WIP new online doku ux flow
  app/routes/dokumentation._documentationNavigation.neu.$principleId.schwerpunkte.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/route.tsx
Due: lint, check-format

Add aspects page for new doku
  app/routes/dokumentation._documentationNavigation.neu.$principleId._index.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.schwerpunkte._index.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.schwerpunkte.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId_.schwerpunkte.$aspect.tsx
Due: lint, check-format

Wip alternative documentation flow
  app/components/Nav.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._index.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._principleHeader._index.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._principleHeader.nein.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._principleHeader.nicht-relevant.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._principleHeader.schwerpunkte._index.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId._principleHeader.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.schwerpunkte.$aspectName.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.neu.$principleId_.schwerpunkte.$aspect.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/__snapshots__/route.spec.ts.snap
  app/routes/dokumentation/documentationDataSchema.ts
  app/routes/dokumentation/documentationDataService.ts
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Update Impressum.tsx
  app/zfl/Impressum.tsx
Due: lint, check-format

Change semantics of happy path test
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Mark encryption ADR as obsolete
  doc/adr/0014-use-of-encryption.md
Due: check-format

Content: Update dates of courses
  app/resources/content/unterstuetzung.ts
Due: lint, check-format

Prefix documentation route titles
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
Due: lint, check-format

Use <main> element to highlight unique content
  app/layout/ErrorBoundary.tsx
  app/root.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
Due: lint, check-format

Explicitly add <main> elements for a11y
  app/components/RichText.tsx
  app/routes/_index.tsx
  app/routes/barrierefreiheit.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.tsx
  app/routes/das-ist-neu.tsx
  app/routes/datenschutz.tsx
  app/routes/gesetzgebungsprozess.tsx
  app/routes/grundlagen.digitaltauglichkeit.tsx
  app/routes/grundlagen.normenkontrollrat.tsx
  app/routes/impressum.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden._index.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/routes/methoden.visualisieren._index.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/sitemap.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Fix assertion for page titles
  tests/e2e/general.spec.ts
Due: lint, check-format

Ensure everything is contained in landmarks
  app/components/SupportBanner.tsx
  app/routes/_index.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.tsx
  app/routes/dokumentation._index.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Update unterstuetzung.ts
  app/resources/content/unterstuetzung.ts
Due: lint, check-format

Fix snapshot tests and add test to automate screenshots
  tests/playwright-snapshots.config.ts
  tests/snapshots/general.spec.ts
Due: lint, check-format

Fix overly specific E2E test
  tests/e2e/examplePages.spec.ts
Due: lint, check-format

Add Numbers and Facts page
  app/components/Badge.tsx
  app/layout/Footer.tsx
  app/resources/content/shared/footer.ts
  app/resources/staticRoutes.ts
  app/routes/zahlen-und-fakten.tsx
  package-lock.json
Due: lint, check-format

Fix footer snapshot
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Add numbers and facts page for zfl
  app/routes.ts
  app/zfl/ZahlenUndFakten.tsx
  app/zfl/components/Footer.tsx
  app/zfl/routes.ts
Due: lint, check-format

Fix main nested in main
  app/zfl/ZahlenUndFakten.tsx
Due: lint, check-format

Change content on zfl zahlen und fakten page
  app/zfl/ZahlenUndFakten.tsx
Due: lint, check-format
