Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore(talisman): exclusions for images
  .talismanrc
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@59bb3bdc101171abab41d92c4b54751506d2dde8 🚀
  previews/feature/DC-redesign-ZFL-851/dev/index.html
  previews/feature/DC-redesign-ZFL-851/vorpruefung/index.html
Due: check-format

refactor: replace old ds-heading-* classes w/ new kern-heading-*
  src/components/Dialog.tsx
  src/components/ImageBox.tsx
  src/pages/methoden/index.astro
  src/pages/prinzipien/_Aspect.astro
  src/pages/vorpruefung/hinweise.astro
  src/pages/vorpruefung/index.astro
  src/routes/dokumentation._documentationNavigation.$principleId.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.absenden.tsx
  src/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  src/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  src/routes/dokumentation._documentationNavigation.hinweise.tsx
  src/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  src/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  src/routes/dokumentation._documentationNavigation.veroeffentlichung.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation._index.tsx
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  src/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
  src/styles/globals.css
  src/utils/tailwindMerge.ts
Due: lint, check-format

refactor: rm redundant kern-heading-* classes
  src/components/ImageBox.tsx
  src/pages/interoperabel/_Rechtsakt.astro
  src/pages/methoden/index.astro
  src/pages/vorpruefung/index.astro
  src/routes/dokumentation._documentationNavigation.absenden.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

test(index): mock prinzipien content collection
  src/pages/__tests__/index.test.ts
Due: lint, check-format

test(a11y): dedupe principle urls to fix timeout
  tests/a11y/general.spec.ts
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@a423142637db36858873b684f903eed45612936d 🚀
  previews/feature/DC-redesign-ZFL-851/_astro/dokumentation._page.BNgauzJH.js
  previews/feature/DC-redesign-ZFL-851/_astro/route.Cv1ho1s_.js
  previews/feature/DC-redesign-ZFL-851/dev/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/absenden/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/beteiligungsformate/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/bewertung-organisatorisch/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/bewertung-rechtlich/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/bewertung-semantisch/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/bewertung-technisch/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/eu-interoperabilitaetsbezug/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/hinweise/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/regelungsvorhaben-titel/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/verbindliche-anforderungen/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/veroeffentlichung/index.html
  previews/feature/DC-redesign-ZFL-851/dokumentation/zusammenfassung/index.html
  previews/feature/DC-redesign-ZFL-851/interoperabel/angrenzendes-eu-recht/index.html
  previews/feature/DC-redesign-ZFL-851/methoden/index.html
  previews/feature/DC-redesign-ZFL-851/vorpruefung/ergebnis/index.html
  previews/feature/DC-redesign-ZFL-851/vorpruefung/index.html
Due: lint, check-format

refactor: rm obsolete ds-* typography classes
  src/components/Alert.tsx
  src/components/AspectPills.tsx
  src/components/Badge.tsx
  src/components/DetailsSummary.tsx
  src/components/Hero.astro
  src/components/Hero.tsx
  src/components/ImageBox.tsx
  src/components/InfoBox.tsx
  src/components/InfoTooltip.tsx
  src/components/InlineNotice.tsx
  src/components/InteroperableSolutionBanner.tsx
  src/components/Nav.spec.tsx
  src/components/Nav.tsx
  src/components/SupportBanner.tsx
  src/components/TableOfContentsInteractive.tsx
  src/components/Textarea.tsx
  src/components/tabs/MobileTabPicker.astro
  src/components/tabs/tabUtils.ts
  src/pages/vorpruefung/index.astro
  src/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation/interoperability/IEAContactBanner.tsx
  src/routes/dokumentation/interoperability/RequirementDetail.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
  src/utils/tailwindMerge.ts
Due: lint, check-format

refactor: rm custom kern-stack utilities in favor of KERN's own
  src/components/InfoBoxList.spec.tsx
  src/components/InfoBoxList.tsx
  src/styles/kern-utils.css
  src/utils/tailwindMerge.ts
Due: lint, check-format

refactor: rm obsolete custom tailwind-merge
  eslint.config.js
  src/components/AccordionItem.tsx
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/ButtonContainer.tsx
  src/components/Container.tsx
  src/components/ContentWrapper.tsx
  src/components/DropdownContentList.tsx
  src/components/FeatureList.tsx
  src/components/Heading.tsx
  src/components/HelpButton.tsx
  src/components/HelpSidepanel.tsx
  src/components/Hero.tsx
  src/components/ImageBox.tsx
  src/components/ImageZoomable.tsx
  src/components/InfoBox.tsx
  src/components/InfoBoxList.astro
  src/components/InfoBoxList.tsx
  src/components/Input.tsx
  src/components/InputError.tsx
  src/components/Nav.tsx
  src/components/NumberedList.tsx
  src/components/RadioGroup.tsx
  src/components/RichText.tsx
  src/components/Separator.tsx
  src/components/TableOfContentsInteractive.tsx
  src/components/Textarea.tsx
  src/components/Timeline.tsx
  src/components/tabs/tabStyles.ts
  src/utils/tailwindMerge.ts
Due: lint, check-format

style(FeautreItem): use kern-body class
  src/components/FeatureItem.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@f5bf21481bc1023bf6f4d15d9f6cd83b2bb6ffab 🚀
  previews/feature/DC-redesign-ZFL-851/dev/index.html
  previews/feature/DC-redesign-ZFL-851/index.html
  previews/feature/DC-redesign-ZFL-851/interoperabel/index.html
  previews/feature/DC-redesign-ZFL-851/vorpruefung/index.html
Due: check-format

chore: rm dead-code (unused components/content)
  src/components/DropdownContentList.tsx
  src/components/InfoBoxList.astro
  src/components/Separator.tsx
  src/components/TableOfContentsInteractive.tsx
  src/resources/content/grundlage-normenkontrollrat.ts
  src/resources/content/unterstuetzung.ts
  src/utils/features.ts
  src/utils/paragraphUtils.ts
Due: lint, check-format

chore(talisman): cleanup exclusion list
  .talismanrc
Due: none

chore: rm dead code
  src/components/global/PageHeader.astro
  src/pages/das-ist-neu/index.astro
  src/pages/normenkontrollrat.astro
Due: none

style(index): inline prinzip highlight
  src/pages/index.astro
Due: none

feat(KernCard): h2 vs h3; custom image slot
  src/components/KernCard.astro
Due: none

refactor(index): use KernCard instead of custom markup
  src/pages/index.astro
Due: none

style(index): adjust spacings
  src/pages/index.astro
Due: none

feat(index): upd content
  src/pages/index.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@9087bfac8547c7c621445e3bb3041d13417f590a 🚀
  previews/feature/DC-redesign-ZFL-851/dev/index.html
  previews/feature/DC-redesign-ZFL-851/index.html
  previews/feature/DC-redesign-ZFL-851/vorpruefung/index.html
Due: check-format

chore: use round icons
  src/pages/interoperabel/index.astro
  src/pages/prinzipien/index.astro
Due: none

fix(interoperabel): typos etc
  src/pages/interoperabel/angrenzendes-eu-recht.astro
  src/pages/interoperabel/index.astro
Due: none

style(ImageZoomable): use kern styles
  src/components/ImageZoomable.tsx
Due: lint, check-format

chore(nkr): upd content
  src/pages/normenkontrollrat.astro
Due: none

chore(kontakt): upd content
  src/pages/kontakt.astro
Due: none

style: default kern body line height (18/24)
  src/styles/globals.css
Due: check-format

style(das-ist-neu): adjust spacing
  src/pages/das-ist-neu/index.astro
Due: none

style(das-ist-neu): add timeline padding left for year badges
  src/pages/das-ist-neu/index.astro
Due: none
