Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Output Trivy results to actions summary
  .github/workflows/scan.yml
Due: check-format

Redirect logic for erarbeiten subdomain
  app/entry.server.spec.ts
  app/entry.server.tsx
Due: lint, check-format

Use subhead for accessibility content
  app/resources/content/barrierefreiheit.ts
  app/routes/barrierefreiheit.tsx
Due: lint, check-format

Fix spacing throughout the site
  app/components/Container.tsx
  app/components/Hero.tsx
  app/routes/das-ist-neu.tsx
  app/routes/datenschutz.tsx
  app/routes/impressum.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/routes/sitemap.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
Due: lint, check-format

Switch to file based feature flags from configMap
  .gitignore
  app/contexts/FeatureFlagContext.ts
  app/providers/FeatureFlagProvider.tsx
  app/resources/features.ts
  app/root.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/gesetzgebungsprozess.tsx
  app/utils/featureFlags.server.ts
  app/utils/featureFlags.ts
Due: lint, check-format

Remove unleash
  .env.example
  app/mocks/node.ts
  app/mocks/unleashHandlers.ts
  app/utils/constants.server.ts
  app/utils/constants.ts
  package-lock.json
  package.json
Due: lint, check-format

Fix tests
  app/routes/__tests__/_index.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
Due: lint, check-format

Simplify routes by removing useOutletContext
  app/routes/dokumentation/route.tsx
  app/routes/grundlagen.tsx
  app/routes/methoden.tsx
  app/routes/vorpruefung.tsx
Due: lint, check-format

Update README.md
  README.md
Due: check-format

Fix feature flags file path
  .env.example
  app/utils/featureFlags.server.ts
Due: lint, check-format

Switch ZfL to feature flag
  app/utils/featureFlags.server.ts
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Add dedicated test feature flags
  .env.test
  .gitignore
  README.md
  tests/feature-flags.json
Due: check-format

Refactor vorpruefung to use localStorage
  .env.test
  app/components/DetailsSummary.tsx
  app/entry.server.spec.ts
  app/resources/content/vorpruefung.ts
  app/routes/__tests__/vorpruefung._index.spec.tsx
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/__tests__/vorpruefung.eu-bezug.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/buildMailtoUri.ts
  app/routes/vorpruefung.ergebnis/getContentForResult.ts
  app/routes/vorpruefung.ergebnis/getResultForAnswers.ts
  app/routes/vorpruefung.ergebnis/resultValidation.ts
  app/routes/vorpruefung.ergebnis/route.tsx
  app/routes/vorpruefung.tsx
  app/routes/vorpruefung/PreCheckContinueActions.tsx
  app/routes/vorpruefung/preCheckDataHook.spec.tsx
  app/routes/vorpruefung/preCheckDataHook.ts
  app/routes/vorpruefung/preCheckDataSchema.ts
  app/routes/vorpruefung/preCheckDataService.spec.ts
  app/routes/vorpruefung/preCheckDataService.ts
  app/routes/vorpruefung/route.spec.tsx
  app/routes/vorpruefung/route.tsx
  app/utils/cookies.server.ts
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Fix cookie removal on vorpruefung
  app/routes/vorpruefung/route.tsx
Due: lint, check-format

Update interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
Due: lint, check-format

Fix docx header spacing
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: none

Remove unused file
  app/mocks/stubs/unleash/features.json
Due: check-format

Supersede ADR 11 with ADR 25 for feature flags
  doc/adr/0011-use-feature-flags.md
  doc/adr/0025-use-feature-flags-k8s.md
Due: check-format

Refactor feature flags
  app/contexts/FeatureFlagContext.ts
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/gesetzgebungsprozess.tsx
  app/utils/featureFlags.server.ts
  app/utils/featureFlags.ts
  app/zfl/ZFLLayout.tsx
  tests/feature-flags.json
Due: lint, check-format

Fix test type
  app/entry.server.spec.ts
Due: lint, check-format

Fix test
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
Due: lint, check-format

Streamline local setup
  .env.example
  README.md
Due: check-format

Adapt .talismanrc (unrelated)
  .talismanrc
Due: none

Adapt .talismanrc
  .talismanrc
Due: none

Apply suggestions
  app/components/Tabs.tsx
Due: lint, check-format

Use `useCallback` for `onChange` in Tabs component
  app/components/Tabs.tsx
Due: lint, check-format

Replace unleash with configMap based feature flags (#633)
  .env.example
  .env.test
  .gitignore
  README.md
  app/contexts/FeatureFlagContext.ts
  app/mocks/node.ts
  app/mocks/stubs/unleash/features.json
  app/mocks/unleashHandlers.ts
  app/providers/FeatureFlagProvider.tsx
  app/resources/features.ts
  app/root.tsx
  app/routes/__tests__/_index.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/route.tsx
  app/routes/gesetzgebungsprozess.tsx
  app/routes/grundlagen.tsx
  app/routes/methoden.tsx
  app/utils/constants.server.ts
  app/utils/constants.ts
  app/utils/featureFlags.server.ts
  app/utils/featureFlags.ts
  app/zfl/ZFLLayout.tsx
  doc/adr/0011-use-feature-flags.md
  doc/adr/0025-use-feature-flags-k8s.md
  package-lock.json
  package.json
  tests/feature-flags.json
Due: lint, check-format

Fix a11y on mobile
  app/components/Stepper.tsx
Due: lint, check-format

Improve a11y of Stepper
  app/components/Nav.tsx
  app/components/Stepper.tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

Bump dependencies
  package-lock.json
  package.json
Due: check-format

Update Playwright to address vuln, add workaround
  .github/dependabot.yml
  package-lock.json
  package.json
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

Fix mobile e2e test
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

Update zusammenhang-interoperabilitaet-und-digitaltauglichkeit.png
  public/images/zusammenhang-interoperabilitaet-und-digitaltauglichkeit.png
Due: none

Update resources for Nationale Kontaktstelle
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
Due: lint, check-format

Fix hard coded colors
  app/components/Alert.tsx
  app/components/ImageBox.tsx
  app/components/InlineNotice.tsx
  app/routes/interoperabel._index.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/styles.css
Due: lint, check-format

Test vite browser mode
  app/routes/__tests__/_index.spec.tsx
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.browser-test.json
  tsconfig.json
  tsconfig.test.json
  vite.config.ts
  vitest-browser-setup.ts
  vitest.config.ts
Due: lint, check-format

Inline imprint content
  app/resources/content/impressum.ts
  app/routes/impressum.tsx
Due: lint, check-format

Update imprint content
  app/routes/impressum.tsx
Due: lint, check-format
