Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

docs(adr): draft ADR for Astro migration
  doc/adr/0027-migrate-to-astro.md
  doc/adr/0028-stage-based-feature-flags.md
Due: check-format

refactor(interoperabel): as astro page
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
  app/routes/interoperabel/UeberblickTab.tsx
  app/routes/interoperabel/tabIds.ts
  app/utils/tabs.ts
  src/pages/interoperabel/_ContentInlineComponent.tsx
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/_InteroperableLoesungenTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/_tabs.ts
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
Due: lint, check-format

test: use docker for pipeline tests
  .github/workflows/build-docker.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
  tests/playwright.config.ts
Due: lint, check-format

feat: wording changes
  app/resources/content/dokumentation.ts
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  src/config/routes.ts
  src/pages/dokumentation/regelungsvorhaben-titel.astro
Due: lint, check-format

feat: support feature flag in E2E tests
  app/utils/features.ts
  tests/playwright.config.ts
Due: lint, check-format

fix: playwright docker test port
  tests/playwright.config.ts
Due: lint, check-format

fix: reuse playwright server
  tests/playwright.config.ts
Due: lint, check-format

feat: skip test, remove extra argument
  app/utils/features.ts
  tests/e2e/documentation-interoperability.spec.ts
  tests/playwright.config.ts
Due: lint, check-format

refactor: remove unused outcome IDs
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

feat: better context for test failure
  tests/e2e/helpers.ts
Due: lint, check-format

fix: skip navigation if already on right page
  tests/e2e/documentation.spec.ts
Due: lint, check-format

fix: types
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
Due: lint, check-format

fix: adapt test
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
Due: lint, check-format

fix: lint
  src/pages/dokumentation/bewertung-organisatorisch.astro
Due: none

fix: don't change code in the pipeline
  .github/workflows/check-and-test.yml
Due: check-format

fix: run lint
  src/pages/404.astro
  src/pages/das-ist-neu.astro
  src/pages/dev/index.astro
Due: none

chore: update Docker image references and add descriptions for workflow inputs
  .github/workflows/build-docker.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
Due: check-format

refactor(header): update titles and content for Bundesländer section
  app/resources/content/shared/header.ts
Due: lint, check-format

chore: further experimentation
  app/routes/dokumentation.$page.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/components/LoadingPage.astro
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
Due: lint, check-format

fix: ignore autogenerated pnmp-lock.yaml for prettier
  .prettierignore
Due: none

fix: update Docker image saving command to use environment variable as per sonar
  .github/workflows/build-docker.yml
Due: check-format

fix: remove nested expect calls flagged by SonarCloud
  app/routes/vorpruefung/preCheckDataService.spec.ts
Due: lint, check-format

fix: remove void expressions flagged by SonarCloud
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation/DocumentationActions.tsx
  src/pages/test-upload/_UploadTest.tsx
Due: lint, check-format

feat: use DocumentationWizard component
  app/routes/dokumentation.$page.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  app/routes/dokumentation._documentationNavigation.veroeffentlichung.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/components/DocumentationWizard.astro
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/bewertung-organisatorisch.astro
  src/pages/dokumentation/bewertung-rechtlich.astro
  src/pages/dokumentation/bewertung-semantisch.astro
  src/pages/dokumentation/bewertung-technisch.astro
  src/pages/dokumentation/eu-interoperabilitaetsbezug.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/verbindliche-anforderungen.astro
  src/pages/dokumentation/veroeffentlichung.astro
  src/pages/dokumentation/zusammenfassung.astro
Due: lint, check-format

chore: remove log statement
  app/routes/dokumentation/DocumentationDataProvider.tsx
Due: lint, check-format

feat: use client-side navigation
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/documentationDataHook.ts
Due: lint, check-format

fix: structure
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
Due: lint, check-format

fix: tests and syntax
  app/routes/dokumentation.$page.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

fix: lint
  src/pages/dokumentation/bewertung-organisatorisch.astro
  src/pages/dokumentation/bewertung-rechtlich.astro
  src/pages/dokumentation/bewertung-semantisch.astro
  src/pages/dokumentation/bewertung-technisch.astro
  src/pages/dokumentation/eu-interoperabilitaetsbezug.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/verbindliche-anforderungen.astro
  src/pages/dokumentation/veroeffentlichung.astro
  src/pages/dokumentation/zusammenfassung.astro
Due: none

refactor: finalize
  app/routes/dokumentation.$page.tsx
  src/components/DocumentationWizard.astro
  src/components/LoadingPage.astro
Due: lint, check-format

feat: re-introduce node-cache
  app/utils/strapiData.server.ts
  package.json
  pnpm-lock.yaml
Due: lint, check-format

fix: race condition
  tests/e2e/documentation.spec.ts
Due: lint, check-format

fix: add missing component
  app/routes/dokumentation.$page.tsx
Due: lint, check-format

fix: test condition
  tests/e2e/documentation.spec.ts
Due: lint, check-format

fix: helpButton rendering in Firefox
  app/components/HelpButton.tsx
Due: lint, check-format

feat: improve wording in IEA assessment form, change link
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  app/routes/dokumentation/interoperability/markdownLinkIEA.tsx
Due: lint, check-format

refactor: documentationNavigation
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
