Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Link to digitale-verwaltung.de in footer
  app/resources/content/shared/footer.ts
Due: lint, check-format

Replace hard coded colors on Alert.tsx
  app/components/Alert.tsx
Due: lint, check-format

Fix snapshot
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Remove old test
  tests/e2e/methodPages.spec.ts
Due: lint, check-format

Update deployment URL
  .github/workflows/pipeline.yml
Due: check-format

Honor disable attribute on link-buttons
  app/components/Button.tsx
Due: lint, check-format

Fix label class
  app/components/ImageBox.tsx
Due: lint, check-format

Add flowchart methods page (WIP)
  app/resources/content/methode-ablaeufe-aufgaben-erfassen.ts
  app/resources/staticRoutes.ts
  app/routes/methoden.flussdiagramme.tsx
  public/icons/DiagramActivity.svg
  public/icons/DiagramActor.svg
  public/icons/DiagramConnector.svg
  public/icons/DiagramData.svg
  public/icons/DiagramDecision.svg
  public/icons/DiagramStartNode.svg
  public/images/methoden.flussdiagramm.beispiel.png
Due: lint, check-format

Fix types
  app/components/InfoBox.tsx
Due: lint, check-format

Address security hotspot
  .github/workflows/pipeline.yml
  .talismanrc
Due: check-format

Address security hotspot
  .github/workflows/pipeline.yml
Due: check-format

Fix workflow syntax
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: check-format

Fix workflow syntax
  .github/workflows/check-and-test.yml
Due: check-format

Design fixes
  app/resources/content/methode-ablaeufe-aufgaben-erfassen.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Replace index snapshot by integration test
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
  app/routes/__tests__/_index.spec.tsx
Due: lint, check-format

Fix PageHeader bug
  app/hooks/deviceHook.ts
  app/layout/PageHeader.tsx
Due: lint, check-format

Try only setting safe headers to hide IP
  app/routes/ph-relay.$.tsx
Due: lint, check-format

Update frontend dependencies
  .env.test
  .talismanrc
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
  package-lock.json
  package.json
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Fix types in spec
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

Update Zod and use new syntax
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/resultValidation.ts
  app/routes/vorpruefung.ergebnis/route.tsx
  package-lock.json
  package.json
Due: lint, check-format

Fix type errors
  app/components/BlocksRenderer.tsx
  app/routes/download.$fileName.tsx
  app/routes/prototyp.dokumentation.ergebnis.tsx
Due: lint, check-format

Bump .node-version
  .node-version
Due: none

Update Grundlagen NKR
  app/resources/content/grundlage-normenkontrollrat.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Change visualization intro page
  app/components/InfoBox.tsx
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/methode-ablaeufe-aufgaben-erfassen.ts
  app/routes/grundlagen.normenkontrollrat.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  public/images/entscheidungsbaum.png
  public/images/flussdiagramm.png
  public/images/schaubild.png
  public/images/von-schriftform-zur-visualisierung.png
Due: lint, check-format

Add download icon for site attachments
  app/components/RichText.tsx
  app/components/downloadIcon.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
