Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Use on index page, fix issues
  app/components/Hero.tsx
  app/routes/_index.tsx
  app/styles.css
Due: lint, check-format

Explicitly set content column
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/route.tsx
Due: lint, check-format

Fix responsiveness
  app/layout/SidebarContainer.tsx
  app/styles.css
Due: lint, check-format

Add posthog fix for zfl
  app/zfl/ZFLLayout.tsx
  public/zfl/posthog-fix.js
Due: lint, check-format

Update copy for Zahlen und Fakten
  app/zfl/ZahlenUndFakten.tsx
Due: lint, check-format

Update spacing
  app/zfl/ZahlenUndFakten.tsx
Due: lint, check-format

Update interoperabel.ts
  app/resources/content/interoperabel.ts
Due: lint, check-format

Update interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
Due: lint, check-format

Update interoperabel._index.tsx
  app/routes/interoperabel._index.tsx
Due: lint, check-format

Add page "Daran arbeiten wir"
  .talismanrc
  app/routes.ts
  app/utils/featureFlags.ts
  app/zfl/DaranArbeitenWir.tsx
  app/zfl/routes.ts
  tests/feature-flags.json
Due: lint, check-format

Refine design, add links (feature flagged)
  app/zfl/DaranArbeitenWir.tsx
  app/zfl/Index.tsx
  app/zfl/ZFLLayout.tsx
  app/zfl/components/Footer.tsx
Due: lint, check-format

Fix spacing
  app/zfl/DaranArbeitenWir.tsx
Due: lint, check-format

Typo
  app/zfl/DaranArbeitenWir.tsx
Due: lint, check-format

Fix header alignment
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Fix breakpoints
  app/styles.css
Due: check-format

Change site name
  app/resources/content/shared/meta.ts
  app/root.tsx
Due: lint, check-format

Update dependencies
  .talismanrc
  app/routes/interoperabel._index.tsx
  package-lock.json
  public/zfl/posthog-fix.js
  tests/e2e/general.spec.ts
  tests/e2e/methodPages.spec.ts
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Fix Zod to 4.2
  package-lock.json
  package.json
Due: check-format

Update zahlen-und-fakten.tsx
  app/routes/zahlen-und-fakten.tsx
Due: lint, check-format

Update ZahlenUndFakten.tsx
  app/zfl/ZahlenUndFakten.tsx
Due: lint, check-format

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: check-format

Deploy to StackIT
  .github/workflows/pipeline.yml
Due: check-format

Sequential stackit deployments
  .github/workflows/pipeline.yml
Due: check-format

Update DaranArbeitenWir.tsx
  app/zfl/DaranArbeitenWir.tsx
Due: lint, check-format

Update .node-version
  .node-version
Due: none

Add canonical links for all pages
  app/root.tsx
Due: lint, check-format

Add canonical link to zfl page
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Add navigation elements to future principles page
  app/components/Hero.tsx
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/route.tsx
Due: lint, check-format

Add banner for downtime hint
  app/components/Banner.tsx
  app/root.tsx
Due: lint, check-format

Fix banner placing in a11y landmark
  app/layout/PageHeader.tsx
  app/root.tsx
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Change opencode group
  opencode.yml
Due: check-format

Remove feature flag daranArbeitenWir
  app/utils/featureFlags.ts
  app/zfl/DaranArbeitenWir.tsx
  app/zfl/Index.tsx
  app/zfl/ZFLLayout.tsx
  app/zfl/components/Footer.tsx
Due: lint, check-format

Decrease cache time
  app/utils/strapiData.server.ts
Due: lint, check-format

Refactor
  app/routes/methoden.fuenf-prinzipien/getDetailsSummaryProps.tsx
Due: lint, check-format

Use Strapi for new principles page
  app/components/PrincipleHighlightModifier.tsx
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/query.ts
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/route.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Change route location
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/methoden.fuenf-prinzipien.$prinzip/query.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.fuenf-prinzipien._index/Principle.tsx
  app/routes/methoden.fuenf-prinzipien._index/getDetailsSummaryProps.tsx
  app/routes/methoden.fuenf-prinzipien._index/route.tsx
Due: lint, check-format

Cleanup
  tests/feature-flags.json
Due: check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
