Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

chore(das-ist-neu): apply prettier
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

feat(dependencies): add @kern-ux/native package version 2.7.1
  package.json
  pnpm-lock.yaml
Due: check-format

refactor: update component styles to use 'kern' naming convention
  src/components/Alert.tsx
  src/components/Button.tsx
  src/components/DropdownContentList.tsx
  src/components/Hero.tsx
  src/components/InfoBox.tsx
  src/components/InfoBoxList.spec.tsx
  src/components/InfoBoxList.tsx
  src/components/ParagraphList.tsx
  src/components/SupportBanner.tsx
  src/components/VisualisationItem.tsx
  src/layout/Footer.tsx
  src/pages/404.astro
  src/pages/beispiele/regelungen/_VisualisierungTab.astro
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/index.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
  src/routes/unterstuetzung/route.tsx
  src/routes/vorpruefung._index.tsx
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
  src/styles/globals.css
  src/styles/kern-utils.css
  src/utils/tailwindMerge.ts
Due: lint, check-format

feat(kern): set spacing unit to 1px to fit angie spacings to new kern spacings
  src/styles/globals.css
Due: check-format

feat(kern): update Menu Component to align with old design
  src/components/DropdownContentList.tsx
Due: lint, check-format

feat(kern): update RadioGroup styles to align with KERN
  src/components/RadioGroup.tsx
Due: lint, check-format

feat(kern): update Prinzipien Link Liste to align with old design
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
Due: none

feat(styles): update components to use new design system blue colors
  src/components/Hero.astro
  src/components/LoadingPage.astro
  src/components/global/ProgressBar.astro
  src/components/tabs/MobileTabPicker.astro
  src/layouts/BeispieleLayout.astro
  src/layouts/MethodenLayout.astro
  src/pages/404.astro
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
  src/pages/zahlen-und-fakten.astro
Due: none

feat(dokumentation): update checkbox styling to KERN
  src/routes/dokumentation._documentationNavigation.hinweise.tsx
Due: lint, check-format

feat(kern): update Input component styles to align with KERN design system
  src/components/Input.tsx
Due: lint, check-format

feat(kern): update ComboBox and Textarea components to align with KERN design system
  src/components/ComboBox.tsx
  src/components/Textarea.tsx
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
Due: lint, check-format

feat(kern): refactor Button and InfoBox components to align with KERN design system
  src/components/Button.tsx
  src/components/InfoBox.tsx
  src/components/MethodCard.astro
  src/components/PrinciplePosterBox.tsx
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  src/routes/methoden.interview-leitfaden-schritte.tsx
  src/routes/methoden.visualisieren.flussdiagramm.tsx
  src/routes/unterstuetzung/route.tsx
Due: lint, check-format

fix(Layout): set theme to light mode
  src/layouts/Layout.astro
Due: none

fix(vorpruefung-ergebnis): set errorID to error element
  src/components/Textarea.tsx
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  src/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

fix(globals): enable hyphenation for heading elements on small screens
  src/styles/globals.css
Due: check-format

fix(RadioGroup): remove unnecessary spacing class from radio group container
  src/components/RadioGroup.tsx
Due: lint, check-format

fix(PageHeader): update mobile link border styling
  src/layout/PageHeader.tsx
Due: lint, check-format

feat(input): enhance styling for warning state for all form components
  src/components/Input.tsx
  src/components/InputError.tsx
  src/components/RadioGroup.tsx
Due: lint, check-format

fix(DropdownMenu): style telephone number and email adress as links
  src/layout/DropdownMenu.tsx
Due: lint, check-format

fix(ProgressBar): adjust z-index for connecting line
  src/components/global/ProgressBar.astro
Due: none

fix: update background classes to use ds-gray for consistency
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/methoden/fuenf-prinzipien/_Textbeispiel.astro
Due: none

refactor(Vorpruefung): consolidate index page into astro component
  src/pages/vorpruefung/index.astro
  src/routes/vorpruefung._index.tsx
Due: lint, check-format

fix(Input, Textarea): add bg-white class to input elements for more contrast
  src/components/Input.tsx
  src/components/Textarea.tsx
Due: lint, check-format

fix(Result): adjust layout for header icon and title alignment
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

refactor(Index): add missing margin
  src/routes/unterstuetzung/route.tsx
Due: lint, check-format

fix: update heading styles to use kern-body for consistency
  src/pages/methoden/index.astro
  src/routes/dokumentation._index.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

refactor(Index): remove banner from landing page
  src/pages/index.astro
Due: none

fix(Button): update link button styles to use KERN tertiary look
  src/components/Button.tsx
  src/pages/index.astro
Due: lint, check-format

fix(Styles): unify heading styles for h2, h3, and corresponding angie classes
  src/styles/globals.css
  src/styles/kern-utils.css
Due: check-format

fix(HelpButton): add cursor pointer style to help button for better UX
  src/components/HelpButton.tsx
Due: lint, check-format

fix(ComboBox): add background color to ComboboxInput for improved visibility
  src/components/ComboBox.tsx
Due: lint, check-format

fix: update button styles to use KERN secondary look which is equivalent to angie tertiary look
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/vorpruefung/hinweise.astro
  src/routes/vorpruefung._preCheckNavigation.$questionId.tsx
Due: lint, check-format

fix(HelpSidepanel): move Help Buttons to correpsonding headings
  src/components/HelpSidepanel.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  src/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
Due: lint, check-format

fix(Footer): update footer styles and improve footer content
  src/layout/Footer.tsx
  src/resources/content/shared/footer.ts
Due: lint, check-format

feat(dropdownMenu): NEW Badge should have slim text font
  src/components/DropdownContentList.tsx
Due: lint, check-format

feat(vorpruefung): refactor FAQ Element to Astro component
  src/components/content/PreCheckFAQ.astro
  src/pages/vorpruefung/index.astro
  src/resources/content/vorpruefung.ts
Due: lint, check-format

fix(Image): update className for responsive width on example image
  src/pages/bundeslaender/index.astro
Due: none
