Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

chore(mise): bump pinned tool versions
  mise.lock
  mise.toml
Due: none

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore(impressum): upd bmds address
  src/pages/datenschutz.mdx
  src/pages/impressum.mdx
Due: none

chore(datenschutz): wrap addresses
  src/layouts/MdxLayout.astro
  src/pages/datenschutz.mdx
  src/pages/impressum.mdx
Due: none

chore(impressum): upd referat title
  src/pages/impressum.mdx
Due: none

refactor(downloads): rm unused filename prop
  src/config/downloads.ts
Due: lint, check-format

chore(hessen): upd text
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/hessen.astro
Due: none

feat: auto-generate download routes
  .prettierignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/documents/Leitfaden_Digitalcheck_Bundesland_Aug2026.pdf
  src/config/downloads.ts
  src/pages/bundeslaender/index.astro
  src/resources/content/methode-fuenf-prinzipien.ts
  src/routes/methoden.visualisieren.flussdiagramm.tsx
  src/service/wordDocumentationExport/wordDocumentation.ts
Due: lint, check-format

chore: fix typos
  src/pages/__tests__/methoden/index.test.ts
  src/pages/index.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/faq.astro
  src/resources/content/dokumentation.ts
  src/resources/content/methoden.ts
  src/resources/content/shared/naechste-schritte.ts
  src/resources/content/vorpruefung-ergebnis.ts
  src/resources/content/vorpruefung.ts
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  src/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  src/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  src/routes/dokumentation._index.tsx
  tests/e2e/documentation.spec.ts
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

chore: fix typos
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  src/routes/dokumentation._documentationNavigation.absenden.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  src/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  src/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation/documentationDataSchema.ts
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  src/routes/dokumentation/interoperability/values.ts
  tests/e2e/documentation-interoperability.spec.ts
Due: lint, check-format

chore: fix typo
  src/routes/dokumentation/interoperability/values.ts
Due: lint, check-format

chore: fix typo
  src/resources/content/vorpruefung.ts
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@3aad24686a7ff5f121e5263417eaffe6e5ab3c64 🚀
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/bewertung-organisatorisch/index.html
  previews/laender-astro/dokumentation/bewertung-rechtlich/index.html
  previews/laender-astro/dokumentation/bewertung-semantisch/index.html
  previews/laender-astro/dokumentation/bewertung-technisch/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/eu-interoperabilitaetsbezug/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/verbindliche-anforderungen/index.html
  previews/laender-astro/dokumentation/veroeffentlichung/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/methoden/fuenf-prinzipien/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/methoden/fuenf-prinzipien/index.html
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/index.html
Due: check-format

chore: fix typos
  src/resources/content/vorpruefung.ts
Due: lint, check-format

ci(create-unified-test-report): rm gh-pages deployment to avoid collision w/ previews
  .github/workflows/create-unified-test-report.yml
  .github/workflows/pipeline.yml
Due: check-format

build(deps): bump dotenv to v18.0.2
  package.json
  pnpm-lock.yaml
Due: check-format

chore(header): ol itemNumber alignment
  src/components/DropdownContentList.tsx
Due: lint, check-format

chore(hessen): upd link list
  src/pages/bundeslaender/hessen.astro
Due: none

test(vorpruefung): upd texts
  src/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

chore(index): upd banner text
  src/pages/index.astro
Due: none

chore(mise): sign commits, delete PR if empty, sync node version, use cooldown, create cooldown draft PR
  .github/workflows/mise-upgrade.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@4c2871fc7411092ace987f87020fea62e7cbf455 🚀
  previews/chore/mise-upgrade/dev/index.html
  previews/chore/mise-upgrade/interoperabel/index.html
  previews/chore/mise-upgrade/interoperabel/nationale-kontaktstelle/index.html
  previews/chore/mise-upgrade/vorpruefung/index.html
Due: check-format

feat(content): create prinzipien content collection and schema
  src/content.config.ts
  src/content/prinzipien/automatisierung-basiert-auf-eindeutigen-regelungen.md
  src/content/prinzipien/datenschutz-und-informationssicherheit-schaffen-vertrauen.md
  src/content/prinzipien/datenwiederverwendung-benoetigt-einheitliches-recht.md
  src/content/prinzipien/digitale-angebote-fuer-alle-nutzbar-gestalten.md
  src/content/prinzipien/etablierte-technologien-ermoeglichen-effiziente-umsetzung.md
Due: lint, check-format

refactor(strapi): migrate digitalcheck off Strapi onto content collection
  src/components/AspectPills.tsx
  src/components/DocumentationPageShell.tsx
  src/components/DocumentationWizard.astro
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/__tests__/methoden/fuenf-prinzipien/index.test.ts
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/index.astro
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  src/routes/dokumentation.$page.tsx
  src/routes/dokumentation._documentationNavigation.$principleId.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation._index.tsx
  src/routes/dokumentation/DocumentationContinueActions.tsx
  src/routes/dokumentation/DocumentationNavigationContext.tsx
  src/service/wordDocumentationExport/testUtils.ts
Due: lint, check-format

refactor(word): migrate word export to content collection objects
  src/service/wordDocumentationExport/markdownBlocksToWord.ts
  src/service/wordDocumentationExport/strapiBlocksToWord.spec.ts
  src/service/wordDocumentationExport/strapiBlocksToWord.ts
  src/service/wordDocumentationExport/wordDocumentation.spec.ts
  src/service/wordDocumentationExport/wordDocumentation.ts
Due: lint, check-format

refactor: remove dead code
  src/components/Absatz.tsx
  src/components/BlocksRenderer.spec.tsx
  src/components/BlocksRenderer.tsx
  src/components/ParagraphList.spec.tsx
  src/components/ParagraphList.tsx
  src/components/PrincipleHighlightModifier.tsx
  src/components/RegulationMetadata.tsx
  src/contexts/PrincipleHighlightContext.ts
  src/providers/PrincipleHighlightProvider.tsx
  src/resources/constants.ts
  src/resources/content/shared/absatz.ts
  src/routes/methoden.visualisieren.flussdiagramm.tsx
  src/utils/blocksRendererUtils.spec.ts
  src/utils/blocksRendererUtils.ts
  src/utils/paragraphUtils.spec.ts
  src/utils/paragraphUtils.ts
  src/utils/strapiData.server.ts
  src/utils/strapiData.types.ts
Due: lint, check-format

chore: format fix
  src/components/DocumentationPageShell.tsx
  src/components/DocumentationWizard.astro
  src/content.config.ts
  src/content/prinzipien/automatisierung-basiert-auf-eindeutigen-regelungen.md
  src/content/prinzipien/datenschutz-und-informationssicherheit-schaffen-vertrauen.md
  src/content/prinzipien/datenwiederverwendung-benoetigt-einheitliches-recht.md
  src/content/prinzipien/digitale-angebote-fuer-alle-nutzbar-gestalten.md
  src/content/prinzipien/etablierte-technologien-ermoeglichen-effiziente-umsetzung.md
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/dokumentation/index.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  src/routes/dokumentation.$page.tsx
  src/routes/dokumentation._documentationNavigation.$principleId.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation._index.tsx
  src/routes/dokumentation/DocumentationContinueActions.tsx
  src/service/wordDocumentationExport/markdownBlocksToWord.ts
  src/service/wordDocumentationExport/wordDocumentation.spec.ts
  src/service/wordDocumentationExport/wordDocumentation.ts
Due: lint, check-format

chore: upd talisman
  .talismanrc
Due: none
