Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    secrets-audit:
      tags: security audit
      run: talisman --githook pre-commit
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Change flex direction on mobile
  app/components/InfoBox.tsx
Due: lint, check-format

Update beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
Due: lint, check-format

Update snapshots
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Only align image on mobile
  app/components/InfoBox.tsx
Due: lint, check-format

Add principle poster box (#484)
  .talismanrc
  app/components/InfoBox.tsx
  app/components/LinkList.tsx
  app/components/PrinciplePosterBox.tsx
  app/components/openInNewWindow.tsx
  app/layout/Footer.tsx
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/methode-fuenf-prinzipien.ts
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  public/images/Poster_5Prinzipien.jpg
Due: lint, check-format

Fix pre-commit hook to only format staged
  lefthook.yml
  package.json
Due: check-format

Add digital readiness page behind feature flag
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/features.ts
  app/resources/staticRoutes.ts
  app/routes/grundlagen.digitaltauglichkeit.tsx
  public/images/ablaufdiagramm-v3-deutsch.jpg
Due: lint, check-format

Fix script format:fix
  package.json
Due: check-format

Fix inlining of open in new window icon
  app/components/openInNewWindow.tsx
Due: lint, check-format

Cleanup digital readiness page
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/routes/grundlagen.digitaltauglichkeit.tsx
Due: lint, check-format

Add page for nkr behind feature flag
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/staticRoutes.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Fix page styling
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Update Footer.spec.tsx.snap
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Remove size property from ImageBox component
  app/components/ImageBox.tsx
  app/routes/grundlagen.digitaltauglichkeit.tsx
Due: lint, check-format

Use different download icon for links
  app/components/LinkList.tsx
Due: lint, check-format

Use flex to align open in new tab icon
  app/components/RichText.tsx
  app/components/openInNewWindow.tsx
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: lint, check-format

Make infobox image cover space
  app/components/InfoBox.tsx
Due: lint, check-format

Change download text
  app/resources/content/methode-fuenf-prinzipien.ts
Due: lint, check-format

Run gitleaks only for staged files
  lefthook.yml
Due: check-format

Update .talismanrc
  .talismanrc
Due: none

Rename trainings jpg
  public/images/trainings.jpg
Due: none

Add InfoBoxSideBySide
  app/components/InfoBoxSideBySide.tsx
  app/routes/methoden._index.tsx
Due: lint, check-format

Remove specific child types
  app/components/InfoBoxSideBySide.tsx
Due: lint, check-format

Add new landing page
  app/resources/content/startseite-neu.ts
  app/routes/_index.tsx
Due: lint, check-format

Improve new landing responsiveness
  app/routes/_index.tsx
Due: lint, check-format

Add InfoBoxes back
  app/routes/_index.tsx
Due: lint, check-format

Fix routes
  app/resources/content/startseite-neu.ts
  app/routes/_index.tsx
Due: lint, check-format

Fix old landing page background image
  app/routes/_index.tsx
Due: lint, check-format

Add snapshot test for index page
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
  app/routes/__tests__/_index.spec.tsx
  tests/e2e/general.spec.ts
Due: lint, check-format

Fix a11y issue with div child of ol
  app/routes/_index.tsx
Due: lint, check-format

Update _index.spec.tsx.snap
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
Due: none

Make principle poster downloadable
  app/components/PrinciplePosterBox.tsx
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/staticRoutes.ts
  public/documents/Prinzipien-Poster.pdf
Due: lint, check-format

Finalize landing page
  app/components/LinkList.tsx
  app/components/PrinciplePosterBox.tsx
  app/resources/content/startseite-neu.ts
  app/routes/_index.tsx
Due: lint, check-format

Replace Potentiale with Potenziale
  app/resources/content/interoperabel.ts
  app/resources/content/startseite-neu.ts
  app/resources/content/unterstuetzung.ts
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
Due: lint, check-format

Fix landing result texts
  app/resources/content/startseite-neu.ts
  app/routes/_index.tsx
Due: lint, check-format

Fix principle poster link
  app/components/Button.tsx
Due: lint, check-format

Fix landing tests
  app/resources/content/startseite-neu.ts
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
Due: lint, check-format

Change auf seiten and gendern
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/content/startseite-neu.ts
  app/resources/content/startseite.ts
  app/resources/content/vorpruefung.ts
  app/resources/prototyp-dokumentation.ts
Due: lint, check-format

Hide Grundlagen Digitaltauglichkeit image
  app/routes/grundlagen.digitaltauglichkeit.tsx
Due: lint, check-format
