Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Fix grundlagen route title
  app/routes/grundlagen.fuenf-prinzipien.tsx
Due: lint, check-format

Shift parentheses
  app/components/Absatz.tsx
Due: lint, check-format

Refactor types for Prinzip
  app/components/Absatz.tsx
  app/components/ParagraphList.spec.tsx
  app/components/ParagraphList.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/contexts/PrincipleHighlightContext.ts
  app/providers/PrincipleHighlightProvider.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  app/utils/paragraphUtils.ts
  app/utils/strapiData.server.ts
Due: lint, check-format

Separate context and provider
  app/components/Absatz.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/contexts/PrincipleHighlightContext.ts
  app/providers/PrincipleHighlightProvider.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

Add test for methoden fuenf prinzipien page
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
Due: lint, check-format

Fix doc string of ParagraphList
  app/components/ParagraphList.tsx
Due: lint, check-format

Add resources for Absatz
  app/components/Absatz.tsx
  app/resources/content/shared/absatz.ts
Due: lint, check-format

Remove unnecessary route definitions
  app/resources/content/methode-fuenf-prinzipien.ts
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Update grundlagen with methoden changes
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
Due: lint, check-format

PR review fixes
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  app/utils/paragraphUtils.ts
  app/utils/strapiData.server.ts
Due: lint, check-format

Add absatz filter for paragraph list again
  app/components/ParagraphList.tsx
  app/utils/paragraphUtils.ts
Due: lint, check-format

Refactor absatz filtering and grouping
  app/components/ParagraphList.tsx
  app/utils/paragraphUtils.ts
Due: lint, check-format

Update methoden.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
Due: lint, check-format

Filter explanations in Absatz instead of utils
  app/components/Absatz.tsx
  app/components/ParagraphList.tsx
  app/utils/paragraphUtils.ts
Due: lint, check-format

Update BlocksRenderer.spec.tsx
  app/components/BlocksRenderer.spec.tsx
Due: lint, check-format

Refactor and change five principle sites
  app/components/Absatz.tsx
  app/components/PrinciplePosterBox.tsx
  app/providers/PrincipleHighlightProvider.tsx
  app/resources/content/methode-fuenf-prinzipien.ts
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
Due: lint, check-format

New Example Look (#488)
  app/components/Absatz.tsx
  app/components/Badge.tsx
  app/components/BlocksRenderer.spec.tsx
  app/components/BlocksRenderer.tsx
  app/components/DetailsSummary.tsx
  app/components/Heading.tsx
  app/components/InlineInfoList.tsx
  app/components/ParagraphList.spec.tsx
  app/components/ParagraphList.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/components/PrinciplePosterBox.tsx
  app/components/RichText.tsx
  app/contexts/PrincipleHighlightContext.ts
  app/hooks/deviceHook.ts
  app/providers/PrincipleHighlightProvider.tsx
  app/resources/constants.ts
  app/resources/content/beispiele-regelungen.ts
  app/resources/content/beispiele.ts
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/content/shared/absatz.ts
  app/root.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/utils/paragraphUtils.ts
  app/utils/strapiData.server.ts
  app/utils/utilFunctions.ts
Due: lint, check-format

Add integration test for result page WIP
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

Fix link to other ADR
  doc/adr/0016-use-graphql-for-strapi-requests.md
Due: check-format

Cleanup test creation for each scenario
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  vite.config.ts
Due: lint, check-format

Add loading indicator for big SVG
  app/components/SVGWithMiniMap.tsx
Due: lint, check-format

Finish ADR for ccp
  doc/adr/0023-use-compound-component-pattern.md
Due: check-format

Add first draft of ADR
  doc/adr/0023-use-compound-component-pattern.md
Due: check-format

Add ADR for mix of CCC and components in props
  doc/adr/0023-use-compount-component-pattern-and-components-in-props.md
Due: check-format

Create 0023-only-use-props.md
  doc/adr/0023-only-use-props.md
Due: check-format

Fix spelling, grammar, syntax
  doc/adr/0023-use-compound-component-pattern.md
  doc/adr/0023-use-compount-component-pattern-and-components-in-props.md
Due: check-format

Update ADRs
  doc/adr/0023-components-in-props-and-use-of-children.md
  doc/adr/0023-only-use-props.md
  doc/adr/0023-use-compound-component-pattern.md
Due: check-format

Fix PageHeader bug
  app/hooks/deviceHook.ts
  app/layout/PageHeader.tsx
Due: lint, check-format

WIP try to address feedback
  doc/adr/0023-children-first-react-component-api.md
  doc/adr/0023-components-in-props-and-use-of-children.md
Due: check-format

Try only setting safe headers to hide IP
  app/routes/ph-relay.$.tsx
Due: lint, check-format

Make ADR adhere to our format better
  .talismanrc
  doc/adr/0023-children-first-react-component-api.md
Due: check-format

Replace index snapshot by integration test
  app/routes/__tests__/__snapshots__/_index.spec.tsx.snap
  app/routes/__tests__/_index.spec.tsx
Due: lint, check-format

Update frontend dependencies
  .env.test
  .talismanrc
  app/routes/vorpruefung.ergebnis/buildMailtoRedirectUri.ts
  package-lock.json
  package.json
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Bump .node-version
  .node-version
Due: none

Fix type errors
  app/components/BlocksRenderer.tsx
  app/routes/download.$fileName.tsx
  app/routes/prototyp.dokumentation.ergebnis.tsx
Due: lint, check-format

Update Zod and use new syntax
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/resultValidation.ts
  app/routes/vorpruefung.ergebnis/route.tsx
  package-lock.json
  package.json
Due: lint, check-format

Fix types in spec
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

Update Grundlagen NKR
  app/resources/content/grundlage-normenkontrollrat.ts
  app/routes/grundlagen.normenkontrollrat.tsx
Due: lint, check-format

Change visualization intro page
  app/components/InfoBox.tsx
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/methode-ablaeufe-aufgaben-erfassen.ts
  app/routes/grundlagen.normenkontrollrat.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  public/images/entscheidungsbaum.png
  public/images/flussdiagramm.png
  public/images/schaubild.png
  public/images/von-schriftform-zur-visualisierung.png
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
