Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

chore(Footer): use breakout-grid in footer
  src/layout/Footer.astro
  src/layout/__snapshots__/Footer.spec.ts.snap
Due: none

fix(redirects): hardcode prinzipien redirects
  astro.config.mjs
Due: lint, check-format

fix(redirects): no base prefix for ext. flussdiagramm redirect
  astro.config.mjs
Due: lint, check-format

feat(das-ist-neu): load more functionality and style changes
  src/components/Timeline.tsx
  src/pages/das-ist-neu/index.astro
  src/resources/content/das-ist-neu.ts
  src/styles/globals.css
Due: lint, check-format

feat(bundeslaender): redesign bundeslaender info page
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/_assets/angebot.png
  src/pages/bundeslaender/_assets/laender-map.svg
  src/pages/bundeslaender/index.astro
Due: none

style(Hero): btn hover styles for dark hero
  src/components/Hero.astro
Due: none

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

style(globals): external link icon before, not after
  src/styles/globals.css
Due: check-format

feat(bundeslaender): add needed asset
  src/pages/bundeslaender/_assets/online-schulung.jpg
Due: none

style(Footer): use global external link icon
  src/layout/Footer.astro
  src/layout/__snapshots__/Footer.spec.ts.snap
  src/styles/globals.css
Due: check-format

fix(Timeline): double line glitch
  src/components/Timeline.tsx
  src/pages/das-ist-neu/index.astro
Due: lint, check-format

chore: rm ProgressBar
  src/components/DocumentationWizard.astro
  src/components/global/ProgressBar.astro
  src/layouts/BeispieleLayout.astro
  src/layouts/Layout.astro
  src/layouts/VorpruefungLayout.astro
  src/pages/dokumentation/index.astro
  src/pages/methoden/index.astro
  src/resources/content/progress.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

docs(adr): astro migration ADR
  doc/adr/0003-use-remix.md
  doc/adr/0015-use-cms-for-examples.md
  doc/adr/0016-use-graphql-for-strapi-requests.md
  doc/adr/0017-use-serverside-caching.md
  doc/adr/0022-change-routing-and-breadcrumbs.md
  doc/adr/0027-migrate-to-astro.md
Due: check-format

docs(adr): stage based feature-flags ADR
  doc/adr/0025-use-feature-flags-k8s.md
  doc/adr/0028-stage-based-feature-flags.md
Due: check-format

build(deps): rm unused node-cache & pdf-lib
  package.json
  pnpm-lock.yaml
Due: check-format

chore: rm leftover strapi references
  nginx.template.conf
  src/service/wordDocumentationExport/markdownBlocksToWord.ts
Due: lint, check-format

chore: rm feature-flag leftovers
  .env.example
  .env.test
  .gitignore
  public/robots.txt
  tests/feature-flags.json
Due: check-format

docs(readme): upd feature-flag section
  README.md
Due: check-format

docs(readme): rm outdated react router info
  README.md
Due: check-format

chore(package.json): npm -> pnpm in docker:dev script
  package.json
Due: check-format

docs(adr): link zfl-website repo
  doc/adr/0027-migrate-to-astro.md
Due: check-format

fix(security.txt): renew expiry
  public/.well-known/security.txt
Due: none

build(deps): rm obsolete dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore: rm dead code
  doc/adr/0027-migrate-to-astro.md
  src/components/BackToTopButton.tsx
  src/components/Metadata.tsx
  src/components/MethodCard.astro
  src/components/MethodCard.tsx
  src/components/OpenInNewIcon.tsx
  src/components/SVGWithMiniMap.tsx
  src/layout/SidebarContainer.tsx
  src/resources/content/beispiele-visualisierungen.ts
  src/routes/__tests__/utils/strapiUtils.ts
  src/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

chore: dead code cleanup (#1139)
  doc/adr/0027-migrate-to-astro.md
  package.json
  pnpm-lock.yaml
  src/components/BackToTopButton.tsx
  src/components/Metadata.tsx
  src/components/MethodCard.astro
  src/components/MethodCard.tsx
  src/components/OpenInNewIcon.tsx
  src/components/SVGWithMiniMap.tsx
  src/layout/SidebarContainer.tsx
  src/resources/content/beispiele-visualisierungen.ts
  src/routes/__tests__/utils/strapiUtils.ts
  src/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

feat(Layout): optional 'noMenu' prop
  src/layouts/Layout.astro
Due: none

chore(vorpruefung): disable sidebar menu
  src/layouts/VorpruefungLayout.astro
Due: none

chore(dokumentation): disable sidebar menu
  src/components/DocumentationWizard.astro
  src/pages/dokumentation/index.astro
Due: none

style(dokumentation): align colors of vorpruefung and digitalcheck with new design
  src/components/Alert.tsx
  src/components/AspectPills.tsx
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/ComboBox.tsx
  src/components/DetailsSummary.tsx
  src/components/HelpButton.tsx
  src/components/HelpSidepanel.tsx
  src/components/ImageBox.tsx
  src/components/InfoBox.tsx
  src/components/InfoBoxList.tsx
  src/components/InfoTooltip.tsx
  src/components/InlineNotice.tsx
  src/components/LoadingPage.astro
  src/components/Nav.spec.tsx
  src/components/Nav.tsx
  src/components/NumberedList.tsx
  src/components/RadioGroup.tsx
  src/components/Stepper.tsx
  src/components/SupportBanner.tsx
  src/components/Textarea.tsx
  src/pages/vorpruefung/_VorpruefungNavigation.tsx
  src/pages/vorpruefung/index.astro
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/routes/dokumentation._documentationNavigation.absenden.tsx
  src/routes/dokumentation._documentationNavigation.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation._index.tsx
  src/routes/dokumentation/DocumentationActions.tsx
  src/routes/dokumentation/interoperability/IEAContactBanner.tsx
  src/routes/dokumentation/interoperability/RequirementDetail.tsx
  src/routes/dokumentation/interoperability/SkipNoticeWrapper.tsx
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

style(global): remove unused css variables and tokens
  src/pages/interoperabel/index.astro
  src/styles/globals.css
Due: check-format

feat: remove unused pages and components
  src/components/kern-preview/Kopfzeile.tsx
  src/config/routes.ts
  src/pages/zahlen-und-fakten.astro
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

fix: remove unused component pt2
  src/pages/prinzipien/_textModifiers.tsx
Due: lint, check-format

feat(sitemap): use new astro hero
  src/pages/sitemap/index.astro
Due: none

feat(content): align content with figma design
  src/pages/kontakt.astro
  src/pages/normenkontrollrat.astro
Due: none

style(badge): align colors with figma design
  src/styles/badges.css
Due: check-format

feat(footer): add external zahlen und fakten link
  src/layout/Footer.astro
  src/layout/__snapshots__/Footer.spec.ts.snap
  src/styles/globals.css
Due: check-format
