Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

fix(Layout): preload Fira Sans SemiBold font for improved typography
  src/layouts/Layout.astro
  src/styles/fonts.css
Due: check-format

fix(ResultForm): add responsive hyphenation to email preview and reason list item
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

fix pnpm lock
  pnpm-lock.yaml
Due: check-format

fix(styles): map ds-body-01-bold classes to bold html element
  src/components/InteroperableSolutionBanner.tsx
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: lint, check-format

fix(footer): don't apply kern link class to plain text in footer
  src/layout/Footer.tsx
Due: lint, check-format

fix(Layout): preload Fira Sans fonts for improved performance
  src/layouts/Layout.astro
  src/styles/fonts.css
  src/styles/globals.css
Due: check-format

fix(tests): update footer snapshot
  src/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

fix(format): remove redundant JSX fragments
  src/layout/Footer.tsx
  src/routes/methoden.interview-leitfaden-schritte.tsx
  src/routes/unterstuetzung/route.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

fix(FormElements): use kern specific error handling
  src/components/RadioGroup.tsx
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
Due: lint, check-format

fix(style): add kern class to item number
  src/components/DropdownContentList.tsx
Due: lint, check-format

chore(licence-checker): add kern licence to allow list
  package.json
Due: check-format

fix(kern): typo in color class
  src/components/MethodCard.astro
Due: none

fix(tests): align tests with new structure of form elements
  src/layout/DropdownMenu.spec.tsx
  src/pages/__tests__/index.test.ts
  src/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  src/routes/__tests__/vorpruefung._index.spec.tsx
  src/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  src/routes/__tests__/vorpruefung.questionId.spec.tsx
Due: lint, check-format

fix(style): prettier fix
  src/layouts/BeispieleLayout.astro
  src/pages/404.astro
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/zahlen-und-fakten.astro
Due: none

test(vorpruefung): split astro and react unit test for vorpruefungs component
  .gitignore
  src/pages/__tests__/vorpruefung/index.test.ts
  src/routes/vorpruefung/PreCheckContinueActions.spec.tsx
Due: lint, check-format

fix(footer): update test snapshot
  src/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

fix(eslint): fix import glob to speed up linting
  eslint.config.js
Due: lint, check-format

chore(laender): upd hessen landingpage
  src/pages/bundeslaender/hessen.astro
Due: none

chore(dokumentation): upd contentNoPruefstelle on final page
  src/resources/content/dokumentation.ts
Due: lint, check-format

chore(hessen): upd text
  src/pages/bundeslaender/hessen.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@4a491a8b3787683866bf1bceac62ece457d1ec82 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/laender-astro/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/laender-astro/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/laender-astro/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/laender-astro/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/laender-astro/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/laender-astro/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/laender-astro/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/laender-astro/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/laender-astro/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/laender-astro/bundeslaender/hessen/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
Due: check-format

chore(dokumentation): upd docx template w/ Bundesland content
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit_Interoperabilitaet.docx
Due: none

chore(talisman): add exclusions
  .talismanrc
Due: none

chore: apply format:fix
  public/site.webmanifest
  src/components/FeatureItem.astro
Due: none

chore(dokumentation): fix typo in docx template
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit_Interoperabilitaet.docx
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@7e0afc7155f8609d59a4f9f837847cd52af88d9c 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/laender-astro/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/laender-astro/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/laender-astro/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/laender-astro/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/laender-astro/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/laender-astro/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/laender-astro/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/laender-astro/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/laender-astro/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit_Interoperabilitaet.docx
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/site.webmanifest
  previews/laender-astro/unterstuetzung/index.html
Due: check-format

chore(talisman): upd exclusion
  .talismanrc
Due: none

test(dokumentation): upd tests for final page to match changed content
  src/routes/__tests__/dokumentation._documentationNavigation.absenden.spec.tsx
Due: lint, check-format

ci(preview): auto-preview for PRs
  .github/workflows/preview.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@e002ece833d4608259a285de677294c01b7bc3d8 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/laender-astro/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/laender-astro/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/laender-astro/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/laender-astro/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/laender-astro/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/laender-astro/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/laender-astro/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/laender-astro/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/laender-astro/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/laender-astro/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
Due: check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
