Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Remove patch filter in dependabot and add group
  .github/dependabot.yml
Due: check-format

Update dependencies
  package-lock.json
Due: check-format

Minor changes to readme
  README.md
Due: check-format

Update methoden.interview-leitfaden.tsx
  app/routes/methoden.interview-leitfaden.tsx
Due: lint, check-format

Update methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

Make hooks pre push
  lefthook.yml
Due: check-format

Fix format
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden.tsx
Due: lint, check-format

ci(link-checker): add link checker workflow (wip)
  .github/workflows/link-checker.yml
Due: check-format

ci(link-checker): fix cache settings
  .github/workflows/link-checker.yml
Due: check-format

ci(link-checker): pin 3rd-party actions to commit sha
  .github/workflows/link-checker.yml
Due: check-format

Configure no-irregular-whitespace
  app/routes/impressum.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  eslint.config.js
Due: lint, check-format

Added Accessibility notice
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

chore(content): fix typo
  app/resources/content/unterstuetzung.ts
Due: lint, check-format

ci(link-checker): move link-checker to separate repo
  .github/workflows/link-checker.yml
Due: check-format

ci(link-checker): upd link-checker version
  .github/workflows/link-checker.yml
Due: check-format

Update das-ist-neu.ts
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

fix(sitemap.xml): use https in production
  app/routes/sitemap[.xml].tsx
Due: lint, check-format

feat(sitemap.xml): include dynamic routes in sitemap
  app/routes/sitemap[.xml].tsx
Due: lint, check-format

chore: fix links
  .talismanrc
  app/resources/content/beispiele-regelungen.ts
  app/resources/content/interoperabel.ts
  app/routes/beispiele.prinzipien.$prinzip.tsx
  public/markdown/barrierefreiheit.md
Due: lint, check-format

chore: google form shortlink to avoid talisman exception
  .talismanrc
  app/resources/content/beispiele-regelungen.ts
Due: lint, check-format

test(examplePages.spec.ts): upd link test newTab -> same page
  tests/e2e/examplePages.spec.ts
Due: lint, check-format

chore(routes): unify /(grundlagen|methoden)/fuenf-prinzipien
  app/resources/staticRoutes.ts
Due: lint, check-format

chore(beispiele): write out full google forms link to avoid link mismatch flag
  .talismanrc
  app/resources/content/beispiele-regelungen.ts
Due: lint, check-format

test(footer): update url
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

fix(beispiele): fix google form link
  app/resources/content/beispiele-regelungen.ts
Due: lint, check-format

feat(interview-leitfaden): update files and images
  app/components/ImageBox.tsx
  app/components/InfoBox.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  public/documents/interview-leitfaden/Ablaufplan_Interviewführung.docx
  public/documents/interview-leitfaden/Akteurlandschaft_Analyse.pptx
  public/documents/interview-leitfaden/Umsetzung_verstehen.docx
  public/images/interview-leitfaden-checkliste.png
  public/images/interview-leitfaden-vorlage-schritt-2.png
  public/images/interview-leitfaden-vorlage.png
Due: lint, check-format

feat(unterstuetzung): add link to zfl website
  app/components/InfoBox.tsx
  app/routes/unterstuetzung/route.tsx
  app/styles.css
  public/images/zfl-preview.png
Due: lint, check-format

docs: add small description about repo contents
  README.md
Due: check-format

docs: fix type in readme
  README.md
Due: check-format

Update eslint.config.js
  eslint.config.js
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
