Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Add noscript banner to header
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/resources/content/shared/header.ts
Due: lint, check-format

Update Footer.spec.tsx.snap
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Fix typescript issues
  app/resources/constants.ts
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
Due: lint, check-format

Fix linting issues
  app/components/TableOfContentsInteractive.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

Add SGB-VI to das-ist-neu
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

Update header.ts
  app/resources/content/shared/header.ts
Due: lint, check-format

Fix typing in ResultForm
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
Due: lint, check-format

Remove create method until needed
  app/resources/content/shared/header.ts
  app/routes/dokumentation/documentationDataService.spec.ts
  app/routes/dokumentation/documentationDataService.ts
Due: lint, check-format

Refactor ContentWrapper to not use negativ margin
  app/components/ContentWrapper.tsx
Due: lint, check-format

Un-inline content for consistency
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/routes/interoperabel.nationale-kontaktstelle.tsx
Due: lint, check-format

Apply new spacing to documentation nav
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

Implement new design for doc title page
  app/resources/content/dokumentation.ts
  app/resources/staticRoutes.ts
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._index.tsx
Due: lint, check-format

Remove PostHog to investigate hydration error
  app/root.tsx
Due: lint, check-format

Revert "Remove PostHog to investigate hydration error"
  app/root.tsx
Due: lint, check-format

Make title tag unique
  app/resources/content/vorpruefung.ts
  app/root.tsx
  app/routes/_index.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
  app/routes/vorpruefung.tsx
Due: lint, check-format

Update general.spec.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

Add E2E/A11y test failure output to workflow
  .github/workflows/check-and-test.yml
  .github/workflows/pipeline.yml
Due: check-format

Test new report approach
  .github/workflows/check-and-test.yml
Due: check-format

Revert "Test new report approach"
  .github/workflows/check-and-test.yml
Due: check-format

Revert "Add E2E/A11y test failure output to workflow"
  .github/workflows/check-and-test.yml
  .github/workflows/pipeline.yml
Due: check-format

Split tests into separate files
  .github/workflows/check-and-test.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .talismanrc
Due: check-format

Test new pipeline with force fail
  .github/workflows/check-and-test.yml
Due: check-format

Test other part of pipeline
  .github/workflows/check-and-test.yml
  .github/workflows/run-e2e-a11y-tests.yml
Due: check-format

Revert pipeline to default
  .github/workflows/run-e2e-a11y-tests.yml
Due: check-format

Set tracking to fixed values to fix hydration
  app/root.tsx
Due: lint, check-format

Redirect grundlagen 5 principles to methods
  app/routes/grundlagen.fuenf-prinzipien.tsx
Due: lint, check-format

Add 5 principles page to menus again
  app/resources/content/shared/footer.ts
  app/resources/content/shared/header.ts
  app/routes/grundlagen._index.tsx
Due: lint, check-format

Revert "Set tracking to fixed values to fix hydration"
  app/root.tsx
Due: lint, check-format

Remove spaces from phone number
  app/layout/DropdownMenu.tsx
  app/layout/PageHeader.tsx
Due: lint, check-format

Use valid element ID for menu
  app/layout/DropdownMenu.tsx
Due: lint, check-format

Fix progress bar tests
  tests/e2e/general.spec.ts
Due: lint, check-format

Fix dropdown tests
  app/layout/DropdownMenu.spec.tsx
Due: lint, check-format

Fix duplicate dropdown ids
  app/layout/DropdownMenu.tsx
Due: lint, check-format

Update DropdownMenu.spec.tsx
  app/layout/DropdownMenu.spec.tsx
Due: lint, check-format

Remove duplicate property
  app/routes/dokumentation/documentationDataService.ts
Due: lint, check-format

Address hydration errors on production
  app/hooks/deviceHook.ts
Due: lint, check-format

Change page title to make them accessible
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
Due: lint, check-format

Add ADR about storing data in localStorage
  doc/adr/0024-use-local-storage-for-data-storage.md
Due: check-format
