Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

fix(nginx): add CSP for strapi media domain
  nginx.template.conf
Due: none

chore(header): hardcoded link to 1st principle to avoid client redirect
  app/resources/content/shared/header.ts
Due: lint, check-format

chore(license-checker): add Python-2.0 to allowed
  package.json
Due: check-format

chore(licence-checker): add CC-BY-4.0 & CC0-1.0 to allowed
  package.json
Due: check-format

test(snapshots): upd webServer command for astro
  tests/playwright-snapshots.config.ts
Due: lint, check-format

test(snapshots): fix cwd
  tests/playwright-snapshots.config.ts
Due: lint, check-format

refactor: use validation function instead of schema
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

feat: rename route
  src/config/routes.ts
Due: lint, check-format

ci: deploy main to staging
  .github/workflows/pipeline.yml
Due: check-format

refactor: move validation logic to Provider
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

refactor: assetPath -> withBase
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel.ts
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/content/methode-it-systeme-erfassen.ts
  app/resources/content/methode-technische-umsetzbarkeit.ts
  app/resources/content/methode-visualisieren.ts
  app/resources/content/methode-zustaendige-akteurinnen-auflisten.ts
  app/resources/content/unterstuetzung.ts
  app/resources/content/vorpruefung.ts
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/unterstuetzung/route.tsx
  app/utils/assetPath.ts
  src/pages/bundeslaender/index.astro
  src/pages/index.astro
  src/pages/methoden/visualisieren/index.astro
Due: lint, check-format

chore: rm unused CSP file (in nginx now)
  app/utils/contentSecurityPolicy.server.ts
Due: lint, check-format

chore: rm feature flag code
  app/contexts/FeatureFlagContext.ts
  app/providers/FeatureFlagProvider.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/utils/featureFlags.server.ts
  app/utils/featureFlags.ts
Due: lint, check-format

chore: rm unused plausible code
  app/components/AccordionItem.tsx
  app/components/Button.tsx
  app/components/ImageBox.tsx
  app/components/ImageZoomable.tsx
  app/components/VisualisationItem.tsx
  app/components/content/PreCheckFAQ.tsx
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/methode-visualisieren.ts
  app/resources/content/shared/header.ts
  app/resources/content/vorpruefung.ts
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/utils/contentTypes.ts
  app/utils/plausibleUtils.ts
  src/pages/index.astro
Due: lint, check-format

fix(withBase): fallback if outside of vite context
  src/utils/path.ts
Due: lint, check-format

chore: rm dead code
  app/resources/content/dokumentation.ts
  app/resources/content/error.ts
  app/utils/logging.ts
  app/utils/preview.ts
  app/utils/utilFunctions.ts
Due: lint, check-format

refactor: mv normalizePathname to @/utils/path
  app/components/DropdownContentList.tsx
  app/layout/PageHeader.tsx
  app/utils/utilFunctions.ts
  src/utils/path.ts
Due: lint, check-format

feat(bundeslaender): add Hessen dummy page
  src/config/routes.ts
  src/pages/bundeslaender/_assets/hessen-logo.jpg
  src/pages/bundeslaender/_assets/hessen-map.svg
  src/pages/bundeslaender/hessen.astro
Due: lint, check-format

feat(bundeslaender): add to nav w/ images (wip)
  app/components/DropdownContentList.tsx
  app/resources/content/shared/header.ts
  public/images/bund-laender-kommunen.svg
Due: lint, check-format

feat(bundeslaender): shared layout
  .talismanrc
  app/components/DropdownContentList.tsx
  app/resources/content/shared/header.ts
  public/images/bundeslaender.png
  public/images/bundeslaender/brandenburg-logo.svg
  public/images/bundeslaender/bund-laender-kommunen-adler.svg
  public/images/bundeslaender/bund-laender-kommunen.svg
  public/images/bundeslaender/hessen-logo.svg
  public/images/bundeslaender/hessen-wappen.svg
  public/images/bundeslaender/nrw-wappen.svg
  src/config/routes.ts
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/_assets/hessen-map.svg
  src/pages/bundeslaender/_assets/laender-map.svg
  src/pages/bundeslaender/brandenburg.astro
  src/pages/bundeslaender/hessen.astro
  src/pages/bundeslaender/index.astro
  src/pages/bundeslaender/nordrhein-westfalen.astro
Due: lint, check-format

feat(PageHeader): add Dachmarke logo
  .talismanrc
  app/layout/DropdownMenu.tsx
  app/layout/PageHeader.tsx
  app/resources/content/shared/header.ts
  public/images/bundeslaender/bund-laender-kommunen.svg
  public/logo/bund-laender-kommunen-adler.svg
  public/logo/bund-laender-kommunen.svg
Due: lint, check-format

chore(bundeslaender): fix header activeBehavior
  app/layout/DropdownMenu.tsx
  app/resources/content/shared/header.ts
Due: lint, check-format

style(bundeslaender): add h2 margin-bottom
  src/layouts/LaenderLayout.astro
Due: none

style(PageHeader): upd Dachmarke logo
  app/components/kern-preview/Kopfzeile.css
  app/components/kern-preview/Kopfzeile.tsx
  app/layout/PageHeader.tsx
  public/logo/bund-laender-kommunen-adler.svg
  public/logo/bund-laender-kommunen-dark.svg
  public/logo/bund-laender-kommunen.svg
Due: lint, check-format

chore(bundeslaender): add 'Land' prefix
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/index.astro
Due: none

feat: add favicons for Dachmarke
  public/apple-touch-icon.png
  public/favicon-96x96.png
  public/favicon.ico
  public/favicon.svg
  public/favicon_32.png
  public/favicon_64.png
  public/site.webmanifest
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/layouts/Layout.astro
Due: none

style(PageHeader): increase logo size
  app/layout/PageHeader.tsx
Due: lint, check-format

feat: add Select component
  app/components/Select.tsx
  src/styles/globals.css
Due: lint, check-format

feat(dokumentation): add bundesland select
  app/resources/content/dokumentation.ts
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

feat(dokumentation): upd Absenden content strings
  app/resources/content/dokumentation.ts
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  src/config/routes.ts
  src/pages/dokumentation/absenden.astro
Due: lint, check-format

feat(dokumentation): bundesland specific contents in final step
  app/components/InfoBoxList.tsx
  app/resources/content/dokumentation.ts
  app/resources/content/shared/bundeslaender.ts
  app/routes/__tests__/dokumentation._documentationNavigation.absenden.spec.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
Due: lint, check-format

test(DropdownMenu): fix tests
  app/layout/DropdownMenu.spec.tsx
Due: lint, check-format

style(dokumentation): add spacing in final step
  app/routes/dokumentation._documentationNavigation.absenden.tsx
Due: lint, check-format

refactor(bundeslaender): shared bundeslandSchema
  app/components/Select.tsx
  app/resources/content/dokumentation.ts
  app/resources/content/shared/bundeslaender.ts
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

chore: update sharp
  package.json
  pnpm-lock.yaml
Due: check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

feat: skip ignored routes for navigation buttons
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format
