Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

fix(vorpruefung): fix titles
  src/pages/vorpruefung/ergebnis.astro
  src/pages/vorpruefung/eu-bezug.astro
  src/pages/vorpruefung/index.astro
Due: none

content: fix legal reference
  app/resources/content/vorpruefung.ts
Due: lint, check-format

refactor: use markdown
  app/resources/content/vorpruefung.ts
Due: lint, check-format

chore: update gitignore
  .gitignore
Due: none

chore(talisman): update allowed_patterns for Posthog keys
  .talismanrc
Due: none

chore(Dockerfile): restructure build stages and update package copying
  Dockerfile
Due: none

feat(nginx): add ph-relay endpoint
  .talismanrc
  nginx.template.conf
Due: none

feat: add warum-astro page
  src/pages/warum-astro.astro
Due: none

test(e2e): upd vorpruefung title tests
  tests/e2e/general.spec.ts
Due: lint, check-format

test(e2e): use different port for playwright
  tests/playwright.config.ts
Due: lint, check-format

refactor: remove unused components
  app/routes/dokumentation._documentationNavigation.interoperabilitaetsbewertung.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/dokumentation/interoperability/FormVariant1.tsx
  app/routes/dokumentation/interoperability/FormVariant2.tsx
  app/routes/dokumentation/interoperability/RequirementDetail.tsx
  app/routes/dokumentation/interoperability/Sections.tsx
  app/routes/dokumentation/interoperability/SkipNoticeWrapper.tsx
  app/routes/dokumentation/interoperability/explanationMarkdown.ts
Due: lint, check-format

feat: style contact banner
  app/routes/dokumentation/interoperability/IEAContactBanner.tsx
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@1ed647578cdfb9d945c886238562317147aa64c9 🚀
  previews/laender-astro/_astro/PreCheckFAQ.CC8k1So0.js
  previews/laender-astro/_astro/_VorpruefungNavigation.DyBU50cG.js
  previews/laender-astro/_astro/preCheckDataHook.TxSoOVxJ.js
  previews/laender-astro/_astro/preCheckDataSchema.a6tTv5Ia.js
  previews/laender-astro/_astro/route.CrI949bj.js
  previews/laender-astro/_astro/vorpruefung.BtpERcyi.js
  previews/laender-astro/_astro/vorpruefung._index.CqlFgX66.js
  previews/laender-astro/_astro/vorpruefung._preCheckNavigation._questionId.B6twfIxv.js
  previews/laender-astro/_astro/vorpruefung._preCheckNavigation.hinweise.DMmlzinl.js
  previews/laender-astro/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/hinweise/index.html
  previews/laender-astro/vorpruefung/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: lint, check-format

fix(docker): fix WORKDIR position
  Dockerfile
Due: none

feat(Kopfzeile): show non-prod stage
  app/components/kern-preview/Kopfzeile.tsx
  src/config/stage.ts
Due: lint, check-format

refactor(vorpruefung): dynamic [questionId].astro route
  app/resources/content/shared/pre-check-questions.ts
  app/resources/content/vorpruefung.ts
  src/config/routes.ts
  src/pages/vorpruefung/[questionId].astro
  src/pages/vorpruefung/_getQuestion.ts
  src/pages/vorpruefung/automatisierung.astro
  src/pages/vorpruefung/datenaustausch.astro
  src/pages/vorpruefung/eu-bezug.astro
  src/pages/vorpruefung/it-system.astro
  src/pages/vorpruefung/kommunikation.astro
  src/pages/vorpruefung/verpflichtungen-fuer-beteiligte.astro
  tests/e2e/general.spec.ts
Due: lint, check-format

chore(sitemap): exclude vorpruefung/dokumentation sub-routes
  src/config/routes.ts
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/zusammenfassung.astro
  src/pages/vorpruefung/ergebnis.astro
  src/pages/vorpruefung/hinweise.astro
Due: lint, check-format

refactor(utils): buildRoutePath -> withBase
  src/middleware.ts
  src/utils/path.ts
Due: lint, check-format

chore: upd NKR mail address
  app/resources/content/shared/contact.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

refactor(vorpruefung): mv hinweise to astro page
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
  src/pages/vorpruefung/hinweise.astro
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@63dc25240485fb6cf7e3cf04aea96513423b859e 🚀
  previews/laender-astro/_astro/DocumentationActions.BULh2N57.js
  previews/laender-astro/_astro/DocumentationDataProvider.CrcilAdx.js
  previews/laender-astro/_astro/DocumentationPageShell.BR_ZXLWm.js
  previews/laender-astro/_astro/documentationDataHook.Cgva4l8I.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation._principleId.BWrS5bPs.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation._principleId_.erlaeuterung.D0_qq0Ep.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation.absenden.pFf9Tunc.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation.beteiligungsformate.DvkK9znY.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation.hinweise.DqtWFIa1.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation.regelungsvorhaben-titel.MmaZUEw0.js
  previews/laender-astro/_astro/dokumentation._documentationNavigation.zusammenfassung.Dr1VdI2Q.js
  previews/laender-astro/_astro/dokumentation._index.DGZhBuPE.js
  previews/laender-astro/_astro/preCheckDataSchema.BNIpnIfl.js
  previews/laender-astro/_astro/route.fBZWKG-f.js
  previews/laender-astro/_astro/vorpruefung._preCheckNavigation._questionId.DuZNP8vn.js
  previews/laender-astro/_astro/wordDocumentation.CRwtA6n7.js
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: lint, check-format

chore: upd NKR mail address (#933)
  app/resources/content/shared/contact.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

chore(deps): override esbuild w/ v0.28.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-format

chore: update pnpm overrides for esbuild vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-format

fix(Dockerfile): copy pnpm-workspace.yaml for overrides
  Dockerfile
Due: none

Revert "chore: rm conflicting test-upload.tsx"
  app/routes/test-upload.tsx
Due: lint, check-format

refactor(test-upload): astro page w/ client-side verification
  src/pages/test-upload/_UploadTest.tsx
  src/pages/test-upload/index.astro
Due: lint, check-format

fix(test-upload): prefix paths withBase for preview builds
  src/pages/test-upload/_UploadTest.tsx
Due: lint, check-format

fix(docker): copy pnpm-workspace.yaml into install stages
  Dockerfile
Due: none

fix(posthog): fix posthog wiring
  .talismanrc
  src/config/posthog.ts
  src/env.d.ts
  src/layouts/Layout.astro
Due: lint, check-format

chore: cleanup old POSTHOG_ constants
  app/providers/PosthogProvider.tsx
  app/utils/constants.server.ts
  app/utils/constants.ts
Due: lint, check-format

chore: rm app/mocks/ & other dead code
  app/mocks/node.ts
  app/mocks/plausibleHandlers.ts
  app/utils/constants.ts
Due: lint, check-format

fix(beispiele): fix RouteTabs hydration
  src/pages/beispiele/prinzipien/[principleId].astro
Due: none
