Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

build(Dockerfile): install pnpm via corepack & rm unnecessary chmod
  Dockerfile
Due: none

ci: npx -> pnpm exec
  .github/workflows/create-unified-test-report.yml
Due: check-format

build(Dockerfile): add --ignore-scripts
  Dockerfile
Due: none

chore: add explicit button type
  src/components/Absatz.tsx
  src/components/BackToTopButton.tsx
  src/components/Button.tsx
  src/components/Dialog.tsx
  src/components/InfoTooltip.tsx
  src/components/PrincipleHighlightModifier.tsx
  src/layout/PageHeader.tsx
Due: lint, check-format

chore: fix sonarqube issues
  src/components/InfoBox.spec.tsx
  src/components/InfoBoxList.spec.tsx
  src/components/Nav.spec.tsx
Due: lint, check-format

refactor: rm redundant fragments
  src/routes/methoden.interview-leitfaden-schritte.tsx
  src/routes/unterstuetzung/route.tsx
  src/routes/vorpruefung._index.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

chore: fix sonarqube issues
  src/contexts/HelpPanelContext.tsx
  src/pages/test-upload/_UploadTest.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  src/utils/fileExtensionUtils.spec.ts
Due: lint, check-format

chore(deps): upd python dependencies
  scripts/nkr-data/uv.lock
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

refactor(nkr-data): fix cell order + add comments
  scripts/nkr-data/transform-nkr-export.ipynb
Due: none

fix: verbatim Markdown content
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
Due: none

fix(hessen): update links to external resources
  src/pages/bundeslaender/hessen.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@0b9558a92d6181d82539bc2e684b57d18e3b3e84 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/bundeslaender/hessen/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
Due: check-format

fix(hessen): update link for Hessisches E-Government-Gesetz
  src/pages/bundeslaender/hessen.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@e563a262fbd91e395968895e29bba80e92d2e377 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/bundeslaender/hessen/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/bundesland/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

refactor: update component styles to use 'kern' naming convention
  src/components/Alert.tsx
  src/components/Button.tsx
  src/components/DropdownContentList.tsx
  src/components/Hero.tsx
  src/components/InfoBox.tsx
  src/components/InfoBoxList.spec.tsx
  src/components/InfoBoxList.tsx
  src/components/ParagraphList.tsx
  src/components/SupportBanner.tsx
  src/components/VisualisationItem.tsx
  src/layout/Footer.tsx
  src/pages/404.astro
  src/pages/beispiele/regelungen/_VisualisierungTab.astro
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/index.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
  src/routes/unterstuetzung/route.tsx
  src/routes/vorpruefung._index.tsx
  src/routes/vorpruefung.ergebnis/ResultForm.tsx
  src/routes/vorpruefung.ergebnis/route.tsx
  src/styles/globals.css
  src/styles/kern-utils.css
  src/utils/tailwindMerge.ts
Due: lint, check-format

feat(kern): update RadioGroup styles to align with KERN
  src/components/RadioGroup.tsx
Due: lint, check-format

feat(dependencies): add @kern-ux/native package version 2.7.1
  package.json
  pnpm-lock.yaml
Due: check-format

feat(kern): set spacing unit to 1px to fit angie spacings to new kern spacings
  src/styles/globals.css
Due: check-format

feat(kern): update ComboBox and Textarea components to align with KERN design system
  src/components/ComboBox.tsx
  src/components/Textarea.tsx
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
Due: lint, check-format

feat(styles): update components to use new design system blue colors
  src/components/Hero.astro
  src/components/LoadingPage.astro
  src/components/global/ProgressBar.astro
  src/components/tabs/MobileTabPicker.astro
  src/layouts/BeispieleLayout.astro
  src/layouts/MethodenLayout.astro
  src/pages/404.astro
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
  src/pages/zahlen-und-fakten.astro
Due: none

feat(dokumentation): update checkbox styling to KERN
  src/routes/dokumentation._documentationNavigation.hinweise.tsx
Due: lint, check-format

feat(kern): update Input component styles to align with KERN design system
  src/components/Input.tsx
Due: lint, check-format

feat(kern): update Prinzipien Link Liste to align with old design
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
Due: none

fix(vorpruefung-ergebnis): set errorID to error element
  src/components/Textarea.tsx
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  src/routes/__tests__/vorpruefung.ergebnis.spec.tsx
Due: lint, check-format

feat(kern): update Menu Component to align with old design
  src/components/DropdownContentList.tsx
Due: lint, check-format

feat(kern): refactor Button and InfoBox components to align with KERN design system
  src/components/Button.tsx
  src/components/InfoBox.tsx
  src/components/MethodCard.astro
  src/components/PrinciplePosterBox.tsx
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  src/routes/methoden.interview-leitfaden-schritte.tsx
  src/routes/methoden.visualisieren.flussdiagramm.tsx
  src/routes/unterstuetzung/route.tsx
Due: lint, check-format

feat(input): enhance styling for warning state for all form components
  src/components/Input.tsx
  src/components/InputError.tsx
  src/components/RadioGroup.tsx
Due: lint, check-format

ci(link-checker): upd sitemap url
  .github/workflows/link-checker.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@1a0d1d89990d4639aa43eaff87ddc7c082564d40 🚀
  previews/feature/kern-umstellung/beispiele/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/feature/kern-umstellung/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/feature/kern-umstellung/dev/index.html
  previews/feature/kern-umstellung/interoperabel/index.html
  previews/feature/kern-umstellung/interoperabel/nationale-kontaktstelle/index.html
Due: check-format

Update das-ist-neu.ts
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(prettier): ignore scripts/
  .prettierignore
Due: none

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
