Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Update synthese-prozess-digitalcheck-und-interoperabilitaet.png
  public/images/synthese-prozess-digitalcheck-und-interoperabilitaet.png
Due: none

Bump package versions
  .github/workflows/scan.yml
  .talismanrc
  package-lock.json
  package.json
Due: check-format

Safer Talisman ignore
  .talismanrc
Due: none

Refactor use of ButtonContainer
  app/components/Box.tsx
  app/components/ButtonContainer.tsx
  app/components/InfoBox.tsx
  app/components/Timeline.tsx
  app/routes/dokumentation.tsx
  app/routes/interoperabel._index.tsx
  app/routes/methoden._index.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.beteiligung.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.meta.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.prinzip-1.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.prinzip-2.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.prinzip-3.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.prinzip-4.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.prinzip-5.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.start-oder-fortsetzen.tsx
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/prototyp.dokumentation.ergebnis-word.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/utils/resourceUtils.tsx
Due: lint, check-format

Test PageHeader interaction
  .talismanrc
  app/layout/PageHeader.integration.spec.tsx
  app/layout/PageHeader.tsx
Due: lint, check-format

Fix improper props passing
  .talismanrc
  app/routes/versionsverlauf.tsx
Due: lint, check-format

Replace Box with InfoBox
  app/components/Box.tsx
  app/components/Card.tsx
  app/components/InfoBox.tsx
  app/components/SupportBanner.tsx
  app/components/Tabs.spec.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.tsx
  app/routes/interoperabel._index.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/routes/prototyp.dokumentation.ergebnis-word.tsx
  app/routes/prototyp.dokumentation.ergebnis.tsx
  app/routes/prototyp.dokumentation.zwischenstand-speichern.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Change snapshot test IDs
  tests/snapshots/general.spec.ts
Due: lint, check-format

Reset .gitignore
  .gitignore
Due: none

Delete snapshot tests
  tests/e2e/strapiConnectedPages.spec.ts
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-1cb23-iederverwendung-benoetigt-einheitliches-recht-3.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-217b2-iele-regelungen-modernisierung-des-postrechts-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-21904-digitale-angebote-fuer-alle-nutzbar-gestalten-3.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-26beb-digitale-angebote-fuer-alle-nutzbar-gestalten-7.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-33b56-digitale-angebote-fuer-alle-nutzbar-gestalten-6.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-33fd4-echnologien-ermoeglichen-effiziente-umsetzung-2.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-4465a-atisierung-basiert-auf-eindeutigen-regelungen-3.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-49ab9-digitale-angebote-fuer-alle-nutzbar-gestalten-5.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-5044d-atisierung-basiert-auf-eindeutigen-regelungen-4.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-554db-es-zur-staerkung-der-oeffentlichen-gesundheit-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-57172-ehr-mit-dem-bundesverfassungsgericht-b-verf-g-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-70ea0-iederverwendung-benoetigt-einheitliches-recht-2.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-73acc-und-informationssicherheit-schaffen-vertrauen-2.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-78069-der-nutzer-unternehmensregisterverordnung-urv-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-82a43-und-informationssicherheit-schaffen-vertrauen-7.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-86aeb-und-informationssicherheit-schaffen-vertrauen-6.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-8c6b0-iederverwendung-benoetigt-einheitliches-recht-4.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-8dee0-iederverwendung-benoetigt-einheitliches-recht-6.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-93580-und-informationssicherheit-schaffen-vertrauen-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-a2354-iederverwendung-benoetigt-einheitliches-recht-5.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-add66-atisierung-basiert-auf-eindeutigen-regelungen-2.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-aeca4-online-verfahrens-in-der-zivilgerichtsbarkeit-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-afdc3-digitale-angebote-fuer-alle-nutzbar-gestalten-2.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-b7bc9-digitale-angebote-fuer-alle-nutzbar-gestalten-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-b860f-und-informationssicherheit-schaffen-vertrauen-5.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-bcba8-echnologien-ermoeglichen-effiziente-umsetzung-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-c851e-weisregister-fuer-gas-waerme-und-kaelte-gwkhv-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-c86eb-etreiber-von-unbemannten-fluggeraeten-luft-vg-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-d8728-und-informationssicherheit-schaffen-vertrauen-4.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-db9a2-und-informationssicherheit-schaffen-vertrauen-3.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-e87fa-atisierung-basiert-auf-eindeutigen-regelungen-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-fae6d-iederverwendung-benoetigt-einheitliches-recht-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-fd953-digitale-angebote-fuer-alle-nutzbar-gestalten-4.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-information-for-page-beispiele-visualisierungen-1.aria.yml
  tests/e2e/strapiConnectedPages.spec.ts-snapshots/Snapshots-of-all-strapi-related-pages-displays-information-for-page-methoden-fuenf-prinzipien-1.aria.yml
Due: lint, check-format

Implement gql changes for the new strapi schema (#516)
  .gitignore
  app/components/Absatz.tsx
  app/components/ParagraphList.spec.tsx
  app/components/ParagraphList.tsx
  app/components/VisualisationItem.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.tsx
  app/routes/beispiele.visualisierungen.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/utils/paragraphUtils.spec.ts
  app/utils/paragraphUtils.ts
  app/utils/strapiData.server.ts
Due: lint, check-format

Renaming for new strapi data schema
  app/components/Absatz.tsx
  app/components/ParagraphList.spec.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Make test more robust, cover click case
  app/layout/PageHeader.integration.spec.tsx
Due: lint, check-format

Improve Talisman config
  .talismanrc
Due: none

Change style of progress bar
  app/layout/ProgressBar.tsx
Due: lint, check-format

Adapt E2E test
  tests/e2e/general.spec.ts
Due: lint, check-format

Change word break
  app/components/Heading.tsx
Due: lint, check-format

Add back-to-top button
  app/components/BackToTopButton.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Change wording on Interoperability result
  app/resources/content/vorpruefung-ergebnis.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/vorpruefung.ergebnis/getContentForResult.ts
  app/routes/vorpruefung.ergebnis/route.tsx
  tests/e2e/resultPage.spec.ts
Due: lint, check-format

Embed example video
  app/entry.server.tsx
  app/resources/constants.ts
  app/routes/beispiele.visualisierung.$url.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Fix Badge
  app/components/Badge.tsx
Due: lint, check-format

Update barrierefreiheit.ts
  app/resources/content/barrierefreiheit.ts
Due: lint, check-format

Adapt back-to-top button
  app/components/BackToTopButton.tsx
Due: lint, check-format

Fix process.env not being available on client
  app/resources/constants.ts
Due: lint, check-format

Fix for import.meta.env in E2E tests
  app/resources/constants.ts
Due: lint, check-format

Embed video for flowcharts
  app/entry.server.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Add Plausible event
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Update dependencies
  package-lock.json
  package.json
Due: check-format

A11y: Do not mark images as decorative by default
  app/components/Image.tsx
Due: lint, check-format

Finish renaming of Strapi types
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Renaming for new strapi data schema (#527)
  app/components/Absatz.tsx
  app/components/ParagraphList.spec.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien.spec.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien/Principle.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummary.tsx
  app/routes/methoden.fuenf-prinzipien/route.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Update video content
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Upload trace to Github pages
  .github/workflows/create-unified-test-report.yml
  tests/e2e/general.spec.ts
Due: lint, check-format

Fix permissions
  .github/workflows/pipeline.yml
Due: check-format

Integrate changelog on version history page
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/shared/footer.ts
  app/resources/content/versionsverlauf.ts
  app/resources/staticRoutes.ts
Due: lint, check-format

Test without pages setup
  .github/workflows/create-unified-test-report.yml
Due: check-format

Create unique report URL
  .github/workflows/create-unified-test-report.yml
Due: check-format

Apply new pattern to InlineNotice
  app/components/InlineNotice.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/dokumentation.tsx
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Fix test
  app/layout/PageHeader.integration.spec.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
