Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Update privacy and a11y statements, add .md file support
  app/resources/content/barrierefreiheit.ts
  app/resources/content/datenschutz.ts
  app/routes/barrierefreiheit.tsx
  app/routes/datenschutz.tsx
  app/zfl/Barrierefreiheit.tsx
  app/zfl/Datenschutz.tsx
  app/zfl/Impressum.tsx
  app/zfl/routes.ts
  public/markdown/barrierefreiheit.md
  public/markdown/datenschutz.md
  public/zfl/markdown/barrierefreiheit.md
  public/zfl/markdown/datenschutz.md
  tests/e2e/accessibility.spec.ts
  tests/e2e/privacy.spec.ts
  tests/e2e/zfl.e2e.spec.ts
Due: lint, check-format

Fix heading levels
  app/routes/impressum.tsx
Due: lint, check-format

Ignore scripts in .npmrc
  .npmrc
Due: none

Improve safety of npm install commands
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/run-e2e-a11y-tests.yml
  README.md
Due: check-format

Set up 3-day cooldown for Dependabot updates
  .github/dependabot.yml
Due: check-format

Add anti-preinstall script
  package-lock.json
  package.json
Due: check-format

Run npm audit fix
  package-lock.json
Due: check-format

Update documentation index content
  app/components/FeatureList.tsx
  app/resources/content/dokumentation.ts
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/dokumentation._index.tsx
  app/styles.css
Due: lint, check-format

Update security.txt
  public/.well-known/security.txt
Due: none

Try static pre-rendering for ZFL
  react-router.config.ts
Due: lint, check-format

Update name Christina
  app/routes/impressum.tsx
  app/zfl/Impressum.tsx
Due: lint, check-format

Revert "Try static pre-rendering for ZFL"
  react-router.config.ts
Due: lint, check-format

Reapply "Try static pre-rendering for ZFL"
  react-router.config.ts
Due: lint, check-format

Skip hydration for ZFL
  app/entry.client.tsx
Due: lint, check-format

Revert "Reapply "Try static pre-rendering for ZFL""
  react-router.config.ts
Due: lint, check-format

Add notice to documentation flow
  app/components/Nav.tsx
  app/resources/staticRoutes.ts
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/__snapshots__/route.spec.ts.snap
  app/routes/dokumentation/route.tsx
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Generate ZFL links dynamically for path prefix
  app/entry.client.tsx
  app/zfl/Impressum.tsx
  app/zfl/Index.tsx
  app/zfl/ZFL.tsx
  app/zfl/components/Footer.tsx
  app/zfl/components/PageHeader.tsx
  app/zfl/getURL.ts
  app/zfl/notOnZFL.ts
  app/zfl/routes.ts
Due: lint, check-format

Update zfl.e2e.spec.ts
  tests/e2e/zfl.e2e.spec.ts
Due: lint, check-format

Fix url calls
  app/zfl/components/Footer.tsx
  tests/a11y/zfl.a11y.spec.ts
Due: lint, check-format

Update rendering of principles in documentation
  app/components/Absatz.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/utils/mockRouter.ts
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/route.tsx
  app/utils/featureFlags.ts
  app/utils/strapiData.server.ts
  tests/feature-flags.json
Due: lint, check-format

Update download button text in documentation
  app/resources/content/dokumentation.ts
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Fix types
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
Due: lint, check-format

Update 0025-use-feature-flags-k8s.md
  doc/adr/0025-use-feature-flags-k8s.md
Due: check-format

Change warning styles
  app/components/InlineNotice.tsx
  app/components/InputError.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
Due: lint, check-format

Update heading styles in principle documentation
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
Due: lint, check-format

Switch to redirecting /zfl instead of dynamic link
  app/entry.client.tsx
  app/zfl/Impressum.tsx
  app/zfl/Index.tsx
  app/zfl/ZFL.tsx
  app/zfl/ZFLLayout.tsx
  app/zfl/components/Footer.tsx
  app/zfl/components/PageHeader.tsx
  app/zfl/getURL.ts
  app/zfl/isOnZFL.ts
  app/zfl/notOnZFL.ts
  app/zfl/routes.ts
  tests/a11y/zfl.a11y.spec.ts
  tests/e2e/zfl.e2e.spec.ts
Due: lint, check-format

Update isOnZFL.ts
  app/zfl/isOnZFL.ts
Due: lint, check-format

Change ZfL content colors
  app/styles.css
  app/zfl/Index.tsx
Due: lint, check-format

Update ZfL visuals
  app/zfl/Index.tsx
  public/zfl/Begleitungen.png
  public/zfl/Oval.png
  public/zfl/Schulungen.png
Due: lint, check-format

Fix remaining ZfL colors
  app/styles.css
  app/zfl/Schulungen.tsx
  app/zfl/ZFLLayout.tsx
  app/zfl/components/Footer.tsx
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Log paths
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Fix isOnZFL
  app/zfl/ZFLLayout.tsx
  app/zfl/isOnZFL.ts
Due: lint, check-format

Log URL for ZfL
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Remove ZfL redirects
  app/zfl/ZFLLayout.tsx
Due: lint, check-format

Fix non hydration for www pages
  app/zfl/isOnZFL.ts
Due: lint, check-format

Feature: Remove aspects by unchecking checkboxes
  app/components/Checkbox.tsx
  app/components/CheckboxWithExpandableArea.tsx
  app/components/Dialog.tsx
  app/resources/content/dokumentation.ts
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Update Schulungen.tsx
  app/zfl/Schulungen.tsx
Due: lint, check-format

Clarify PostHog project setup limitations
  doc/adr/0025-use-feature-flags-k8s.md
Due: check-format

New Interoperability content
  app/components/ContentWrapper.tsx
  app/components/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
  app/components/Tabs/TabsStateContext.ts
  app/components/Tabs/TabsWithUrlState.tsx
  app/components/Timeline.tsx
  app/resources/content/interoperabel.ts
  app/routes/beispiele._index.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/utils/tabs.ts
  public/images/zusammenhang-interoperabilitaet-und-digitaltauglichkeit-old.png
  tests/e2e/interoperabelPage.spec.ts
Due: lint, check-format

Change image size on interops page
  app/routes/interoperabel._index.tsx
Due: lint, check-format
