Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

chore: group download/upload by file type
  app/routes/test.upload.tsx
  public/documents/upload-test.csv
Due: lint, check-format

chore: remove plausible and parent-bg-blue
  app/routes/dokumentation._documentationNavigation.tsx
  src/layouts/Layout.astro
  src/pages/vorpruefung/_VorpruefungNavigation.tsx
Due: lint, check-format

feat: add checkbox, capturing result
  app/routes/test.upload.tsx
Due: lint, check-format

feat: rename route
  app/routes/test-upload.tsx
Due: lint, check-format

feat: add test route for file upload
  app/routes/test-upload.tsx
  public/documents/upload-test.csv
  public/documents/upload-test.json
Due: lint, check-format

feat(test-upload): change sorting
  app/routes/test-upload.tsx
Due: lint, check-format

refactor(astro): remove NewTabLink
  app/components/BlocksRenderer.tsx
  app/components/Button.tsx
  app/components/DropdownContentList.tsx
  app/components/ImageZoomable.tsx
  app/components/Nav.tsx
  app/components/NewTabLink.tsx
  app/components/RegulationMetadata.tsx
  app/components/RichText.tsx
  app/components/Stepper.tsx
  app/components/TableOfContentsInteractive.tsx
  app/components/Tabs/RouteTabs.tsx
  app/components/VisualisationItem.tsx
  app/components/downloadIcon.tsx
  app/layout/DropdownMenu.tsx
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/resources/content/vorpruefung.ts
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/interoperabel/UeberblickTab.tsx
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  src/components/Hero.astro
  src/layouts/MdxLayout.astro
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/bundeslaender/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
  src/pages/sitemap/_SitemapList.astro
  src/styles/globals.css
Due: lint, check-format

chore: address sonar cube issues
  app/components/Tabs/Tabs.tsx
Due: lint, check-format

refactor: centralize strapi error throwing
  app/utils/strapiData.server.ts
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/visualisierung/[filename].ts
  src/pages/beispiele/visualisierungen.astro
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/index.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/zusammenfassung.astro
  src/pages/methoden/fuenf-prinzipien/[prinzip].astro
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: lint, check-format

chore: update footer snapshot
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

fix(links): tests
  app/components/BlocksRenderer.spec.tsx
  app/components/RichText.spec.tsx
Due: lint, check-format

refactor(regelung): load all examples at once
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/methoden/fuenf-prinzipien/[prinzip].astro
Due: none

refactor: rename to BeispieleLayout
  src/pages/beispiele/index.astro
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/visualisierungen.astro
Due: none

refactor: dry up prinzip fetching for routes
  app/utils/strapiData.server.ts
  src/pages/__tests__/methoden/fuenf-prinzipien/index.test.ts
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/index.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/zusammenfassung.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: lint, check-format

feat(test-upload): change wording, add fields
  app/routes/test-upload.tsx
Due: lint, check-format

chore: remove all MetaTitles
  app/components/Meta.tsx
  app/routes/beispiele._index.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation._index.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung._preCheckNavigation.hinweise.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

refactor: dedupe fragments of PRINZIPS_ASPEKTE_QUERY
  app/routes/__tests__/methoden.fuenf-prinzipien.$prinzip.spec.tsx
  app/routes/methoden.fuenf-prinzipien.$prinzip/query.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/utils/strapiData.server.ts
  app/utils/strapiData.types.ts
  src/pages/methoden/fuenf-prinzipien/[prinzip].astro
Due: lint, check-format

fix: prinzip query in static paths call
  src/pages/methoden/fuenf-prinzipien/[prinzip].astro
Due: none

chore: update 404 page
  src/pages/404.astro
Due: none

refactor: das ist neu
  src/pages/das-ist-neu.astro
Due: none

feat(test-upload): save interim state
  app/routes/test-upload.tsx
Due: lint, check-format

feat: add summary cards for rating
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

chore(eslint): add eslint-plugin-astro to config
  eslint.config.js
Due: lint, check-format

fix(dokumentation): fix page titles
  app/utils/strapiData.server.ts
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/zusammenfassung.astro
Due: lint, check-format

test(e2e): target _blank -> icon test for ext links
  tests/e2e/general.spec.ts
Due: lint, check-format

style: adjust ext-link icon size
  src/styles/globals.css
Due: check-format

chore(lefthook): npx -> pnpm dlx
  lefthook.yml
Due: check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore: rm conflicting test-upload.tsx
  app/routes/test-upload.tsx
Due: lint, check-format

chore: fix typo
  app/routes/_index.tsx
Due: lint, check-format

chore(eslint): add @typescript-eslint/parser
  package.json
  pnpm-lock.yaml
Due: check-format

chore: unify slug principleId
  src/pages/beispiele/prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
Due: none

refactor(vorpruefung): use VorpruefungLayout.astro
  src/config/routes.ts
  src/layouts/VorpruefungLayout.astro
  src/pages/vorpruefung/automatisierung.astro
  src/pages/vorpruefung/datenaustausch.astro
  src/pages/vorpruefung/ergebnis.astro
  src/pages/vorpruefung/eu-bezug.astro
  src/pages/vorpruefung/hinweise.astro
  src/pages/vorpruefung/index.astro
  src/pages/vorpruefung/it-system.astro
  src/pages/vorpruefung/kommunikation.astro
  src/pages/vorpruefung/verpflichtungen-fuer-beteiligte.astro
Due: lint, check-format

feat: add warnings for incomplete interoperability details
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

feat: better interops summary
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/interoperability/values.ts
  app/service/wordDocumentationExport/interoperabilityExport.ts
Due: lint, check-format

fix: test
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
