Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

style(globals): do not limit width for h2, h3
  src/styles/globals.css
Due: check-format

style(fuenf-prinzipien): adjust spacings ZFL-873
  src/components/FeatureItem.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: none

style(FeatureSet): rm zfl-only styles
  src/components/FeatureItem.astro
  src/components/FeatureSet.astro
Due: none

chore(ImageTextOverlay): use kern-link class
  src/components/ImageTextOverlay.astro
Due: none

chore(ImageTextOverlay): use 624px width
  src/components/ImageTextOverlay.astro
Due: none

chore(fuenf-prinzipien): add heading
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: none

chore(ImageTextOverlay): kern-link cleanup
  src/components/ImageTextOverlay.astro
Due: none

fix(Hero): apply correct block padding
  src/components/Hero.astro
Due: none

style(TocContainer): adjust spacing
  src/components/TocContainer.astro
Due: none

feat(prinizpien): redesign prinzip detail page
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
Due: none

fix(das-ist-neu): upd link to nkr page
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(layout): remove DropdownMenu and PageHeader spec leftovers
  src/layout/DropdownMenu.spec.tsx
  src/layout/DropdownMenu.tsx
  src/layout/PageHeader.integration.spec.tsx
Due: lint, check-format

test: upd footer snapshot / nkr path
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/pages/__tests__/index.test.ts
Due: lint, check-format

test(prinzipien): upd tests
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
Due: lint, check-format

refactor: mv /methoden/fuenf-prinzipien -> /prinzipien
  astro.config.mjs
  src/components/global/PageHeader.astro
  src/config/routes.ts
  src/content/prinzipien/digitale-angebote-fuer-alle-nutzbar-gestalten.md
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/pages/__tests__/index.test.ts
  src/pages/__tests__/methoden/index.test.ts
  src/pages/__tests__/prinzipien/[principleId].test.ts
  src/pages/__tests__/prinzipien/index.test.ts
  src/pages/grundlagen/index.astro
  src/pages/index.astro
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/pages/prinzipien/[principleId].astro
  src/pages/prinzipien/_Aspect.astro
  src/pages/prinzipien/_textModifiers.tsx
  src/pages/prinzipien/index.astro
  src/resources/content/das-ist-neu.ts
  src/resources/content/methoden.ts
  src/resources/content/shared/footer.ts
  src/routes/dokumentation._documentationNavigation.$principleId.tsx
  src/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  tests/a11y/general.spec.ts
  tests/e2e/general.spec.ts
  tests/e2e/methodPages.spec.ts
Due: lint, check-format

feat(prinzipien): dynamic route objects for sidebar navigation
  src/config/prinzipienRoutes.ts
  src/utils/navigation/navigation.test.ts
  src/utils/navigation/routeUtils.ts
Due: lint, check-format

feat(interoperabel): angrenzendes-eu-recht as separate page
  public/images/european-digital-single-market.png
  src/assets/images/european-digital-single-market.png
  src/components/KernBadge.astro
  src/config/routes.ts
  src/pages/interoperabel/_ContentInlineComponent.tsx
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/_Rechtsakt.astro
  src/pages/interoperabel/_tabs.ts
  src/pages/interoperabel/angrenzendes-eu-recht.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/resources/content/das-ist-neu.ts
  src/styles/badges.css
Due: lint, check-format

style(interoperabel): fix font-size in kern-details
  src/pages/interoperabel/_Rechtsakt.astro
Due: none

feat(interoperabel): loesungen as separate page
  astro.config.mjs
  src/pages/interoperabel/_InteroperableLoesungenTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/_tabs.ts
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/index.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore: add new training dates for q4
  src/resources/content/unterstuetzung.ts
Due: lint, check-format

feat(interoperabel): refurbed nationale-kontaktstelle page
  public/images/interoperabilitaet-it-planungsrat.png
  public/images/prozess-nationale-kontaktstelle.png
  public/images/synthese-prozess-digitalcheck-und-interoperabilitaet.png
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@128609d288ce26fec3bcf3ba01c6df19586b3b3b 🚀
  previews/content/schulungstermine-q4/dev/index.html
  previews/content/schulungstermine-q4/interoperabel/index.html
  previews/content/schulungstermine-q4/interoperabel/nationale-kontaktstelle/index.html
  previews/content/schulungstermine-q4/vorpruefung/index.html
Due: check-format

chore: add new training dates for q4 (#1134)
  src/resources/content/unterstuetzung.ts
Due: lint, check-format

feat(Hero): default vs plain vs dark variants
  src/components/Hero.astro
Due: none

chore(Hero.tsx): rm unused BreakoutHero
  src/components/Hero.tsx
Due: lint, check-format

feat(interoperabel): refurbed dcat-ap page
  src/components/InteroperableSolutionBanner.tsx
  src/pages/interoperabel/loesungen/dcat-ap.astro
Due: lint, check-format

feat(index): use Astro Hero
  src/pages/index.astro
Due: none

feat(interoperabel): new design
  public/images/ebenen-der-interoperabilitaet.jpg
  public/images/zusammenhang-interoperabilitaet-und-digitaltauglichkeit-old.png
  public/images/zusammenhang-interoperabilitaet-und-digitaltauglichkeit.png
  src/assets/images/europa-karte.png
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/_anchors.ts
  src/pages/interoperabel/_tabs.ts
  src/pages/interoperabel/faq.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/resources/content/das-ist-neu.ts
  src/resources/content/interoperabel.ts
  src/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
Due: lint, check-format

feat(interoperabel): new chore-vocabularies pages
  src/components/SidebarContainer.astro
  src/pages/interoperabel/loesungen/_ChapterBadge.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/styles/globals.css
Due: check-format

chore(interoperabel): rm faq page
  astro.config.mjs
  src/config/routes.ts
  src/pages/interoperabel/faq.astro
Due: lint, check-format

chore(Timeline): adjust component w/ figma design
  src/components/Timeline.tsx
  src/pages/das-ist-neu/index.astro
Due: lint, check-format

style(globals): external link icon _before_ not after
  src/components/RichText.spec.tsx
  src/styles/globals.css
Due: lint, check-format

style(globals): external link icon size as in zfl
  src/styles/globals.css
Due: check-format

feat(bundeslaender): add Schulungen section to LaenderLayout.astro
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/_assets/online-schulung.jpg
  src/pages/bundeslaender/hessen.astro
  src/pages/bundeslaender/nordrhein-westfalen.astro
Due: none

chore(layout): use old page header, no sidebar for now
  src/layouts/Layout.astro
Due: none

feat(Footer): rewrite in Astro in new design
  src/layout/Footer.astro
  src/layout/Footer.spec.ts
  src/layout/Footer.spec.tsx
  src/layout/Footer.tsx
  src/layout/__snapshots__/Footer.spec.ts.snap
  src/layout/__snapshots__/Footer.spec.tsx.snap
  src/layouts/Layout.astro
  src/resources/content/shared/footer.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

feat(index): redesigned home page
  src/assets/images/startseite-bundeslaender.png
  src/assets/images/startseite-eu-interoperabilitaet.png
  src/components/FeatureItem.astro
  src/pages/__tests__/index.test.ts
  src/pages/index.astro
  src/resources/constants.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
