Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:check {staged_files}

check-format:
  tags: style
  run: npm run format:check {staged_files}

Update .env.example
  .env.example
Due: none

Create .talismanrc
  .talismanrc
Due: none

Update .talismanrc
  .talismanrc
Due: none

Use hooks to autofix linting and format
  lefthook.yml
Due: check-format

Replace TRACKING_DISABLED with TRACKING_ENABLED
  .env.example
  .env.test
  .talismanrc
  app/root.tsx
  app/utils/trackCustomEvent.server.ts
Due: lint, check-format

Add stack trace to client side error tracking
  app/routes/__tests__/handle-client-side-error.spec.ts
  app/routes/handle-client-side-error.ts
  app/utils/trackClientSideError.spec.ts
  app/utils/trackClientSideError.ts
Due: lint, check-format

Refactor cssClasses
  app/components/Container.tsx
Due: lint, check-format

Update snapshots
  app/layout/__snapshots__/Breadcrumbs.spec.tsx.snap
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Remove background component and use Tailwind color variables (#459)
  app/components/AccordionItem.tsx
  app/components/Background.spec.tsx
  app/components/Background.tsx
  app/components/Card.tsx
  app/components/Container.tsx
  app/components/FeedbackForm.tsx
  app/components/Hero.tsx
  app/components/HighlightBox.tsx
  app/components/InfoBox.tsx
  app/components/ListItem.tsx
  app/components/SupportBanner.tsx
  app/components/index.ts
  app/routes/_index.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/hinweis.tsx
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.nationale-kontaktstelle.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden._index.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/prototyp.dokumentation.ergebnis-word.tsx
  app/routes/prototyp.dokumentation.ergebnis.tsx
  app/routes/prototyp.dokumentation.zwischenstand-speichern.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/styles.css
  app/utils/listProcessing.ts
Due: lint, check-format

Remove background component
  app/routes/_index.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

PR review changes
  app/routes/_index.tsx
Due: lint, check-format

Replace remaining tailwind color classes with ds ones
  app/components/Accordion.tsx
  app/components/AccordionItem.tsx
  app/components/Badge.tsx
  app/components/Button.tsx
  app/components/CustomLink.tsx
  app/components/DetailsSummary.tsx
  app/components/DropdownContentList.tsx
  app/components/FeedbackForm.tsx
  app/components/ImageBox.tsx
  app/components/ImageZoomable.tsx
  app/components/InlineInfoList.tsx
  app/components/InlineNotice.tsx
  app/components/LinkBar.tsx
  app/components/List.tsx
  app/components/ParagraphList.tsx
  app/components/Tabs.tsx
  app/components/VisualisationItem.tsx
  app/layout/Banner.tsx
  app/layout/Breadcrumbs.tsx
  app/layout/DropdownMenu.spec.tsx
  app/layout/DropdownMenu.tsx
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/layout/ProgressBar.tsx
  app/layout/__snapshots__/Breadcrumbs.spec.tsx.snap
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/root.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.start-oder-fortsetzen.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.tsx
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/styles.css
  tests/e2e/general.spec.ts
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

Use tailwind colors
  app/components/InlineInfoList.tsx
  app/components/ParagraphList.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/styles.css
Due: lint, check-format

Use tailwind color classes
  app/components/Accordion.tsx
  app/components/AccordionItem.tsx
  app/components/Badge.tsx
  app/components/Button.tsx
  app/components/CustomLink.tsx
  app/components/DetailsSummary.tsx
  app/components/DropdownContentList.tsx
  app/components/FeedbackForm.tsx
  app/components/ImageBox.tsx
  app/components/ImageZoomable.tsx
  app/components/InlineInfoList.tsx
  app/components/InlineNotice.tsx
  app/components/LinkBar.tsx
  app/components/List.tsx
  app/components/ParagraphList.tsx
  app/components/Tabs.tsx
  app/components/VisualisationItem.tsx
  app/layout/Banner.tsx
  app/layout/Breadcrumbs.tsx
  app/layout/DropdownMenu.spec.tsx
  app/layout/DropdownMenu.tsx
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/layout/ProgressBar.tsx
  app/layout/__snapshots__/Breadcrumbs.spec.tsx.snap
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/root.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.start-oder-fortsetzen.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.tsx
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
  app/styles.css
  tests/e2e/general.spec.ts
  tests/e2e/preCheckQuestions.spec.ts
Due: lint, check-format

WIP design beispiele
  app/components/Heading.tsx
  app/components/InlineInfoList.tsx
  app/components/ParagraphList.tsx
  app/resources/content/beispiele.ts
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.regelungen.$regelung.tsx
  app/routes/beispiele.tsx
  app/styles.css
  app/utils/utilFunctions.ts
Due: lint, check-format

Remove background component
  app/components/Card.tsx
  app/components/Hero.tsx
  app/components/InfoBox.tsx
  app/routes/_index.tsx
  app/routes/interoperabel._index.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Use tailwind classes instead of variables
  app/components/Hero.tsx
  app/components/InfoBox.tsx
  app/routes/interoperabel._index.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung._index.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Fix CSS duplication
  app/components/Alert.tsx
  app/routes/prototyp.dokumentation._documentationNavigation.start-oder-fortsetzen.tsx
Due: lint, check-format

Add DownloadIcon to links
  app/components/LinkList.tsx
Due: lint, check-format

Support image in InfoBox
  app/components/InfoBox.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
Due: lint, check-format

Fix principle icon on Grundlagen route
  app/routes/grundlagen.fuenf-prinzipien.tsx
Due: lint, check-format

Add PrinciplePosterBox to pages
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
Due: lint, check-format

Change medium InfoBox image to 280px
  app/components/InfoBox.tsx
Due: lint, check-format

Make image respect dimensions in InfoBox
  app/components/InfoBox.tsx
Due: lint, check-format

Add PrinciplePoster component
  app/components/PrinciplePosterBox.tsx
  public/images/Poster_5Prinzipien.jpg
Due: lint, check-format

Move content to content file
  app/components/PrinciplePosterBox.tsx
  app/resources/content/methode-fuenf-prinzipien.ts
Due: lint, check-format

Remove index from icon import
  app/routes/prototyp.dokumentation._index.tsx
  app/routes/prototyp.dokumentation.ergebnis-word.tsx
Due: lint, check-format

Add principle poster box
  .talismanrc
  app/components/InfoBox.tsx
  app/components/PrinciplePosterBox.tsx
  app/resources/content/methode-fuenf-prinzipien.ts
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/methoden.fuenf-prinzipien.tsx
  public/images/Poster_5Prinzipien.jpg
Due: lint, check-format

Set minimal permissions for pipeline
  .github/workflows/pipeline.yml
Due: check-format

Revert "Set minimal permissions for pipeline"
  .github/workflows/pipeline.yml
Due: check-format

Set minimal permissions for workflows
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/pipeline.yml
Due: check-format

Add missing permissions for deploy jobs
  .github/workflows/pipeline.yml
Due: check-format

Add secret scanning with gitleaks
  README.md
  lefthook.yml
  run.sh
Due: check-format

Add download icon to links again
  app/components/LinkList.tsx
  app/components/openInNewWindow.tsx
  app/layout/Footer.tsx
Due: lint, check-format

Make image size in infobox responsive
  app/components/InfoBox.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
