Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Add stackit deployment steps
  .github/workflows/pipeline.yml
  .talismanrc
Due: check-format

Update pipeline.yml
  .github/workflows/pipeline.yml
Due: check-format

Fix deployment pipeline concurrency
  .github/workflows/pipeline.yml
Due: check-format

Comment out stackit deployment steps in pipeline
  .github/workflows/pipeline.yml
Due: check-format

Replace fieldsets and legends (a11y)
  app/components/RadioGroup.tsx
  app/resources/content/vorpruefung.ts
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
Due: lint, check-format

Remove incorrect aria-label
  app/components/PrincipleHighlightModifier.tsx
Due: lint, check-format

Update release notes
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

Use unique IDs for highlights
  app/components/PrincipleHighlightModifier.tsx
Due: lint, check-format

Log additional information for client-side errors
  app/routes/error.ts
  app/routes/handle-client-side-error.ts
  app/utils/trackClientSideError.ts
Due: lint, check-format

Adapt tests
  app/routes/__tests__/handle-client-side-error.spec.ts
  app/utils/trackClientSideError.spec.ts
Due: lint, check-format

Adapt log
  app/routes/handle-client-side-error.ts
Due: lint, check-format

Add further changelog entries, test
  .talismanrc
  app/resources/content/das-ist-neu.spec.ts
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

Move test error code
  app/routes/error.ts
  app/routes/test-client-error.tsx
Due: lint, check-format

Remove flaky new tab test assertion
  tests/e2e/general.spec.ts
Due: lint, check-format

Remove unused prop
  app/components/CheckboxWithExpandableArea.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
Due: lint, check-format

Move test error code
  app/routes/test-client-error.tsx
Due: lint, check-format

Add Dachmarke banner
  app/components/kern-preview/Kopfzeile.css
  app/components/kern-preview/Kopfzeile.tsx
  app/root.tsx
Due: lint, check-format

Update package-lock.json
  package-lock.json
Due: check-format

Use unique IDs for highlights (#663)
  app/components/PrincipleHighlightModifier.tsx
Due: lint, check-format

Fix duplicate <header> a11y error
  app/components/kern-preview/Kopfzeile.tsx
  app/layout/PageHeader.tsx
  app/root.tsx
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Apply Tailwind suggestions
  app/layout/PageHeader.tsx
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Update figure label
  app/routes/zahlen-und-fakten.tsx
Due: lint, check-format

Add italic support, update spacing
  app/components/ItalicModifier.tsx
  app/routes/methoden.fuenf-prinzipien/getDetailsSummaryProps.tsx
  app/utils/paragraphUtils.ts
Due: lint, check-format

Update deployment steps for stackit (disabled)
  .github/workflows/pipeline.yml
Due: check-format

Replace unconventional fieldsets
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/vorpruefung.ergebnis/ResultForm.tsx
Due: lint, check-format

Refine test
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Fix heading order
  app/routes/vorpruefung.ergebnis/route.tsx
Due: lint, check-format

Add demo principles page
  app/resources/staticRoutes.ts
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/route.tsx
  app/utils/featureFlags.ts
  tests/feature-flags.json
Due: lint, check-format

Fix tab index parsing errors
  app/components/Tabs/TabsWithUrlState.spec.tsx
  app/components/Tabs/TabsWithUrlState.tsx
Due: lint, check-format

Hotfix for invalid numbering reference
  app/service/wordDocumentationExport/strapiBlocksToWord.ts
Due: lint, check-format

Adapt test
  app/service/wordDocumentationExport/strapiBlocksToWord.spec.ts
Due: lint, check-format

Fix bullets
  app/service/wordDocumentationExport/strapiBlocksToWord.spec.ts
  app/service/wordDocumentationExport/strapiBlocksToWord.ts
Due: lint, check-format

Upgrade insecure qs dependency, other upgrade
  package-lock.json
  package.json
Due: check-format

Fix parsing of tab parameter
  app/components/Tabs/TabsWithUrlState.spec.tsx
  app/components/Tabs/TabsWithUrlState.tsx
Due: lint, check-format

Fix footer link alignment
  app/layout/Footer.tsx
Due: lint, check-format

Update footer snapshott
  app/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

Hotfix: Enable mobile menu
  app/zfl/ZFLLayout.tsx
  app/zfl/components/PageHeader.tsx
  public/zfl/menu-fix.js
Due: lint, check-format

Implement CSS breakout grid
  app/components/TableOfContentsInteractive.tsx
  app/layout/SidebarContainer.tsx
  app/routes/methoden.fuenf-prinzipien-neu.digitale-angebote/route.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/styles.css
Due: lint, check-format

Refactor, add comments
  app/layout/SidebarContainer.tsx
  app/styles.css
Due: lint, check-format

Adapt Hero
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
