Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

fix(fetchStrapiData): throw on error
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/visualisierung/[filename].ts
  src/pages/beispiele/visualisierungen.astro
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/index.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/zusammenfassung.astro
  src/pages/methoden/fuenf-prinzipien/[prinzip].astro
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: lint, check-format

chore: remove health check and handle client side error routes
  app/routes/handle-client-side-error.ts
  app/routes/health-check.tsx
Due: lint, check-format

chore: remove obsolete stub routes
  app/routes/beispiele.prinzipien._index.tsx
  app/routes/digitaltauglichkeit.$.tsx
  app/routes/grundlagen._index.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/interoperabel.loesungen._index.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  app/routes/methoden.fuenf-prinzipien._index/route.tsx
  app/routes/methoden.tsx
  app/routes/ph-relay.$.tsx
  app/routes/sitemap[.xml].tsx
  app/routes/vorpruefung._preCheckNavigation.tsx
  app/routes/vorpruefung/route.tsx
Due: lint, check-format

refactor: replace Link shim with native anchor
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
Due: none

fix: remove handle client error test
  app/routes/__tests__/handle-client-side-error.spec.ts
Due: lint, check-format

refactor: move grundlagen digitaltauglichkeit
  app/routes/grundlagen.digitaltauglichkeit.tsx
  src/components/InfoBoxList.astro
  src/pages/grundlagen/digitaltauglichkeit.astro
Due: lint, check-format

fix: formatting
  src/components/InfoBoxList.astro
  src/pages/grundlagen/digitaltauglichkeit.astro
Due: none

chore: fix typescript errors
  app/utils/trackClientSideError.ts
  src/pages/beispiele/prinzipien/[prinzip].astro
  src/pages/grundlagen/digitaltauglichkeit.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
Due: lint, check-format

refactor(nkr): migrate route to astro
  app/routes/grundlagen.normenkontrollrat.tsx
  src/pages/grundlagen/normenkontrollrat.astro
Due: lint, check-format

refactor(visualisieren): migrate to astro page
  app/routes/methoden.visualisieren._index.tsx
  src/pages/methoden/visualisieren/index.astro
Due: lint, check-format

refactor: mv DocumentationPageShell
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/components/DocumentationPageShell.tsx
Due: lint, check-format

feat: new conditions for detail text
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
Due: lint, check-format

feat: link to Core Vocabularies
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
Due: lint, check-format

chore: rm trackCliendSideError trackCustomEvent
  app/utils/trackClientSideError.spec.ts
  app/utils/trackClientSideError.ts
  app/utils/trackCustomEvent.server.ts
Due: lint, check-format

refactor(staticRoutes): mv to config/additionalRoutes
  app/components/VisualisationItem.tsx
  app/resources/content/shared/footer.ts
  app/resources/content/shared/header.ts
  src/config/additionalRoutes.ts
  src/pages/beispiele/prinzipien/[prinzip].astro
  tests/e2e/examplePages.spec.ts
Due: lint, check-format

fix: quotes
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
Due: lint, check-format

chore: nginx health -> health-check
  nginx.template.conf
Due: none

chore(dcat-ap): add client:load for banner
  src/pages/interoperabel/loesungen/dcat-ap.astro
Due: none

refactor: clean up routerCompat and obsolete tests / files
  app/components/DropdownContentList.tsx
  app/layout/DropdownMenu.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/utils/mockRouter.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/__tests__/vorpruefung.eu-bezug.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._index.tsx
  app/routes/dokumentation/__snapshots__/route.spec.ts.snap
  app/routes/dokumentation/route.spec.ts
  app/routes/dokumentation/route.tsx
  app/utils/redirectLoader.ts
  app/utils/routerCompat.tsx
Due: lint, check-format

chore: update copy
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  app/routes/dokumentation/interoperability/markdownLinkIEA.tsx
Due: lint, check-format

chore(deps): bump astro to v6.4.2
  package.json
  pnpm-lock.yaml
Due: check-format

chore(DropdownContentList): rm unused parentPlausibleEvent
  app/components/DropdownContentList.tsx
Due: lint, check-format

ci: rm preview-react-router.yml
  .github/workflows/preview-react-router.yml
Due: check-format

refactor(navigation): introduce groups, reduce loader complexity
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationNavigationContext.tsx
  app/routes/dokumentation/route.spec.ts
  app/routes/dokumentation/route.tsx
  src/components/dokumentation/DocumentationPageShell.tsx
  src/config/routes.ts
Due: lint, check-format

feat: remove Markdown parser
  app/markdown/interoperability/formVariant1-explanations.md
  app/routes/dokumentation/interoperability/explanationMarkdown.spec.ts
  app/routes/dokumentation/interoperability/explanationMarkdown.ts
Due: lint, check-format

chore: remove unnecessary test
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
Due: lint, check-format

chore: pick missed change from master
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
Due: lint, check-format

chore: fix tests
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation.interoperability.BindingRequirementsForm.spec.tsx
  app/routes/__tests__/utils/stubResizingFunctionality.ts
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
Due: lint, check-format

chore: update lockfile
  pnpm-lock.yaml
Due: check-format

refactor(navigation): introduce groups, reduce loader complexity
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationNavigationContext.tsx
  app/routes/dokumentation/route.spec.ts
  app/routes/dokumentation/route.tsx
  src/components/dokumentation/DocumentationPageShell.tsx
Due: lint, check-format

refactor: reduce Link API surface
  app/components/VisualisationItem.tsx
  app/utils/routerCompat.tsx
Due: lint, check-format

fix: replace memory router approach in route tabs test
  app/components/Tabs/RouteTabs.spec.tsx
Due: lint, check-format

refactor: inline useSearchParams for SearchParamTabs
  app/components/Tabs/RouteTabs.spec.tsx
  app/components/Tabs/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
  app/utils/routerCompat.tsx
Due: lint, check-format

feat: use shorter citations
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
  app/routes/dokumentation/interoperability/markdownLinkIEA.tsx
Due: lint, check-format
