Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

refactor: address review comments
  app/routes/dokumentation.$page.tsx
Due: lint, check-format

refactor: remove unused component
  src/layouts/ClientRouterLayout.astro
Due: none

refactor: avoid void
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/documentationDataHook.ts
Due: lint, check-format

Use ClientRouter for documentation (#943)
  app/routes/dokumentation.$page.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  app/routes/dokumentation._documentationNavigation.veroeffentlichung.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/documentationDataHook.ts
  src/components/DocumentationWizard.astro
  src/components/LoadingPage.astro
  src/pages/dokumentation/[principleId].astro
  src/pages/dokumentation/[principleId]/erlaeuterung.astro
  src/pages/dokumentation/absenden.astro
  src/pages/dokumentation/beteiligungsformate.astro
  src/pages/dokumentation/bewertung-organisatorisch.astro
  src/pages/dokumentation/bewertung-rechtlich.astro
  src/pages/dokumentation/bewertung-semantisch.astro
  src/pages/dokumentation/bewertung-technisch.astro
  src/pages/dokumentation/eu-interoperabilitaetsbezug.astro
  src/pages/dokumentation/hinweise.astro
  src/pages/dokumentation/regelungsvorhaben-titel.astro
  src/pages/dokumentation/verbindliche-anforderungen.astro
  src/pages/dokumentation/veroeffentlichung.astro
  src/pages/dokumentation/zusammenfassung.astro
  tests/e2e/documentation.spec.ts
Due: lint, check-format

feat: adjust HelpButton sizes
  app/components/HelpButton.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
Due: lint, check-format

feat: update IEA copy
  app/resources/content/dokumentation.ts
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
Due: lint, check-format

feature(hessen): include content and structure for Hessen page
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/_assets/HESSEN_Logo_stacked.png
  src/pages/bundeslaender/hessen.astro
Due: none

fix(hessen): update external links for resources and documents
  src/pages/bundeslaender/hessen.astro
Due: none

refactor(Alert, Heading): simplify content rendering and child handling
  app/components/Alert.tsx
  app/components/Heading.tsx
Due: lint, check-format

refactor(hessen): replace Timeline with NumberedList for process steps
  src/pages/bundeslaender/hessen.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@da9097f822449b8b73e28d02d651e5e7a388fdf8 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/bundeslaender/hessen/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/bundesland/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

refactor(hessen): remove Schritt X prefix
  src/pages/bundeslaender/hessen.astro
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@a43e43d9b936bc71a838c9ab10bc1bc4fe02552c 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/bundeslaender/hessen/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/bundesland/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

chore: update prettier and fix formatting
  app/routes/dokumentation._documentationNavigation.tsx
  app/utils/dedentMultilineStrings.ts
  app/utils/strapiData.types.ts
  package.json
  pnpm-lock.yaml
Due: lint, check-format

Apply suggested fix to tests/e2e/documentation.spec.ts from Copilot Autofix
  tests/e2e/documentation.spec.ts
Due: lint, check-format

fix: lock file
  pnpm-lock.yaml
Due: check-format

fix: typo in documentation template
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit.docx
  tests/e2e/documentation.spec.ts
Due: lint, check-format

feat: update interoperability texts
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation/interoperability/values.ts
Due: lint, check-format

refactor: reduce `prinzips` props drilling using context
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation/DocumentationActions.tsx
Due: lint, check-format

feat: unify Word documentations, update hyperlink styles
  app/service/wordDocumentationExport/docxUtils.spec.ts
  app/service/wordDocumentationExport/docxUtils.ts
  app/service/wordDocumentationExport/strapiBlocksToWord.spec.ts
  app/service/wordDocumentationExport/strapiBlocksToWord.ts
  app/service/wordDocumentationExport/styles.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  app/service/wordDocumentationExport/wordInteroperabilityAssessment.ts
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit_Interoperabilitaet.docx
  public/documents/TEMPLATE_Interoperabilitaetsbewertung.docx
  src/config/downloads.ts
  tests/e2e/documentation-interoperability.spec.ts
  tests/e2e/documentation.spec.ts
  tests/e2e/helpers.ts
Due: lint, check-format

feat: update questions
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/interoperability/RequirementDetail.tsx
  tests/e2e/documentation-interoperability.spec.ts
  tests/e2e/documentation.spec.ts
Due: lint, check-format

feat: harmonize test environments
  tests/playwright.config.ts
Due: lint, check-format

chore: update document
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit_Interoperabilitaet.docx
Due: none

fix: reference config.stage in Playwright
  tests/playwright.config.ts
Due: lint, check-format

feat: make E2E stage explicit
  .github/workflows/run-e2e-a11y-tests.yml
  tests/playwright.config.ts
Due: lint, check-format

chore: fix lint
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
Due: lint, check-format

feat: enable combined Digitalcheck/IEA assessment
  app/utils/features.ts
Due: lint, check-format

chore: remove trivial test
  app/routes/__tests__/dokumentation._index.spec.tsx
Due: lint, check-format

chore: remove test condition
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Update _UeberblickTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

Update _HintergrundTab.astro
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

fix: update formatting commands in package.json and format error files
  package.json
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
Due: check-format

feat: fix astro files
  lefthook.yml
Due: check-format

chore: edit text
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

chore: add NKR import scripts
  .github/workflows/pipeline.yml
  .talismanrc
  scripts/nkr-data/.env.example
  scripts/nkr-data/.gitignore
  scripts/nkr-data/.python-version
  scripts/nkr-data/pyproject.toml
  scripts/nkr-data/transform-nkr-export.ipynb
  scripts/nkr-data/uv.lock
Due: check-format

chore: amend .talismanrc
  .talismanrc
Due: none
