Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

chore(deps): bump typescript from v5.9.3 to v6.0.2
  app/layout/DropdownMenu.spec.tsx
  app/layout/Footer.spec.tsx
  app/layout/Footer.tsx
  app/routes/__tests__/_index.spec.tsx
  app/routes/__tests__/handle-client-side-error.spec.ts
  app/routes/__tests__/methoden._index.spec.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, check-format

feat(interoperabel): add 2 faq items
  app/resources/content/interoperabel.ts
Due: lint, check-format

refactor(interoperabel): faq to separate page
  app/resources/content/interoperabel.ts
  app/resources/staticRoutes.ts
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel.faq.tsx
Due: lint, check-format

refactor(interoperabel): move tabs to separate files
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel/EuRechtTab.tsx
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
  app/routes/interoperabel/UeberblickTab.tsx
  app/routes/interoperabel/tabIds.ts
Due: lint, check-format

refactor(interoperabel): move style classes to tab comps
  app/routes/interoperabel._index.tsx
  app/routes/interoperabel/EuRechtTab.tsx
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
  app/routes/interoperabel/UeberblickTab.tsx
Due: lint, check-format

chore(interoperable): disable solution btns for now
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
Due: lint, check-format

chore(das-ist-neu): add interoperable-loesungen
  app/resources/content/das-ist-neu.ts
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
Due: lint, check-format

Pin github action versions
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .github/workflows/scan.yml
Due: check-format

Pin github action versions (#793)
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/pipeline.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .github/workflows/scan.yml
Due: check-format

feat(nationale-kontaktstelle): upd content
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
Due: lint, check-format

feat(Das ist neu): new entry
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(interoperabel): upd Ueberblick tab
  app/routes/interoperabel/UeberblickTab.tsx
Due: lint, check-format

fix(interoperabel): fix typo
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
Due: lint, check-format

refactor: remove unused component
  app/components/Banner.tsx
Due: lint, check-format

feat(DCAT-AP): implement new content
  app/routes/interoperabel.lösungen.dcat-ap.tsx
Due: lint, check-format

feat(DCAT-AP): add routing
  app/resources/staticRoutes.ts
  app/routes/interoperabel.lösungen._index.tsx
  app/routes/interoperabel/InteroperableLoesungenTab.tsx
Due: lint, check-format

chore: fix quotes
  app/routes/interoperabel.lösungen.dcat-ap.tsx
Due: lint, check-format

chore: change URL to exclude special characters
  app/resources/staticRoutes.ts
  app/routes/interoperabel.loesungen._index.tsx
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

feat: update Akteurlandschaft_Analyse.pptx file
  public/documents/interview-leitfaden/Akteurlandschaft_Analyse.pptx
Due: none

chore: update talisman config
  .talismanrc
Due: none

feat(DCAT-AP): shorten resources section
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

feat(DCAT-AP): adapt resources
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

chore(deps): bump link-checker-gha to v1.0.1
  .github/workflows/link-checker.yml
Due: check-format

chore: address lint warnings
  app/components/OpenInNewIcon.tsx
  app/components/RichText.tsx
  tests/e2e/documentation.spec.ts
Due: lint, check-format

feat: use React version from package
  eslint.config.js
Due: lint, check-format

chore: re-generate lockfile
  pnpm-lock.yaml
Due: check-format

feat(das-ist-neu): mention DCAT-AP
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

feat(das-ist-neu): fix copy
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

chore: typo fix
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

feat(das-ist-neu): un-mention DCAT-AP
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

chore: typos and gendered words
  app/resources/content/das-ist-neu.ts
  app/routes/interoperabel.loesungen.dcat-ap.tsx
Due: lint, check-format

chore: update Vite
  package.json
  pnpm-lock.yaml
Due: check-format

fix(automerge): squash commits
  .github/workflows/dependabot-automerge.yml
Due: check-format

feat(online-docu): small visual changes
  app/components/HelpSidepanel.tsx
  app/components/Pill.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/styles.css
Due: lint, check-format

feat(online-docu): fix word document generation
  app/resources/content/dokumentation.ts
  app/service/wordDocumentationExport/strapiBlocksToWord.spec.ts
  app/service/wordDocumentationExport/strapiBlocksToWord.ts
  app/service/wordDocumentationExport/wordDocumentationV2.ts
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: lint, check-format

feat(online-docu): fix test
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
Due: lint, check-format

ci: fix notify-on-failure action dependency
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/deploy.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: check-format

fix: remove deprecated linter
  .github/workflows/scan.yml
Due: check-format

fix: typos
  app/resources/content/shared/header.ts
  app/routes/interoperabel/UeberblickTab.tsx
Due: lint, check-format

feat(online-docu): text improvements
  app/components/HelpSidepanel.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation/DocumentationPrincipleV2.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
