Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

refactor: swap navigate for window location updates
  app/components/Tabs/RouteTabs.spec.tsx
  app/components/Tabs/RouteTabs.tsx
  app/routes/__tests__/utils/mockRouter.ts
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/routes/vorpruefung/PreCheckContinueActions.tsx
  app/utils/routerCompat.tsx
Due: lint, check-format

feat: add notice on abbreviations
  app/routes/dokumentation/interoperability/BindingRequirementsForm.tsx
Due: lint, check-format

feat: add contact banner for IEA documentation
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation._documentationNavigation.verbindliche-anforderungen.tsx
  app/routes/dokumentation/interoperability/IEAContactBanner.tsx
Due: lint, check-format

refactor: remove routerCompat completely
  app/components/AccordionItem.tsx
  app/components/BlocksRenderer.spec.tsx
  app/components/DropdownContentList.tsx
  app/components/InfoBox.spec.tsx
  app/components/Nav.spec.tsx
  app/components/ParagraphList.spec.tsx
  app/components/Tabs/RouteTabs.spec.tsx
  app/contexts/HelpPanelContext.tsx
  app/layout/DropdownMenu.spec.tsx
  app/layout/DropdownMenu.tsx
  app/layout/Footer.spec.tsx
  app/layout/PageHeader.integration.spec.tsx
  app/layout/PageHeader.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien.$prinzip.spec.tsx
  app/routes/__tests__/utils/mockRouter.ts
  app/routes/__tests__/vorpruefung._index.spec.tsx
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/utils/routerCompat.tsx
  src/pages/grundlagen/normenkontrollrat.astro
  tsconfig.json
Due: lint, check-format

Merge branch 'main' into staging/astro-new
  .github/workflows/scan.yml
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationActions.tsx
  app/routes/dokumentation/DocumentationNavigationContext.tsx
  package.json
  pnpm-lock.yaml
  src/components/DocumentationPageShell.tsx
Due: lint, check-format

refactor: switch window for globalThis
  app/components/Absatz.tsx
  app/components/DetailsSummary.tsx
  app/components/ParagraphList.spec.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/components/Tabs/RouteTabs.spec.tsx
  app/components/Tabs/RouteTabs.tsx
  app/components/Tabs/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.hinweise.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/DocumentationContinueActions.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/vorpruefung._preCheckNavigation.$questionId.tsx
  app/routes/vorpruefung.ergebnis/route.tsx
  app/routes/vorpruefung/PreCheckContinueActions.tsx
Due: lint, check-format

fix: enlarge principle highlight padding
  app/components/Absatz.tsx
Due: lint, check-format

chore: check TODOs
  app/components/Button.tsx
  app/components/PrincipleHighlightModifier.tsx
Due: lint, check-format

refactor: remove renderWithRouter
  app/routes/__tests__/vorpruefung._index.spec.tsx
Due: lint, check-format

fix: review comments
  app/components/DetailsSummary.tsx
  app/components/Tabs/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
Due: lint, check-format

chore: test flussdiagramm
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

feat: update example texts
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
Due: lint, check-format

refactor: window -> globalThis
  app/components/Tabs/Tabs.spec.tsx
  app/components/Tabs/Tabs.tsx
Due: lint, check-format

refactor(Hero): rm 'ds-stack' class
  src/components/Hero.astro
Due: none

refactor(posthog): inline snippet -> import posthog-js
  .talismanrc
  src/components/Posthog.astro
  src/components/global/Posthog.astro
  src/config/posthog.ts
  src/env.d.ts
  src/layouts/Layout.astro
Due: lint, check-format

chore: rm gesetzgebungsprozess route
  src/config/routes.ts
  src/pages/gesetzgebungsprozess.astro
Due: lint, check-format

feat: update link-checker args
  .github/workflows/link-checker.yml
Due: check-format

feat(link-checker): exclude internal redirects feat(link-checker): exclude internal redirects
  .github/workflows/link-checker.yml
Due: check-format

chore(bundeslaender): mv page to folder
  src/pages/bundeslaender/index.astro
Due: none

chore(bundelaender): rm staging flag
  src/config/routes.ts
  src/pages/bundeslaender/index.astro
Due: lint, check-format

feat: add route to test file upload support
  app/routes/test.upload.tsx
  public/documents/upload-test.json
Due: lint, check-format

feat: improve outcome form structure
  app/routes/dokumentation._documentationNavigation.eu-interoperabilitaetsbezug.tsx
  app/routes/dokumentation/interoperability/EuInteroperabilityOutcomeForm.tsx
Due: lint, check-format

feat: better form feedback
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/dokumentation/documentationDataSchema.ts
Due: lint, check-format

chore: add sharp for img optimization
  package.json
  pnpm-lock.yaml
Due: check-format

refactor: reduce props drilling
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation/DocumentationActions.tsx
Due: lint, check-format

fix: redirect
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
Due: lint, check-format

feat: export more fields
  app/service/wordDocumentationExport/interoperabilityExport.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit.docx
Due: lint, check-format

fix: adapt types
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
Due: lint, check-format

chore: adapt E2E tests
  tests/e2e/documentation.spec.ts
Due: lint, check-format

chore: lint, fix tests
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._documentationNavigation.beteiligungsformate.tsx
  app/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationDataProvider.spec.tsx
  app/service/wordDocumentationExport/interoperabilityExport.ts
  tests/e2e/documentation.spec.ts
Due: lint, check-format

chore: use dropzones for smoother feedback
  app/routes/test.upload.tsx
Due: lint, check-format

refactor: move sitemap parts into route folder
  src/pages/sitemap/_SitemapList.astro
  src/pages/sitemap/index.astro
Due: none

fix: datenschutz title
  src/pages/datenschutz.mdx
Due: none

refactor(vorpruefung): move navigation
  src/pages/vorpruefung/_VorpruefungNavigation.tsx
  src/pages/vorpruefung/automatisierung.astro
  src/pages/vorpruefung/datenaustausch.astro
  src/pages/vorpruefung/eu-bezug.astro
  src/pages/vorpruefung/hinweise.astro
  src/pages/vorpruefung/it-system.astro
  src/pages/vorpruefung/kommunikation.astro
  src/pages/vorpruefung/verpflichtungen-fuer-beteiligte.astro
Due: lint, check-format

chore: regen routes
  src/config/routes.ts
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
