Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

fix(forms): consistens error and warning handling
  src/components/Button.tsx
  src/components/InfoBox.tsx
  src/components/InputError.tsx
  src/components/RadioGroup.tsx
  src/components/Textarea.tsx
  src/resources/content/vorpruefung.ts
  src/routes/vorpruefung._preCheckNavigation.$questionId.tsx
Due: lint, check-format

fix(forms): visually align warnings and errors
  src/components/InputError.tsx
  src/routes/vorpruefung._preCheckNavigation.$questionId.tsx
Due: lint, check-format

feat(das-ist-neu): add KERN switch to changelog
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore(deps): bump astro to v7.2.0
  package.json
  pnpm-lock.yaml
Due: check-format

chore(ts): rm unused declarations (fixes ts warnings)
  src/components/InputError.tsx
  src/pages/__tests__/index.test.ts
  src/pages/index.astro
Due: lint, check-format

feat(Select): use native select w/ KERN styles
  src/components/Select.tsx
  src/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
Due: lint, check-format

chore(FeatureItem): upd color class
  src/components/FeatureItem.astro
Due: none

chore(DropdownContentList): upd color class
  src/components/DropdownContentList.tsx
Due: lint, check-format

Update nanoid to 3.3.18 to fix vulnerability
  pnpm-lock.yaml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@fe686892844e8c5d6ed43da60445b4cf6b5bb5ac 🚀
  previews/dedup/beispiele/index.html
  previews/dedup/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/dedup/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/dedup/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/dedup/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/dedup/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/dedup/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/dedup/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/dedup/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/dedup/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/dedup/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/dedup/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/dedup/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/dedup/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/dedup/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/dedup/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/dedup/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/dedup/dev/index.html
  previews/dedup/interoperabel/index.html
  previews/dedup/interoperabel/nationale-kontaktstelle/index.html
  previews/dedup/vorpruefung/index.html
Due: check-format

fix(icon): replace icon with kern icon component and adapt its sizing
  src/components/Nav.tsx
Due: lint, check-format

Remove dedupe check
  .github/workflows/check-and-test.yml
  package.json
Due: check-format

refactor(icons): replace astro-icon w/ unplugin-icons
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/FeatureItem.astro
  src/env.d.ts
  src/pages/unterstuetzung/_bund.astro
Due: lint, check-format

fix(das-ist-neu): fix link
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

ci: bump link-checker-gha to v2.1.2
  .github/workflows/link-checker.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@490402ae638241c04021be76c947e6295d7b044a 🚀
  previews/mise/beispiele/index.html
  previews/mise/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/mise/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/mise/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/mise/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/mise/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/mise/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/mise/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/mise/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/mise/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/mise/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/mise/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/mise/dev/index.html
  previews/mise/interoperabel/index.html
  previews/mise/interoperabel/nationale-kontaktstelle/index.html
  previews/mise/vorpruefung/index.html
Due: check-format

Introduce lockfile and add installation of mise to README
  README.md
  mise.lock
  mise.toml
Due: check-format

Use mise
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/preview.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .node-version
  Dockerfile
  README.md
  mise.toml
  package.json
Due: check-format

Check for mise dependency updates every day
  .github/workflows/mise-upgrade.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@ae6b4c4c3f32015a145b092bd5837644b3a4173d 🚀
  previews/mise/beispiele/index.html
  previews/mise/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/mise/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/mise/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/mise/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/mise/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/mise/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/mise/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/mise/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/mise/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/mise/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/mise/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/mise/dev/index.html
  previews/mise/interoperabel/index.html
  previews/mise/interoperabel/nationale-kontaktstelle/index.html
  previews/mise/vorpruefung/index.html
Due: check-format

Ignore mise lockfile in talisman
  .talismanrc
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@85232a2426861f42296596ecde8674fb169416c5 🚀
  previews/mise/beispiele/index.html
  previews/mise/beispiele/regelungen/digitale-dienste-gesetz/index.html
  previews/mise/beispiele/regelungen/einrichtung-herkunftsnachweisregister-fuer-gas-waerme-und-kaelte-gwkhv/index.html
  previews/mise/beispiele/regelungen/elektronischer-rechtsverkehr-mit-dem-bundesverfassungsgericht-b-verf-g/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-aenderung-des-tierarzneimittelgesetzes-und-des-apothekengesetzes/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-einfuehrung-einer-elektronischen-praesenzbeurkundung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-entwicklung-und-erprobung-eines-online-verfahrens-in-der-zivilgerichtsbarkeit/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-modernisierung-und-digitalisierung-der-schwarzarbeitsbekaempfung/index.html
  previews/mise/beispiele/regelungen/entwurf-eines-gesetzes-zur-staerkung-der-oeffentlichen-gesundheit/index.html
  previews/mise/beispiele/regelungen/entwurf-zum-gesetz-ueber-die-grenzueberschreitende-herausgabe-elektronischer-beweismittel-in-strafverfahren-innerhalb-der-eu/index.html
  previews/mise/beispiele/regelungen/foerderung-des-ganztagsausbaus-aus-sicht-eines-oeffentlichen-schultraegers/index.html
  previews/mise/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht/index.html
  previews/mise/beispiele/regelungen/identifikation-der-nutzer-unternehmensregisterverordnung-urv/index.html
  previews/mise/beispiele/regelungen/modernisierung-des-postrechts/index.html
  previews/mise/beispiele/regelungen/register-ueber-betreiber-von-unbemannten-fluggeraeten-luft-vg/index.html
  previews/mise/beispiele/regelungen/sgb-vi-anpassungsgesetz-einfuehrung-fallmanagement-drv/index.html
  previews/mise/beispiele/regelungen/umsetzung-der-energiesteuerrichtlinie-beim-einsatz-von-energieerzeugnissen-zur-stromerzeugung/index.html
  previews/mise/dev/index.html
  previews/mise/interoperabel/index.html
  previews/mise/interoperabel/nationale-kontaktstelle/index.html
  previews/mise/vorpruefung/index.html
Due: check-format

chore: rm isIeaAssessmentEnabled feature flag
  src/resources/content/dokumentation.ts
  src/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  src/routes/dokumentation._documentationNavigation.absenden.tsx
  src/routes/dokumentation._documentationNavigation.regelungsvorhaben-titel.tsx
  src/routes/dokumentation._documentationNavigation.tsx
  src/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  src/routes/dokumentation/documentationDataSchema.ts
  src/service/wordDocumentationExport/wordDocumentation.ts
  src/utils/features.ts
  tests/e2e/documentation-interoperability.spec.ts
  tests/e2e/documentation.spec.ts
Due: lint, check-format

chore: rm TEMPLATE_Dokumentation_der_Digitaltauglichkeit.docx
  public/documents/TEMPLATE_Dokumentation_der_Digitaltauglichkeit.docx
  src/config/downloads.ts
Due: lint, check-format

Use mise (#1035)
  .github/workflows/check-and-test.yml
  .github/workflows/create-unified-test-report.yml
  .github/workflows/mise-upgrade.yml
  .github/workflows/preview.yml
  .github/workflows/run-e2e-a11y-tests.yml
  .node-version
  .talismanrc
  Dockerfile
  README.md
  mise.lock
  mise.toml
  package.json
Due: check-format

fix(dokumentation): remount principle form when switching form page
  src/routes/dokumentation.$page.tsx
Due: lint, check-format

feat(leander): nrw landing page (wip)
  src/config/routes.ts
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/_assets/laender-map.svg
  src/pages/bundeslaender/brandenburg.astro
  src/pages/bundeslaender/hessen.astro
  src/pages/bundeslaender/index.astro
  src/pages/bundeslaender/nordrhein-westfalen.astro
  src/styles/globals.css
Due: lint, check-format
