Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

feat(menu): adjust menu items visually
  src/components/DropdownContentList.tsx
  src/pages/index.astro
  src/resources/content/shared/header.ts
Due: lint, check-format

fix: add packages field to fix pnpm install command
  pnpm-workspace.yaml
Due: check-format

refactor(redirects): create zfl endpoint variables
  astro.config.mjs
  src/pages/__tests__/index.test.ts
  src/pages/__tests__/methoden/index.test.ts
  src/pages/index.astro
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/faq.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/resources/constants.ts
  src/resources/content/grundlage-normenkontrollrat.ts
  src/resources/content/methoden.ts
  src/resources/content/shared/header.ts
  tests/e2e/methodPages.spec.ts
Due: lint, check-format

fix: cleanup
  src/components/InfoBox.tsx
  src/pages/index.astro
  src/resources/content/shared/header.ts
Due: lint, check-format

build(deps): bump dependencies
  mise.lock
  mise.toml
  package.json
  pnpm-lock.yaml
Due: check-format

chore(das-ist-neu): add leitfaden link
  src/pages/bundeslaender/index.astro
  src/pages/index.astro
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

build(mise): upd lockfile
  mise.lock
Due: none

feat(menu): remove old new tag
  src/resources/content/shared/header.ts
Due: lint, check-format

fix: open zfl link in new tab
  src/pages/index.astro
Due: none

chore(mise): bump pinned tool versions
  mise.lock
  mise.toml
Due: none

feat(nkr-data): add update-ed-darstellung script
  scripts/nkr-data/transform-nkr-export.py
  scripts/nkr-data/update-ed-darstellung.py
Due: none

feat(das-ist-neu): redesigned timeline
  src/components/Timeline.tsx
  src/pages/das-ist-neu.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

feat(das-ist-neu): add Metadata
  src/pages/das-ist-neu/_Metadata.astro
  src/pages/das-ist-neu/index.astro
Due: none

feat(Timeline): add year dividers
  src/components/Timeline.tsx
  src/pages/das-ist-neu/index.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
  src/resources/content/das-ist-neu.spec.ts
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(talisman): add exclusion
  .talismanrc
Due: none

chore(das-ist-neu): upd headlines
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

chore(hessen): upd visualisieren url
  src/pages/bundeslaender/hessen.astro
Due: none

chore(daran-arbeiten-wird): rm nextUpdate & link to zfl roadmap
  src/pages/das-ist-neu/_Metadata.astro
  src/pages/das-ist-neu/index.astro
Due: none

style(Timeline): add ml and reduce bullet size
  src/components/Timeline.tsx
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@4a27633700375b50bc331e830b2d67fcde7bb5e4 🚀
  previews/merge-deps/dev/index.html
  previews/merge-deps/interoperabel/index.html
  previews/merge-deps/interoperabel/nationale-kontaktstelle/index.html
  previews/merge-deps/vorpruefung/index.html
Due: check-format

ci(preview): output GitHub deployment URL
  .github/workflows/preview.yml
Due: check-format

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

test(das-ist-neu): fix ts error / compat w/ vitest 5
  src/resources/content/das-ist-neu.spec.ts
Due: lint, check-format

chore: apply prettier
  src/components/DocumentationWizard.astro
  src/components/Hero.astro
  src/components/KernCard.astro
  src/components/LoadingPage.astro
  src/components/MethodCard.astro
  src/components/SidebarContainer.astro
  src/components/content/PreCheckFAQ.astro
  src/components/global/ProgressBar.astro
  src/components/tabs/MobileTabPicker.astro
  src/components/tabs/RouteTabs.astro
  src/components/tabs/Tabs.astro
  src/layouts/Layout.astro
  src/layouts/VorpruefungLayout.astro
  src/pages/bundeslaender/index.astro
  src/pages/das-ist-neu/_Metadata.astro
  src/pages/das-ist-neu/index.astro
  src/pages/dev/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/index.astro
  src/pages/interoperabel/_EuRechtTab.astro
  src/pages/interoperabel/_HintergrundTab.astro
  src/pages/interoperabel/_InteroperableLoesungenTab.astro
  src/pages/interoperabel/_UeberblickTab.astro
  src/pages/interoperabel/faq.astro
  src/pages/interoperabel/index.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
  src/pages/interoperabel/nationale-kontaktstelle/_Ueberblick.astro
  src/pages/interoperabel/nationale-kontaktstelle/index.astro
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/pages/methoden/index.astro
  src/pages/sitemap/_SitemapList.astro
  src/pages/vorpruefung/index.astro
  src/pages/zahlen-und-fakten.astro
Due: none

chore: apply prettier
  src/components/FeatureItem.astro
  src/layouts/LaenderLayout.astro
  src/pages/bundeslaender/brandenburg.astro
  src/pages/bundeslaender/hessen.astro
  src/pages/bundeslaender/nordrhein-westfalen.astro
  src/pages/unterstuetzung/_bund.astro
  src/pages/unterstuetzung/_bundeslaender.astro
  src/pages/unterstuetzung/index.astro
Due: none

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
