Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@f1e1dc26b3b93574b767c1ec4fcd25215bec8b39 🚀
  previews/refactore/remove-Strapi/dev/index.html
  previews/refactore/remove-Strapi/interoperabel/index.html
  previews/refactore/remove-Strapi/interoperabel/nationale-kontaktstelle/index.html
  previews/refactore/remove-Strapi/vorpruefung/index.html
Due: check-format

ci: generate types from astro content collection before the lintint step
  .github/workflows/check-and-test.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@e37dc343e8f00bf59a4b773fb97ef1bf40f10050 🚀
  previews/refactore/remove-Strapi/dev/index.html
  previews/refactore/remove-Strapi/interoperabel/index.html
  previews/refactore/remove-Strapi/interoperabel/nationale-kontaktstelle/index.html
  previews/refactore/remove-Strapi/vorpruefung/index.html
Due: check-format

style(kern): define tailwind token for kern colors and spacings
  src/styles/kern-utils.css
Due: check-format

fix(format): prettier fixes
  src/styles/kern-utils.css
Due: check-format

feat(sidebar): move sidebar code from zfl to dc
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/global/AccordionMenu.astro
  src/components/global/AccordionMenuLevel.astro
  src/components/global/DrilldownNavigation.astro
  src/components/global/DrilldownNavigationItem.astro
  src/components/global/SectionSidebar.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/utils/navigation/accordion.ts
  src/utils/navigation/drilldown.ts
  src/utils/navigation/navigation.test.ts
  src/utils/navigation/routeUtils.ts
Due: lint, check-format

style(sidebar): adjust hover colors [ZFL-881]
  src/components/global/AccordionMenuLevel.astro
Due: none

feat(PageHeader): new Astro PageHeader
  src/components/global/Kopfzeile.astro
  src/components/global/PageHeader.astro
  src/components/kern-preview/Kopfzeile.css
  src/components/kern-preview/Kopfzeile.tsx
  src/config/routes.ts
  src/layouts/Layout.astro
  src/pages/bundeslaender/index.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/interoperabel/index.astro
  src/pages/kontakt.astro
Due: lint, check-format

feat(header): align Kopfzeilen and PageHeader padding
  src/components/global/Kopfzeile.astro
  src/components/global/PageHeader.astro
Due: none

style(layout): align grid system with zfl
  src/styles/globals.css
Due: check-format

style(sections): default styles for sections
  src/styles/globals.css
Due: check-format

feat(kontakt): implement new kontakt page
  src/assets/images/regelungsbegleitung.png
  src/assets/images/schulungen.jpg
  src/assets/images/werkzeuge.jpg
  src/pages/kontakt.astro
Due: none

remove unterstuetzungs content page
  src/config/additionalRoutes.ts
  src/config/routes.ts
  src/pages/unterstuetzung.astro
  src/resources/content/shared/footer.ts
  src/resources/content/shared/header.ts
  src/routes/unterstuetzung/route.tsx
Due: lint, check-format

fix: replace unterstuetzungs link on index page
  src/pages/index.astro
Due: none

chore: rm /test-upload
  public/documents/upload-test.csv
  public/documents/upload-test.json
  src/pages/test-upload/_UploadTest.tsx
  src/pages/test-upload/index.astro
Due: lint, check-format

chore(downloads): rm test-data [skip-ci]
  src/config/downloads.ts
Due: lint, check-format

docs(nkr-data): add more comments [skip-ci]
  scripts/nkr-data/transform-nkr-export.py
Due: none

style(Hero): upd bg color
  src/components/Hero.astro
  src/components/Hero.tsx
Due: lint, check-format

test(support): rm test for deleted page
  tests/e2e/support.spec.ts
Due: lint, check-format

chore(nationale-kontaktstelle): upd urls
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
Due: lint, check-format

chore(nkr-data): bump python dependencies [skip-ci]
  scripts/nkr-data/uv.lock
Due: none

chore(kontakt): rm unused import [skip-ci]
  src/pages/kontakt.astro
Due: none

test(index): upd url
  src/pages/__tests__/index.test.ts
Due: lint, check-format

test(Footer): upd snapshot
  src/layout/__snapshots__/Footer.spec.tsx.snap
Due: none

style(color): donnot overwrite kern action default color
  src/styles/globals.css
Due: check-format

style(padding): import zfl standard paddings
  src/styles/globals.css
Due: check-format

build(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

build(deps): rm unused msw dependency
  package.json
  pnpm-lock.yaml
Due: check-format

fix(MdxLayout): spacing
  src/layouts/MdxLayout.astro
Due: none

fix: typos in barrierefreiheit, impressum, datenschutz
  src/pages/barrierefreiheit.mdx
  src/pages/datenschutz.mdx
  src/pages/impressum.mdx
Due: none

feat(fuenf-prinzipien): redesign (wip)
  src/assets/images/Poster_5Prinzipien.jpg
  src/components/FeatureItem.astro
  src/components/FeatureSet.astro
  src/components/ImageTextOverlay.astro
  src/components/InfoPanel.astro
  src/components/KernBadge.astro
  src/components/PrinciplePosterBox.tsx
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/__tests__/methoden/fuenf-prinzipien/index.test.ts
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
  src/resources/content/methode-fuenf-prinzipien.ts
  src/styles/badges.css
  src/styles/globals.css
Due: lint, check-format

feat(fuenf-prinzipien): reuse TocContainer.astro from zfl
  .talismanrc
  src/components/TocContainer.astro
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/utils/toc.spec.ts
  src/utils/toc.ts
Due: lint, check-format

refactor(fuenf-prinzipien): use kern-accordion
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
Due: lint, check-format

feat(nkr): new content page nkr
  src/components/KernCard.astro
  src/pages/grundlagen/normenkontrollrat.astro
  src/pages/normenkontrollrat.astro
Due: none

refactor(header): remove old dc page header
  src/components/global/PageHeader.astro
  src/config/routes.ts
  src/layout/PageHeader.tsx
  src/layouts/Layout.astro
  src/resources/content/shared/header.ts
Due: lint, check-format

refactor(nkr): update nkr path
  src/pages/index.astro
  src/resources/content/das-ist-neu.ts
  src/resources/content/shared/footer.ts
Due: lint, check-format

style(globals.css): max-content-width as in zfl
  src/components/FeatureItem.astro
  src/styles/globals.css
Due: check-format

fix(KernCard): only break title words when they would overflow
  src/components/KernCard.astro
Due: none

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
