Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

Update principle colors to use harmonized order
  app/styles.css
Due: check-format

Fix types
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
Due: lint, check-format

Remove Digitalcheck notice banner
  app/layout/PageHeader.tsx
  app/zfl/components/PageHeader.tsx
Due: lint, check-format

Revert "Update principle colors to use harmonized order"
  app/styles.css
Due: check-format

Remove breadcrumbs
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Implement new principles page
  app/resources/content/methode-fuenf-prinzipien.ts
  app/routes/__tests__/methoden.fuenf-prinzipien.$prinzip.spec.tsx
  app/routes/__tests__/methoden.fuenf-prinzipien._index.spec.tsx
  app/routes/__tests__/utils/strapiUtils.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.fuenf-prinzipien._index/route.tsx
  app/utils/strapiData.server.ts
Due: lint, check-format

Add a11y test
  tests/a11y/general.spec.ts
Due: lint, check-format

Remove OTC deployment
  .github/workflows/deploy.yml
  .github/workflows/pipeline.yml
Due: check-format

Fix deployment pipeline
  .github/workflows/deploy.yml
Due: check-format

Use correct secrets for stackit deployment
  .github/workflows/deploy.yml
  .github/workflows/pipeline.yml
Due: check-format

Test pipeline
  .github/workflows/pipeline.yml
Due: check-format

Revert "Test pipeline"
  .github/workflows/pipeline.yml
Due: check-format

Add principle navigation
  app/routes/methoden.fuenf-prinzipien.$prinzip/query.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Fix failing test
  app/routes/__tests__/methoden.fuenf-prinzipien.$prinzip.spec.tsx
Due: lint, check-format

Remove ZfL from Digitalcheck
  .talismanrc
  app/entry.client.tsx
  app/root.tsx
  app/routes.ts
  app/styles.css
  app/utils/featureFlags.ts
  app/zfl/Barrierefreiheit.tsx
  app/zfl/Begleitungen.tsx
  app/zfl/DaranArbeitenWir.tsx
  app/zfl/Datenschutz.tsx
  app/zfl/Impressum.tsx
  app/zfl/Index.tsx
  app/zfl/NotFound.tsx
  app/zfl/Schulungen.tsx
  app/zfl/ZFL.tsx
  app/zfl/ZFLLayout.tsx
  app/zfl/ZFLMeta.tsx
  app/zfl/ZahlenUndFakten.tsx
  app/zfl/components/Contact.tsx
  app/zfl/components/Footer.tsx
  app/zfl/components/PageHeader.tsx
  app/zfl/constants.ts
  app/zfl/isOnZFL.ts
  app/zfl/routes.ts
  package-lock.json
  public/zfl/Begleitungen.png
  public/zfl/Schulungen.png
  public/zfl/markdown/barrierefreiheit.md
  public/zfl/markdown/datenschutz.md
  public/zfl/menu-fix.js
  public/zfl/posthog-fix.js
  tests/a11y/zfl.a11y.spec.ts
  tests/e2e/zfl.e2e.spec.ts
  tests/feature-flags.json
Due: lint, check-format

Send 404 for invalid route
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

Enable bold italic Strapi content
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/utils/paragraphUtils.ts
Due: lint, check-format

Add client-side test error route
  app/routes/test-client-error.tsx
Due: lint, check-format

Fix styles
  app/styles.css
Due: check-format

Add more text modifiers
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Remove log
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Fix table of contents not updating
  app/components/TableOfContentsInteractive.tsx
Due: lint, check-format

Update styles
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Fix test
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Adapt accordion color
  app/components/AccordionItem.tsx
Due: lint, check-format

Add principle navigation to pages
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

Update environment URL
  .github/workflows/pipeline.yml
Due: check-format

Interview Leitfaden (WIP)
  app/components/AccordionItem.tsx
  app/components/InfoBoxSideBySide.tsx
  app/resources/content/methoden.ts
  app/resources/staticRoutes.ts
  app/routes/__tests__/methoden._index.spec.tsx
  app/routes/methoden._index.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden.tsx
  app/utils/featureFlags.ts
  public/images/interview-leitfaden-checkliste.png
  public/images/interview-leitfaden-vorlage-schritt-2.png
  public/images/interview-leitfaden-vorlage.png
  tests/feature-flags.json
Due: lint, check-format

New content for interview leitfaden (wip)
  app/layout/SidebarContainer.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden.tsx
Due: lint, check-format

feat: Add federal state selector for Länderkooperation
  app/components/FederalStateSelector.tsx
  app/contexts/FederalStateContext.ts
  app/layout/PageHeader.integration.spec.tsx
  app/layout/PageHeader.tsx
  app/providers/FederalStateProvider.tsx
  app/resources/content/dokumentation.ts
  app/resources/content/startseite.ts
  app/resources/staticRoutes.ts
  app/root.tsx
  app/routes/__tests__/_index.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/_index.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.auswirkungen.tsx
  app/routes/dokumentation._documentationNavigation.erforderlichkeit.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation._documentationNavigation.zweckmaessigkeit.tsx
  app/routes/dokumentation._index.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/dokumentation/documentationDataSchema.ts
  app/routes/dokumentation/documentationDataService.ts
  app/routes/dokumentation/route.tsx
  app/test/testUtils.tsx
Due: lint, check-format

feat: Add federal state selector for Länderkooperation
  app/components/FederalStateSelector.tsx
  app/contexts/FederalStateContext.ts
  app/layout/PageHeader.integration.spec.tsx
  app/layout/PageHeader.tsx
  app/providers/FederalStateProvider.tsx
  app/resources/content/dokumentation.ts
  app/resources/content/methoden.ts
  app/resources/content/startseite.ts
  app/resources/staticRoutes.ts
  app/root.tsx
  app/routes/__tests__/_index.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.beteiligungsformate.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.regelungsvorhaben-titel.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.spec.tsx
  app/routes/__tests__/dokumentation._index.spec.tsx
  app/routes/_index.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/routes/dokumentation._documentationNavigation.auswirkungen.tsx
  app/routes/dokumentation._documentationNavigation.erforderlichkeit.tsx
  app/routes/dokumentation._documentationNavigation.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation._documentationNavigation.zweckmaessigkeit.tsx
  app/routes/dokumentation._index.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/dokumentation/documentationDataSchema.ts
  app/routes/dokumentation/documentationDataService.ts
  app/routes/dokumentation/route.tsx
  app/test/testUtils.tsx
Due: lint, check-format

feat: Add Brandenburg-specific content to Word document export
  app/resources/content/documentation-document.ts
  app/routes/dokumentation._documentationNavigation.absenden.tsx
  app/service/wordDocumentationExport/wordDocumentation.ts
Due: lint, check-format

feat: Add Brandenburg-specific patches to Word document export
  app/service/wordDocumentationExport/wordDocumentation.ts
Due: lint, check-format

feat: Add separate Word template for Brandenburg
  app/routes/dokumentation.download.$fileName.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_Brandenburg.docx
Due: lint, check-format

Update README.md
  README.md
Due: check-format

Update methoden.interview-leitfaden.tsx
  app/routes/methoden.interview-leitfaden.tsx
Due: lint, check-format

Update methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

Fix lint errors
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

Fix error when copying .env.example
  .env.example
Due: none

Adjust content
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden.tsx
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
