Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

Centralise mail and phone strings
  app/layout/__snapshots__/Footer.spec.tsx.snap
  app/resources/content/beispiele-regelungen.ts
  app/resources/content/das-ist-neu.ts
  app/resources/content/documentation-document.ts
  app/resources/content/dokumentation.ts
  app/resources/content/error.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel.ts
  app/resources/content/methode-it-systeme-erfassen.ts
  app/resources/content/methode-technische-umsetzbarkeit.ts
  app/resources/content/methode-visualisieren.ts
  app/resources/content/shared/contact.ts
  app/resources/content/shared/footer.ts
  app/resources/content/shared/header.ts
  app/resources/content/shared/interview-banner.ts
  app/resources/content/shared/naechste-schritte.ts
  app/resources/content/shared/support-banner.ts
  app/resources/content/unterstuetzung.ts
  app/resources/content/vorpruefung-ergebnis.ts
  app/resources/content/vorpruefung.ts
  app/routes/impressum.tsx
  app/routes/interoperabel._index.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
Due: lint, check-format

docs(adr-0021): remove period
  doc/adr/0021-use-custom-goals-for-tracking.md
Due: check-format

feat(interview-leitfaden): wording + images
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.interview-leitfaden.tsx
  public/documents/interview-leitfaden/Zielgruppenanaylse-Buergercheck.pptx
  public/images/interview-leitfaden-checkliste.png
  public/images/interview-leitfaden-vorlage-buergercheck.png
  public/images/interview-leitfaden-vorlage-schritt-2.png
Due: lint, check-format

Fix(vorlage): change email and download file name
  app/resources/content/documentation-document.ts
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
  tests/e2e/documentation.spec.ts
Due: lint, check-format

Text changes
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

chore(commitlint): replace custom rules w/ config-conventional
  commitlint.config.ts
  package-lock.json
  package.json
Due: lint, check-format

feat(interview-leitfaden): change alt texts
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

ci(link-checker): fix 'Workflow does not contain permissions'
  .github/workflows/link-checker.yml
Due: check-format

feat(strapi-content): make aspekt.title optional
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.fuenf-prinzipien._index/getDetailsSummaryProps.tsx
  app/service/wordDocumentationExport/wordDocumentation.ts
  app/utils/strapiData.server.ts
Due: lint, check-format

feat(wordDoc): add hyperlink support for contact emails
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: lint, check-format

feat(wordDoc): add hyperlink support for contact emails (#733)
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  public/documents/VORLAGE_Dokumentation_der_Digitaltauglichkeit_V2.docx
Due: lint, check-format

Revert "chore(deps): bump docx from 9.5.1 to 9.5.2 (#735)"
  package-lock.json
  package.json
Due: check-format

chore(Schulungen): update dates
  app/resources/content/unterstuetzung.ts
Due: lint, check-format

Update vorpruefung.ts
  app/resources/content/vorpruefung.ts
Due: lint, check-format

chore(deps): update dependencies
  package-lock.json
  package.json
Due: check-format

chore(deps): add eslint dependabot pattern
  .github/dependabot.yml
Due: check-format

Update das-ist-neu.ts
  app/resources/content/das-ist-neu.ts
Due: lint, check-format

fix: group name in opencode.yml
  opencode.yml
Due: check-format

chore(deps): bump dependencies
  package-lock.json
Due: check-format

chore: fix sonarqube issues
  app/components/Absatz.tsx
  app/components/Dialog.tsx
  app/components/DropdownContentList.tsx
  app/components/InfoBoxList.tsx
  app/routes/methoden._index.tsx
Due: lint, check-format

chore: fix sonarqube issues
  app/resources/staticRoutes.ts
  app/routes/__tests__/methoden.fuenf-prinzipien.$prinzip.spec.tsx
  app/routes/__tests__/vorpruefung.ergebnis.spec.tsx
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
  app/routes/dokumentation/DocumentationActions.tsx
  app/routes/download.$fileName.ts
  app/routes/vorpruefung.ergebnis/getResultForAnswers.ts
  app/routes/vorpruefung.ergebnis/route.tsx
  app/routes/vorpruefung/preCheckDataHook.ts
  app/service/wordDocumentationExport/wordDocumentation.spec.ts
  app/service/wordDocumentationExport/wordDocumentation.ts
  app/utils/paragraphUtils.ts
  app/utils/strapiData.server.ts
  tests/playwright-nightly.config.ts
  tests/playwright-snapshots.config.ts
  tests/playwright.config.ts
Due: lint, check-format

fix(DocumentationAction): fix types
  app/routes/dokumentation/DocumentationActions.tsx
Due: lint, check-format

ci: conditionally push Docker image on main branch
  .github/workflows/pipeline.yml
Due: check-format

refactor(prinzipien): remove feature flag
  app/routes/methoden.fuenf-prinzipien.$prinzip/query.ts
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
  app/routes/methoden.fuenf-prinzipien._index/route.tsx
  app/utils/featureFlags.ts
  tests/feature-flags.json
Due: lint, check-format

chore: fix sonarqube issues
  app/components/Nav.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
  app/routes/dokumentation/DocumentationActions.tsx
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  app/routes/dokumentation/documentationDataHook.ts
  app/routes/interoperabel._index.tsx
  app/routes/vorpruefung/preCheckDataHook.ts
  package-lock.json
  package.json
Due: lint, check-format

test(documentationNavigation): fix linter issus in test
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
Due: lint, check-format

refactor(Sonar): use safer map invocation
  app/routes/dokumentation._documentationNavigation.tsx
Due: lint, check-format

fix: prevent rerenders by memoizing
  app/providers/PrincipleHighlightProvider.tsx
Due: lint, check-format

refactor(Sonar): improve types, imports
  app/routes/dokumentation._documentationNavigation.zusammenfassung.tsx
Due: lint, check-format

refactor: inline usages of beispiele.ts
  app/components/Absatz.tsx
  app/resources/content/beispiele.ts
  app/routes/beispiele._index.tsx
  app/routes/dokumentation._documentationNavigation.$principleId.tsx
Due: lint, check-format

feat: implement snapshot tests
  tests/snapshots/aria.spec.ts
Due: lint, check-format

refactor(Sonar): add local vars and returns in run.sh
  run.sh
Due: none

refactor(Sonar): move helper funcs to module scope in tests
  app/routes/dokumentation/DocumentationContinueActions.spec.tsx
  tests/e2e/documentation.spec.ts
  tests/e2e/general.spec.ts
Due: lint, check-format

refactor(Sonar): prefer globalThis over window/global
  app/components/DetailsSummary.tsx
  app/components/ParagraphList.spec.tsx
  app/components/Tabs.spec.tsx
  app/hooks/deviceHook.ts
  app/layout/ErrorBoundary.tsx
  app/layout/PageHeader.integration.spec.tsx
  app/utils/localStorageVersioned.spec.ts
  app/utils/trackClientSideError.spec.ts
Due: lint, check-format

refactor(Sonar): mark comp props as read-only
  app/components/ItalicModifier.tsx
  app/components/PrincipleHighlightModifier.tsx
  app/components/SVGWithMiniMap.tsx
  app/components/kern-preview/Kopfzeile.tsx
  app/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format
