Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

feat(online-docu): add tests for new online doku
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId.v2.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.$principleId_.erlaeuterung.spec.tsx
  app/routes/__tests__/dokumentation._documentationNavigation.zusammenfassung.v2.spec.tsx
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/service/wordDocumentationExport/wordDocumentationV2.spec.ts
Due: lint, check-format

feat(online-docu): add documentation navigation test for new online doku
  app/routes/__tests__/dokumentation._documentationNavigation.spec.tsx
Due: lint, check-format

feat(online-docu): add documentationv2 e2e tests
  .github/workflows/run-e2e-a11y-tests.yml
  package.json
  tests/e2e-onlineDocumentationV2/documentation-v2.spec.ts
  tests/feature-flags-onlineDocumentationV2.json
  tests/playwright-onlineDocumentationV2.config.ts
Due: lint, check-format

feat(online-docu): change wordings
  app/resources/content/dokumentation.ts
  app/resources/content/shared/support-banner.ts
  app/routes/dokumentation._documentationNavigation.$principleId_.erlaeuterung.tsx
  app/routes/dokumentation._index.tsx
  app/routes/dokumentation/DocumentationPrincipleV2.tsx
Due: lint, check-format

ci(preview): create preview build
  .github/workflows/create-unified-test-report.yml
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  react-router.config.ts
  vite.config.ts
Due: lint, check-format

ci(preview): fix preview build
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview.yml
  react-router.config.ts
Due: lint, check-format

ci(preview): fix preview build
  .github/workflows/preview.yml
Due: check-format

ci(preview): undo changes in create-unified-test-report
  .github/workflows/create-unified-test-report.yml
Due: check-format

ci(preview): fix preview workflow
  .github/workflows/preview.yml
Due: check-format

ci(prewiew): preview builds
  .github/workflows/preview.yml
  app/utils/isPreview.ts
  react-router.config.ts
Due: lint, check-format

ci(preview): fix preview workflow
  .github/workflows/preview.yml
  react-router.config.ts
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@030578ba781a900817eadb7453ece427949ecdc0 🚀
  previews/preview-build/digitalcheck-website/previews/preview-build/barrierefreiheit/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/beispiele/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/beispiele/visualisierungen/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/das-ist-neu/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/datenschutz/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/absenden/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/beteiligungsformate/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/hinweise/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/regelungsvorhaben-titel/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/dokumentation/zusammenfassung/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/gesetzgebungsprozess/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/grundlagen/digitaltauglichkeit/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/grundlagen/normenkontrollrat/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/impressum/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/interoperabel/faq/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/interoperabel/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/interoperabel/loesungen/dcat-ap/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/interoperabel/nationale-kontaktstelle/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/fuenf-prinzipien/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/interview-leitfaden-schritte/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/interview-leitfaden/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/it-systeme-erfassen/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/technische-umsetzbarkeit/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/visualisieren/flussdiagramm/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/visualisieren/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/methoden/zustaendige-akteurinnen-auflisten/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/sitemap/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/unterstuetzung/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/automatisierung/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/datenaustausch/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/ergebnis/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/eu-bezug/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/hinweise/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/it-system/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/kommunikation/index.html
  previews/preview-build/digitalcheck-website/previews/preview-build/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

feat(featureFlags): isPreview -> always true
  app/utils/featureFlags.server.ts
Due: lint, check-format

ci(preview): fix gh pages url
  .github/workflows/preview.yml
Due: check-format

ci(preview): fix preview folder
  .github/workflows/preview.yml
Due: check-format

ci(preview): undo fix preview folderOC
  .github/workflows/preview.yml
Due: check-format

chore: add .nojekyll file
  .nojekyll
Due: none

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@7a52131ff696c00df5126af0005eba1a79cb3cb2 🚀
  previews/preview-build/digitalcheck-dito/previews/preview-build/barrierefreiheit/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/beispiele/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/beispiele/visualisierungen/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/das-ist-neu/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/datenschutz/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/absenden/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/beteiligungsformate/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/hinweise/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/regelungsvorhaben-titel/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/dokumentation/zusammenfassung/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/gesetzgebungsprozess/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/grundlagen/digitaltauglichkeit/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/grundlagen/normenkontrollrat/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/impressum/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/interoperabel/faq/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/interoperabel/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/interoperabel/loesungen/dcat-ap/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/interoperabel/nationale-kontaktstelle/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/fuenf-prinzipien/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/interview-leitfaden-schritte/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/interview-leitfaden/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/it-systeme-erfassen/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/technische-umsetzbarkeit/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/visualisieren/flussdiagramm/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/visualisieren/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/methoden/zustaendige-akteurinnen-auflisten/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/sitemap/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/unterstuetzung/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/automatisierung/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/datenaustausch/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/ergebnis/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/eu-bezug/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/hinweise/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/it-system/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/kommunikation/index.html
  previews/preview-build/digitalcheck-dito/previews/preview-build/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

ci(preview): fix gh-pages folder
  .github/workflows/preview.yml
Due: check-format

ci(preview): fix preview deployment
  .github/workflows/preview.yml
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@6670c13fd0c8e99ecdbd028e39d96aa156dcc37a 🚀
  previews/preview-build/barrierefreiheit/index.html
  previews/preview-build/beispiele/index.html
  previews/preview-build/beispiele/visualisierungen/index.html
  previews/preview-build/das-ist-neu/index.html
  previews/preview-build/datenschutz/index.html
  previews/preview-build/dokumentation/absenden/index.html
  previews/preview-build/dokumentation/beteiligungsformate/index.html
  previews/preview-build/dokumentation/hinweise/index.html
  previews/preview-build/dokumentation/index.html
  previews/preview-build/dokumentation/regelungsvorhaben-titel/index.html
  previews/preview-build/dokumentation/zusammenfassung/index.html
  previews/preview-build/gesetzgebungsprozess/index.html
  previews/preview-build/grundlagen/digitaltauglichkeit/index.html
  previews/preview-build/grundlagen/normenkontrollrat/index.html
  previews/preview-build/impressum/index.html
  previews/preview-build/index.html
  previews/preview-build/interoperabel/faq/index.html
  previews/preview-build/interoperabel/index.html
  previews/preview-build/interoperabel/loesungen/dcat-ap/index.html
  previews/preview-build/interoperabel/nationale-kontaktstelle/index.html
  previews/preview-build/methoden/fuenf-prinzipien/index.html
  previews/preview-build/methoden/index.html
  previews/preview-build/methoden/interview-leitfaden-schritte/index.html
  previews/preview-build/methoden/interview-leitfaden/index.html
  previews/preview-build/methoden/it-systeme-erfassen/index.html
  previews/preview-build/methoden/technische-umsetzbarkeit/index.html
  previews/preview-build/methoden/visualisieren/flussdiagramm/index.html
  previews/preview-build/methoden/visualisieren/index.html
  previews/preview-build/methoden/zustaendige-akteurinnen-auflisten/index.html
  previews/preview-build/sitemap/index.html
  previews/preview-build/unterstuetzung/index.html
  previews/preview-build/vorpruefung/automatisierung/index.html
  previews/preview-build/vorpruefung/datenaustausch/index.html
  previews/preview-build/vorpruefung/ergebnis/index.html
  previews/preview-build/vorpruefung/eu-bezug/index.html
  previews/preview-build/vorpruefung/hinweise/index.html
  previews/preview-build/vorpruefung/index.html
  previews/preview-build/vorpruefung/it-system/index.html
  previews/preview-build/vorpruefung/kommunikation/index.html
  previews/preview-build/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

ci(preview): fix asstets errors
  .github/workflows/preview.yml
Due: check-format

ci(preview): add dynamic pages
  react-router.config.ts
Due: lint, check-format

ci(preview): fix asset paths
  app/layout/Footer.tsx
  app/layout/PageHeader.tsx
  app/root.tsx
  app/utils/assetPath.ts
Due: lint, check-format

ci(preview): fix asset paths #2
  app/resources/content/methode-technische-umsetzbarkeit.ts
  app/routes/methoden.interview-leitfaden-schritte.tsx
Due: lint, check-format

ci(preview): fix asset paths #3
  app/resources/content/grundlage-digitaltauglichkeit.ts
  app/resources/content/grundlage-normenkontrollrat.ts
  app/resources/content/interoperabel-nationale-kontaktstelle.ts
  app/resources/content/interoperabel.ts
  app/resources/content/methode-technische-umsetzbarkeit.ts
  app/resources/content/methode-visualisieren.ts
  app/resources/content/vorpruefung.ts
  app/routes/interoperabel/HintergrundTab.tsx
  app/routes/methoden.interview-leitfaden-schritte.tsx
  app/routes/methoden.visualisieren._index.tsx
  app/routes/methoden.visualisieren.flussdiagramm.tsx
  app/routes/unterstuetzung/route.tsx
Due: lint, check-format

ci(preview): fix asset paths #4
  app/resources/content/methode-fuenf-prinzipien.ts
  app/resources/content/methode-it-systeme-erfassen.ts
  app/resources/content/methode-zustaendige-akteurinnen-auflisten.ts
  app/resources/content/unterstuetzung.ts
  app/resources/content/vorpruefung.ts
  app/routes/gesetzgebungsprozess.tsx
  app/routes/interoperabel/HintergrundTab.tsx
Due: lint, check-format

ci(preview): fix redirects
  .talismanrc
  app/routes/beispiele.prinzipien._index.tsx
  app/routes/grundlagen._index.tsx
  app/routes/grundlagen.fuenf-prinzipien.tsx
  app/routes/interoperabel.loesungen._index.tsx
  app/routes/methoden.ablaeufe-aufgaben-erfassen.tsx
  app/utils/previewRedirect.tsx
  app/vite-env.d.ts
  react-router.config.ts
  vite.config.ts
Due: lint, check-format
