Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: npx --yes commitlint --edit
pre-commit:
  parallel: true
  commands:
    lint:
      tags: lint
      run: npm run lint:fix {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx}"
      stage_fixed: true
    check-format:
      tags: style
      run: npm run format:fix-selected {staged_files}
      glob: "*.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}"
      stage_fixed: true
    talisman:
      tags: security audit
      run: talisman --githook pre-commit
    gitleaks:
      tags: security audit
      run: |
        for file in {staged_files}; do
          gitleaks dir -v --no-banner "$file"
        done
pre-push:
  parallel: true
  commands:
    licenses-audit:
      tags: licenses audit
      run: npm run audit:licences

chore: upd tsconfigs
  tsconfig.base.json
  tsconfig.json
  tsconfig.test.json
  vitest.d.ts
Due: lint, check-format

chore(eslint): fix issues
  app/utils/routerCompat.tsx
Due: lint, check-format

feat(ViusalisationItem): helper func for img proxy path
  app/components/VisualisationItem.tsx
  src/pages/beispiele/visualisierung/[filename].ts
  src/utils/images.ts
Due: lint, check-format

chore: honor tsconfig.test.json in eslint.config.js
  eslint.config.js
  tsconfig.test.json
Due: lint, check-format

test(e2e): use !astro-island[ssr] as hydration marker
  app/routes/dokumentation/DocumentationDataProvider.tsx
  app/routes/unterstuetzung/route.tsx
  app/routes/vorpruefung/preCheckDataHook.ts
  app/utils/useHydrationMarker.ts
  tests/e2e/helpers.ts
Due: lint, check-format

feat: update Dockerfile for astro setup and add nginx configuration WIP
  .gitignore
  Dockerfile
  nginx.conf
Due: none

test(a11y): fix issues
  src/pages/beispiele/index.astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/visualisierungen.astro
  tests/a11y/general.spec.ts
Due: lint, check-format

build(astro): redirects w/ base path
  astro.config.mjs
Due: lint, check-format

chore: cleanup react-router dependencies
  app/routes/__tests__/vorpruefung.eu-bezug.spec.tsx
  app/routes/__tests__/vorpruefung.questionId.spec.tsx
  package.json
  pnpm-lock.yaml
  react-router-preview.config.ts
  react-router.config.ts
  src/config/routes.ts
Due: lint, check-format

nginx conf WIP
  nginx.conf
Due: none

feat: deploy staging image
  .github/workflows/pipeline.yml
Due: check-format

fix: fix build error / trailingSlash mismatch
  astro.config.mjs
  pnpm-lock.yaml
Due: lint, check-format

fix(prettier): fix prettiert problems with posthog
  src/components/Hero.astro
  src/components/Posthog.astro
  src/components/global/ProgressBar.astro
Due: none

fix(talisman): update Posthog.astro to ignore file content detection
  .talismanrc
Due: none

feat: use DetailsSummary elements
  app/routes/dokumentation._documentationNavigation.bewertung-organisatorisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-rechtlich.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-semantisch.tsx
  app/routes/dokumentation._documentationNavigation.bewertung-technisch.tsx
Due: lint, check-format

chore: cleanupt package.json & rm docker-compose
  docker-compose.yml
  package.json
Due: check-format

refactor: static pages -> mdx
  app/routes/barrierefreiheit.tsx
  app/routes/das-ist-neu.tsx
  app/routes/datenschutz.tsx
  app/routes/impressum.tsx
  astro.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/config/routes.ts
  src/layouts/MdxLayout.astro
  src/pages/barrierefreiheit.astro
  src/pages/barrierefreiheit.mdx
  src/pages/datenschutz.astro
  src/pages/datenschutz.mdx
  src/pages/impressum.astro
  src/pages/impressum.mdx
Due: lint, check-format

refactor: move routes methoden and zahlen und fakten
  app/routes/methoden.tsx
  app/routes/test-client-error.tsx
  app/routes/zahlen-und-fakten.tsx
  src/layouts/MdxLayout.astro
  src/pages/zahlen-und-fakten.astro
Due: lint, check-format

refactor: migrate routes to astro (wip)
  app/routes/_index.tsx
  app/routes/methoden.fuenf-prinzipien._index/route.tsx
  src/layouts/MdxLayout.astro
  src/pages/index.astro
  src/pages/methoden/fuenf-prinzipien/index.astro
Due: lint, check-format

refactor: migrate routes to astro (wip)
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.tsx
  src/pages/beispiele/prinzipien/[prinzip].astro
Due: lint, check-format

refactor: move bundeslaender route to astro
  app/routes/bundeslaender.tsx
  app/routes/gesetzgebungsprozess.tsx
  src/pages/bundeslaender.astro
Due: lint, check-format

fix(docker): start nginx as non priviliged user in Dockerfile
  Dockerfile
Due: none

fix(nginx): update server listen ports and parameterize nginx root directory
  nginx.conf
Due: none

refactor(docker): update Dockerfile for improved build process and nginx configuration
  Dockerfile
Due: none

test(vitest): setup for vitest+astro
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/utils/testUtils.ts
  tsconfig.json
Due: lint, check-format

test(index): vitest astro adaption
  src/pages/__tests__/index.test.ts
Due: lint, check-format

test(fuenf-prinzipien): vitest astro adaption
  src/pages/__tests__/methoden/fuenf-prinzipien/index.test.ts
Due: lint, check-format

chore(eslint): astro config
  eslint.config.js
Due: lint, check-format

fix(index): fix title
  src/pages/index.astro
Due: none

fix(eslint): fix eslint error in CI
  src/env.d.ts
Due: lint, check-format

fix(docker): use symlink to avoid mv on read-only filesystem
  Dockerfile
Due: none

fix(docker): fix read-only file system issues
  Dockerfile
  nginx.conf
  nginx.template.conf
Due: none

chore(docker): install pnpm via npm
  Dockerfile
Due: none

refactor(AccordionItem): prepare for usage in astro-island
  app/components/AccordionItem.tsx
Due: lint, check-format

feat(SidebarContainer): astro implementation
  src/components/SidebarContainer.astro
Due: none

refactor(methoden): migrate routes to astro
  app/routes/methoden.$subPage.tsx
  app/routes/methoden._index.tsx
  app/routes/methoden.interview-leitfaden.tsx
  src/components/MethodCard.astro
  src/layouts/MethodenLayout.astro
  src/pages/__tests__/methoden/index.test.ts
  src/pages/methoden/index.astro
  src/pages/methoden/interview-leitfaden.astro
  src/pages/methoden/it-systeme-erfassen.astro
  src/pages/methoden/technische-umsetzbarkeit.astro
  src/pages/methoden/zustaendige-akteurinnen-auflisten.astro
Due: lint, check-format

refactor(interoperabel): move routes to astro
  app/routes/interoperabel.faq.tsx
  app/routes/interoperabel.loesungen.core-vocabularies.tsx
  app/routes/interoperabel.loesungen.dcat-ap.tsx
  src/pages/interoperabel/faq.astro
  src/pages/interoperabel/loesungen/_ChapterBadge.astro
  src/pages/interoperabel/loesungen/core-vocabularies.astro
  src/pages/interoperabel/loesungen/dcat-ap.astro
Due: lint, check-format

chore: rm migrated route files
  app/routes/_index.tsx
  app/routes/barrierefreiheit.tsx
  app/routes/beispiele.prinzipien.$prinzip.tsx
  app/routes/beispiele.tsx
  app/routes/beispiele.visualisierungen.tsx
  app/routes/bundeslaender.tsx
  app/routes/das-ist-neu.tsx
  app/routes/datenschutz.tsx
  app/routes/download.$fileName.ts
  app/routes/gesetzgebungsprozess.tsx
  app/routes/impressum.tsx
  app/routes/interoperabel.faq.tsx
  app/routes/interoperabel.loesungen.core-vocabularies.tsx
  app/routes/interoperabel.loesungen.dcat-ap.tsx
  app/routes/methoden.$subPage.tsx
  app/routes/methoden._index.tsx
  app/routes/methoden.interview-leitfaden.tsx
  app/routes/sitemap.tsx
  app/routes/zahlen-und-fakten.tsx
Due: lint, check-format

test(methoden): fix title mismatches
  src/layouts/MethodenLayout.astro
  src/pages/methoden/it-systeme-erfassen.astro
  src/pages/methoden/technische-umsetzbarkeit.astro
  src/pages/methoden/zustaendige-akteurinnen-auflisten.astro
Due: none
