Repository digitalservicebund/digitalcheck-dito: changes, and which lefthook commands are due for each by the changed paths.
All: lint, check-format

lint:
  tags: lint
  run: npm run lint:fix {staged_files}
  stage_fixed: true

check-format:
  tags: style
  run: npm run format:fix-selected {staged_files}
  stage_fixed: true

chore: ignore .talismanrc in pipeline
  .github/workflows/pipeline.yml
Due: check-format

chore: ignore scripts dir in vulnerability scan
  .github/workflows/scan.yml
Due: check-format

chore: changed some text
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

chore: refine ignored directory
  .github/workflows/scan.yml
Due: check-format

chore: updated text
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

chore: changed link to DC-doku
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

chore: changed links from external to internal
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

chore: changed link to internal link
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

chore: minor text changes
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

chore: changed text
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

chore: added new items on timeline
  src/pages/interoperabel/nationale-kontaktstelle/_content.ts
Due: lint, check-format

chore: edited link
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

chore: changed link to internal
  src/pages/interoperabel/_HintergrundTab.astro
Due: none

fix: remove unused var
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

fix: use correct tab label in link
  src/pages/interoperabel/_UeberblickTab.astro
Due: none

fix: update talismanrc
  .talismanrc
Due: none

chore(deps): bump dependencies
  package.json
  pnpm-lock.yaml
Due: check-format

chore(sonar): exclude scripts/nkr-data
  .sonarcloud.properties
Due: none

chore(deps): upgrade to astro v7
  package.json
  pnpm-lock.yaml
  src/pages/zahlen-und-fakten.astro
  src/utils/testUtils.ts
Due: lint, check-format

build: pin pnpm to v11.11.0 due to upstream bug
  package.json
  pnpm-lock.yaml
Due: check-format

test(e2e): fix whitespace issue for 404 page
  tests/e2e/general.spec.ts
Due: lint, check-format

chore(deps): bump eslint-plugin-astro to v3.0.0
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: lint, check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@a43e43d9b936bc71a838c9ab10bc1bc4fe02552c 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
Due: check-format

Deploying to gh-pages from @ digitalservicebund/digitalcheck-dito@a43e43d9b936bc71a838c9ab10bc1bc4fe02552c 🚀
  previews/laender-astro/beispiele/index.html
  previews/laender-astro/dev/index.html
  previews/laender-astro/dokumentation/absenden/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/automatisierung-basiert-auf-eindeutigen-regelungen/index.html
  previews/laender-astro/dokumentation/beteiligungsformate/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenschutz-und-informationssicherheit-schaffen-vertrauen/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/erlaeuterung/index.html
  previews/laender-astro/dokumentation/datenwiederverwendung-benoetigt-einheitliches-recht/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/erlaeuterung/index.html
  previews/laender-astro/dokumentation/digitale-angebote-fuer-alle-nutzbar-gestalten/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/erlaeuterung/index.html
  previews/laender-astro/dokumentation/etablierte-technologien-ermoeglichen-effiziente-umsetzung/index.html
  previews/laender-astro/dokumentation/hinweise/index.html
  previews/laender-astro/dokumentation/index.html
  previews/laender-astro/dokumentation/regelungsvorhaben-titel/index.html
  previews/laender-astro/dokumentation/zusammenfassung/index.html
  previews/laender-astro/interoperabel/index.html
  previews/laender-astro/interoperabel/nationale-kontaktstelle/index.html
  previews/laender-astro/unterstuetzung/index.html
  previews/laender-astro/vorpruefung/automatisierung/index.html
  previews/laender-astro/vorpruefung/bundesland/index.html
  previews/laender-astro/vorpruefung/datenaustausch/index.html
  previews/laender-astro/vorpruefung/ergebnis/index.html
  previews/laender-astro/vorpruefung/eu-bezug/index.html
  previews/laender-astro/vorpruefung/it-system/index.html
  previews/laender-astro/vorpruefung/kommunikation/index.html
  previews/laender-astro/vorpruefung/verpflichtungen-fuer-beteiligte/index.html
Due: check-format

refactor(beispiele): use Astro RouteTabs
  src/pages/beispiele/prinzipien/[principleId].astro
Due: none

chore: cleanup '~/' alias and old references to /app folder
  Dockerfile
  astro.config.mjs
  eslint.config.js
  tsconfig.json
Due: lint, check-format

feat(bundeslaender): add new FAQ section highlighting benefits of the Digitalcheck for Bund and Länder
  src/pages/bundeslaender/index.astro
  src/resources/content/das-ist-neu.ts
Due: lint, check-format

refactor(beispiele-regelungen): inline text content
  .talismanrc
  src/components/RegulationMetadata.tsx
  src/layouts/BeispieleLayout.astro
  src/pages/beispiele/prinzipien/[principleId].astro
  src/resources/content/beispiele-regelungen.ts
  src/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

chore(talisman): app -> src
  .talismanrc
Due: none

refactor(beispiele-regelungen): as Astro page
  src/layouts/BeispieleLayout.astro
  src/pages/beispiele/regelungen/[regelung].astro
  src/pages/beispiele/regelungen/_FormulierungenTab.astro
  src/pages/beispiele/regelungen/_NKRStellungnahmeTab.astro
  src/pages/beispiele/regelungen/_VisualisierungTab.astro
  src/routes/beispiele.regelungen.$regelung.tsx
Due: lint, check-format

chore: updated schulungstermine
  src/resources/content/unterstuetzung.ts
Due: lint, check-format

refactor(fuenf-prinzipien): as Astro page
  src/pages/__tests__/methoden/fuenf-prinzipien/[principleId].test.ts
  src/pages/methoden/fuenf-prinzipien/[principleId].astro
  src/pages/methoden/fuenf-prinzipien/_Aspect.astro
  src/pages/methoden/fuenf-prinzipien/_PrincipleNavigation.astro
  src/pages/methoden/fuenf-prinzipien/_Textbeispiel.astro
  src/pages/methoden/fuenf-prinzipien/_textModifiers.tsx
  src/routes/methoden.fuenf-prinzipien.$prinzip/route.tsx
Due: lint, check-format

chore: exclude scripts from dependabot
  .github/dependabot.yml
Due: check-format

chore: updated description of schulung
  src/resources/content/unterstuetzung.ts
Due: lint, check-format

refactor(bundeslaender): remove accordion element which repeats content
  src/pages/bundeslaender/index.astro
Due: none

ci(pipeline): add concurrency group to cancel-in-progress previous runs
  .github/workflows/pipeline.yml
Due: check-format

chore(eslint): exclude python venv
  eslint.config.js
Due: lint, check-format

Path conditions:
  lint: any of: *.{js,cjs,mjs,ts,jsx,tsx}
  check-format: any of: *.{js,cjs,mjs,ts,jsx,tsx,json,css,md,yml,yaml,html}
